<!-- Bootstrap Select Css -->
<link href="<?= $this->basePath('template/plugins/bootstrap-select/css/bootstrap-select.css') ?>" rel="stylesheet" />

<!-- Bootstrap Material Datetime Picker Css -->
<link href="<?= $this->basePath('template/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') ?>" rel="stylesheet" />


<div class="card">
    <div class="header">
        <h2>
            <?= $this->translate('plan'); ?>
            <small></small>
        </h2>

        <ul class="header-dropdown m-r--5 hidden-print">
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <!-- <li data-toggle="modal" data-target="#edit-modal">
                        <a href="" class=" waves-effect waves-block"><i class="material-icons">add</i> <?= $this->translate('add') ?></a>
                    </li> -->
                    <li>
                        <a href="<?php echo $this->url('plan', ['action' => 'report']) ?>" class=" waves-effect waves-block"><i class="material-icons">pie_chart</i> <?= $this->translate('report') ?></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="body">

        <form id="frm-search">
            <div class="row justify-content-md-center">
                <div class="col-sm-2">
                    <select class="form-control show-tick" name="type" onchange="$('#frm-search').submit()">
                        <option value=""><?= $this->translate('ประเภททั้งหมด') ?></option>
                        <?php
                        foreach ($this->typeList as $t) {
                            $sel = '';
                            if ($t == $this->type) {
                                $sel = 'selected';
                            }
                        ?>
                            <option <?= $sel ?> value="<?= $t ?>"><?= $t ?></option>
                        <?php
                        }
                        ?>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control show-tick" name="activity" onchange="$('#frm-search').submit()">
                        <option value=""><?= $this->translate('กิจกรรมทั้งหมด') ?></option>

                        <?php
                        foreach ($this->activityList as $a) {
                            $sel = '';
                            if ($a == $this->activity) {
                                $sel = 'selected';
                            }
                        ?>
                            <option <?= $sel ?> value="<?= $a ?>"><?= $a ?></option>
                        <?php
                        }
                        ?>

                    </select>
                </div>
                <div class="col-sm-8">

                    <div class="row justify-content-md-center">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">calendar_today</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" name="plan_date" class="form-control datepicker-filter" placeholder="<?= $this->translate('end date') ?>" value="<?php echo $this->planDate; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    to
                                </span>
                                <div class="form-line">
                                    <input type="text" name="plan_date_to" class="form-control datepicker-filter" placeholder="<?= $this->translate('end date') ?>" value="<?php echo $this->planDateTo; ?>">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">calendar_today</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" name="actual_date" class="form-control datepicker-filter" placeholder="<?= $this->translate('actual date') ?>" value="<?php echo $this->actualDate; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    to
                                </span>
                                <div class="form-line">
                                    <input type="text" name="actual_date_to" class="form-control datepicker-filter" placeholder="<?= $this->translate('actual date') ?>" value="<?php echo $this->actualDateTo; ?>">
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
            <div class="row justify-content-md-center">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 offset-sm-6">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">search</i>
                        </span>
                        <div class="form-line">
                            <input type="text" name="search" id="search" class="form-control" placeholder="<?= $this->translate('คำค้น') ?>" value="<?php echo $this->search; ?>">
                        </div>
                    </div>

                </div>
            </div>
            <div class="align-right">
                <button type="submit" class="btn btn-success"><?= $this->translate('search') ?></button>
            </div>

        </form>
        <hr />
        <div class="text-right">
            <?= $this->translate('total') ?> : <?= number_format($this->paginator->getTotalItemCount()) ?> รายการ
        </div>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="50">#</th>
                    <th><?= $this->translate('road') ?></th>
                    <th><?= $this->translate('station') ?></th>
                    <th><?= $this->translate('province') ?></th>
                    <th><?= $this->translate('area') ?></th>
                    <th><?= $this->translate('type') ?></th>
                    <th><?= $this->translate('activity') ?></th>
                    <th><?= $this->translate('start date') ?></th>
                    <th><?= $this->translate('end date') ?></th>
                    <th><?= $this->translate('actual date') ?></th>
                    <th><?= $this->translate('วันที่ส่ง FICT') ?></th>
                    <!-- <th width="50"></th> -->
                </tr>
            </thead>
            <tbody>
                <?php
                $no = ($this->number * $this->page) - $this->number;
                foreach ($this->paginator as $row) :
                    $no++;
                ?>
                    <tr>
                        <td>
                            <?php echo $no; ?>
                        </td>
                        <td><?php echo $this->escapeHtml($row->plan_station_road); ?></td>
                        <td><?php echo $this->escapeHtml($row->plan_station_name); ?></td>
                        <td><?php echo $this->escapeHtml($row->plan_province); ?></td>
                        <td><?php echo $this->escapeHtml($row->station_area); ?></td>
                        <td align="center"><?php echo $this->escapeHtml($row->plan_type); ?></td>
                        <td align="center"><?php echo $this->escapeHtml($row->plan_activity); ?></td>
                        <td align="center">
                            <?php
                            if (!empty($row->plan_start_at)) {
                                echo $this->escapeHtml($row->plan_start_at);
                            } else {
                            ?>
                                <input class="form-control datepicker align-center" style="width: 100px;" type="text" value="" id="plan_start_at-<?= $row->plan_id ?>" />
                            <?php
                            }

                            ?>
                        </td>
                        <td align="center">
                            <?php
                            if (!empty($row->plan_end_at)) {
                                echo $this->escapeHtml($row->plan_end_at);
                            } else {
                            ?>
                                <input class="form-control datepicker align-center" style="width: 100px;" type="text" value="" id="plan_end_at-<?= $row->plan_id ?>" />
                            <?php
                            }

                            ?>

                        </td>
                        <td>
                            <?php
                            if (!empty($row->plan_actual_at)) {
                                echo $this->escapeHtml($row->plan_actual_at);
                            } else {
                            ?>
                                <input class="form-control datepicker align-center" style="width: 100px;" type="text" value="" id="plan_actual_at-<?= $row->plan_id ?>" />
                            <?php
                            }

                            ?>
                        </td>
                        <td>
                            <?php
                            if (!empty($row->plan_fict_at)) {
                                echo $this->escapeHtml($row->plan_fict_at);
                            } else {
                            ?>
                                <input class="form-control datepicker align-center" style="width: 100px;" type="text" value="" id="plan_fict_at-<?= $row->plan_id ?>" />
                            <?php
                            }

                            ?>
                        </td>
                        <!-- <th>

                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">

                                        <li data-toggle="modal" data-target="#edit-modal"><a href="javascript:editPlan(<?= $row->plan_id ?>)" class=" waves-effect waves-block"><i class="material-icons">edit</i> <?= $this->translate('edit') ?></a></li>
                                        <li><a href="javascript:removePlan(<?= $row->plan_id ?>);" class=" waves-effect waves-block"><i class="material-icons">delete</i> <?= $this->translate('delete') ?></a></li>
                                    </ul>
                                </li>
                            </ul>

                        </th> -->
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

        <?php
        echo $this->paginationControl(
            $this->paginator,
            'sliding',
            'partial/paginator.phtml',
            array(
                'route' => 'plan',
                'action' => 'index',
                'type' => $this->type,
                'activity' => $this->activity,
                'search' => $this->search,
                'planDate' => $this->planDate,
                'planDateTo' => $this->planDateTo,
                'actualDate' => $this->actualDate,
                'actualDateTo' => $this->actualDateTo,
            )
        );
        ?>
        <div class="text-right">
            <?= $this->translate('total') ?> : <?= number_format($this->paginator->getTotalItemCount()) ?> รายการ
        </div>
    </div>
</div>


<!-- Select Plugin Js -->
<script src="<?= $this->basePath('template/plugins/bootstrap-select/js/bootstrap-select.js') ?>"></script>

<!-- Moment Plugin Js -->
<script src="<?= $this->basePath('template/plugins/momentjs/moment.js') ?>"></script>

<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="<?= $this->basePath('template/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') ?>"></script>

<!-- Sweetalert Css -->
<link href="<?php echo $this->basePath('template/plugins/sweetalert/sweetalert.css'); ?>" rel="stylesheet" />

<!-- SweetAlert Plugin Js -->
<script src="<?php echo $this->basePath('template/plugins/sweetalert/sweetalert.min.js'); ?>"></script>


<script>
    $(function() {
        $('.datepicker-filter').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD',
            clearButton: true,
            weekStart: 0,
            time: false
        }).on('change', function(e, date) {


        });

        $('.datepicker').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD',
            clearButton: false,
            weekStart: 0,
            time: false
        }).on('change', function(e, date) {
            var tmp = $(e.target).attr('id').split('-');
            var field = tmp[0];
            var id = tmp[1];

            var value = $(e.target).val();

            swal({
                title: "<?= $this->translate('ยืนยันการบันทึกข้อมูล'); ?>?",
                text: "<?= $this->translate('หากตกลงคุณจะไม่สามารถแก้ไขข้อมูลได้'); ?>",
                type: "warning",
                showConfirmButton: true,
                showCancelButton: true
            }, function(inputValue) {

                if (inputValue === false) {
                    $(e.target).val('');
                    swal.close();
                } else {

                    $.post('<?php echo $this->url('plan', ['action' => 'save']) ?>', {
                        'id': id,
                        'field': field,
                        'value': value
                    }, function(res) {

                        // console.log(res);

                        setTimeout('location.reload();', 1000);

                        // swal({
                        //     title: "<?= $this->translate('saved'); ?>!",
                        //     text: "<?= $this->translate('your data has been saved.'); ?>",
                        //     type: "success",
                        //     showConfirmButton: false
                        // }).then(function() {

                        // });

                    });

                }
            });

        });

    });
</script>