﻿<style>
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul div {
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
    background-color: white;

  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: white;
  }
</style>

<!-- <h1>API Data</h1> -->
<!-- <?php echo $url; ?> -->
<?php if (isset($errorMessage)) : ?>
    <p><?php echo $errorMessage; ?></p>
<?php else : ?>
    <ul>
        <?php 
        if(count($apiData)){
        foreach ($apiData as $item) : ?>
            <div>
                <strong>Report ID:</strong> <?php echo $item['report_id']; ?>
            </div>
            <div>
                <strong>Report Type:</strong> <?php echo $item['report_type']; ?>
            </div>
            <div>
                <strong>Submitted Date:</strong> <?php echo $item['submitted_date']; ?>
            </div>
            <div>
                <strong>State:</strong> <?php echo $item['state']; ?>
            </div>
            <div>
                <strong>Remark:</strong> <?php echo $item['remark']; ?>
            </div>

            <?php foreach ($item['data'] as $data) : ?>
                <table>
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($data as $key => $value) : ?>
                            <?php if (is_array($value)) : ?>
                                <?php foreach ($value as $subKey => $subValue) : ?>
                                    <?php if (is_array($subValue)) : ?>
                                        <?php foreach ($subValue as $subSubKey => $subSubValue) : ?>
                                            <tr>
                                                <td><?php echo $subSubKey; ?></td>
                                                <td><?php echo $subSubValue; ?></td>
                                            </tr>
                                        <?php endforeach; ?>
                                    <?php else : ?>
                                        <tr>
                                            <td><?php echo $subKey; ?></td>
                                            <td><?php echo $subValue; ?></td>
                                        </tr>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            <?php else : ?>
                                <tr>
                                    <td><?php echo $key; ?></td>
                                    <td><?php echo $value; ?></td>
                                </tr>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endforeach; ?>
        <?php 
        endforeach; 
    }else{
        echo 'ไม่พบข้อมูล';
    }
        ?>
    </ul>
<?php endif; ?>
