﻿
<?php
$uploadUrl = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://" . $_SERVER['HTTP_HOST'] . $this->basePath('uploads') . "/";
?>
<link rel="stylesheet" href="https://js.arcgis.com/4.17/esri/themes/light/main.css" />
<!-- <link rel="stylesheet" href="https://js.arcgis.com/4.4/esri/themes/light-blue/main.css"> -->
<style>
    html,
    body,
    #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    #main-content-box {
        height: 100%;
    }

    section.content {
        margin: 0;
        padding: 70px 0px 0 300px;
        height: 100%;
    }

    .ls-closed section.content {
        margin-left: 0;
        padding-left: 0;
    }

    .esri-view .esri-view-surface--inset-outline:focus::after {
        outline: none;
    }

    .esri-view-surface:focus {
        outline: none;
    }

    .esri-ui,
    .esri-overlay-surface:focus {
        outline: none;
    }

    .esri-view-surface canvas:focus {
        outline: none;
    }

    .esri-layer-list__item-container {
        padding: 7px 7px 2px 20px;
    }

    #infoDiv {
        position: absolute;
        top: 85px;
        left: 60px;
        right: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* #buffer input[type="button"] {
        position: absolute;
        right: 14px;
        top: 255px;
        width: 35px;
        height: 35px;
        background-color: #fff;
    }

    #buffer input[type="range"] {
        position: absolute;
        right: 14px;
        top: 285px;
        width: 60px;
        height: 50px;
    }

    #buffer span[class="output"] {
        position: absolute;
        right: 90px;
        top: 300px;
        width: 12px;
        height: 12px;
    } */

    #buffer-content {
        background-color: #fff;
        padding: 10px;
        max-width: 600px;
    }

    .custom-btn {
        border: none;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
    }

    .esri-search {
        width: 500px;
    }

    .esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
        top: 69px;
    }

    @media (min-width: 768px) {

        .navbar>.container .navbar-brand,
        .navbar>.container-fluid .navbar-brand {
            margin-left: 45px;
        }
    }

    @media (max-width: 576px) {
        .xs-full {
            margin-top: -30px;
        }

        .esri-ui-bottom-left {
            bottom: 60px;
        }

        .esri-ui-bottom-right {
            bottom: 60px;
        }

    }

    .vertical-line {
        position: absolute;
        width: 1px;
        top: 0px;
        bottom: 0px;
        left: 50%;
        background-color: #e00;
        margin-left: -1px;
    }

    .horizontal-line {
        position: absolute;
        display: flex;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    .horizontal-line div {
        height: 1px;
        width: 100%;
        background-color: #e00;
    }

    .esri-ui {
        z-index: 2;
    }

    .esri-scale-bar.esri-widget {
        z-index: 0;
    }

    #report {
        /* position: absolute;
        top: 144px;
        left: 60px; */
        /* width: 600px; */
        height: 250px;
        background-color: #fff;
        /* border: solid 1px #ccc; */
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        display: none;
        text-align: center;
    }

    #report-table td {
        border: 1px solid #ccc;
        padding: 3px;
        white-space: nowrap;
    }

    #btReport button {
        position: absolute;
        top: 410px;
        left: 14px;
        width: 34px;
        height: 34px;
    }

    #advance-search-table td {
        padding-bottom: 2px;
    }

    .offset-data-tb {
        border: solid 1px #ccc;
    }

    .offset-data-tb td {
        padding: 4px;
        border: solid 1px #ccc;
    }

    .esri-ui-corner .esri-expand .esri-widget--panel {
        width: 510px;
    }
</style>



<div id="viewDiv"></div>
<div id="infoDiv">
    <div id="search"></div>
    <!-- <div class="esri-widget--button custom-btn" id="zoomButton">
        <span aria-hidden="true" class="esri-collapse__icon esri-icon-zoom-in-magnifying-glass"></span>
    </div> -->

    <!-- <input class="esri-component esri-widget--button esri-widget esri-interactive" type="button" id="switch-btn" value="3D" /> -->
</div>
<div id="bottomDiv">
    <div id="scaleBar"></div>
</div>

<div id="buffer-box">
    <div id="buffer-content">


        <div style="width: 400px;">

            <table width="100%">
                <tr>
                    <td>
                        <input class="esri-button esri-button--secondary" type="button" value="Off" id="onoff" title="Buffer">
                    </td>
                    <td style="padding-left: 10px;">
                        <input id="range" type="range" min="0" max="0" value="0" aria-label="select pen size">
                    </td>
                    <td align="right">
                        <span id="textbuffer" class="output">0</span> กิโลเมตร
                    </td>
                </tr>
            </table>

        </div>

        <div style="padding-top: 10px; text-align: right;">
            <table width="100%">
                <tr>
                    <td align="left">จำนวนทั้งหมด: <span id="report-total"></span> รายการ</td>
                    <td align="right">
                        <button class="esri-print__export-button esri-button" onclick="exportToExcel('xlsx', 'factory', 'report')">Export</button>
                    </td>
                </tr>
            </table>

        </div>
        <div>
            <div id="report" style="overflow:auto;"></div>
        </div>
    </div>
</div>

<!-- <div id="offset-boundary-box">
    <div style="width: 300px; background-color: #fff; padding: 10px; text-align:center;">
        <div>เพิ่มระยะขอบ 5 กิโลเมตร</div>
        <div style="width: 200px; margin: 0 auto;">
            <button class="esri-print__export-button esri-button" id="offset-boundary-btn">On</button>
        </div>
        <div id="offset-boundary-process" style="text-align:center;display:none">กำลังประมวลผล ...</div>
        <div id="offset-boundary-data" style="overflow:auto; height: 200px;"></div>
    </div>
</div> -->

<div id="advance-search-box">

    <form id="advance-search-frm">
        <div style="width: 300px; background-color: #fff; padding: 10px; text-align:left;">
            <h5>ค้นหา</h5>
            <table width="100%" id="advance-search-table">
                <tr>
                    <td>
                        ผลิตภัณฑ์:
                    </td>
                    <td>
                        <input class="esri-input" name="data[product]" type="text" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        วัตถุดิบ:
                    </td>
                    <td>
                        <input class="esri-input" name="data[material]" type="text" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        เครื่องจักร:
                    </td>
                    <td>
                        <input class="esri-input" name="data[machine]" type="text" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        ของเสียไม่อันตราย:
                    </td>
                    <td>
                        <input class="esri-input" name="data[non_hazard_waste]" type="text" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        ของเสียอันตราย:
                    </td>
                    <td>
                        <input class="esri-input" name="data[hazard_waste]" type="text" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        หม้อต้มหม้อน้ำ:
                    </td>
                    <td>
                        <input class="esri-input" name="data[boiler]" type="text" value="" />
                    </td>
                </tr>
            </table>


            <div style="width: 200px; margin: 0 auto; text-align:center;">
                <button type="button" class="esri-print__export-button esri-button" id="advance-search-btn">ค้นหา</button>
                <div id="advance-search-process" style="text-align:center;"></div>
            </div>
    </form>
</div>
</div>



<!-- <div id="btReport">
    <button onclick="showReport()">O</button>
</div> -->




<!-- <div class="vertical-line"></div>
<div class="horizontal-line">
    <div></div>
</div> -->

<script src="https://js.arcgis.com/4.17/"></script>

<script>
    var map, view;
    require([
        "esri/Map",
        "esri/views/MapView",
        // "esri/views/SceneView",
        "esri/layers/FeatureLayer",
        "esri/widgets/FeatureTable",
        "esri/layers/MapImageLayer",
        "esri/layers/ImageryLayer",
        "esri/layers/GroupLayer",
        "esri/layers/GeoJSONLayer",

        "esri/widgets/Home",
        "esri/widgets/Track",
        "esri/widgets/Locate",
        "esri/widgets/Expand",
        "esri/widgets/LayerList",
        "esri/widgets/BasemapToggle",
        "esri/widgets/BasemapGallery",
        "esri/widgets/Legend",
        "esri/widgets/ScaleBar",
        "esri/widgets/Search",
        "esri/widgets/DistanceMeasurement2D",
        "esri/widgets/AreaMeasurement2D",
        "esri/widgets/Compass",
        "esri/widgets/CoordinateConversion",
        "esri/tasks/Locator",
        "esri/widgets/Print",
        "esri/widgets/Editor",
        "esri/PopupTemplate",
        // "esri/renderers/UniqueValueRenderer",
        // "esri/symbols/SimpleFillSymbol",
        "esri/Graphic",
        "esri/layers/GraphicsLayer",
        "esri/geometry/Circle",
        "esri/geometry/geometryEngine",
        "esri/tasks/support/Query",
        "esri/tasks/GeometryService",
        "esri/tasks/support/BufferParameters",
        "esri/geometry/SpatialReference",
        "esri/geometry/Point"

    ], function(
        Map,
        MapView,
        // SceneView,
        FeatureLayer,
        FeatureTable,
        MapImageLayer,
        ImageryLayer,
        GroupLayer,
        GeoJSONLayer,
        Home,
        Track,
        Locate,
        Expand,
        LayerList,
        BasemapToggle,
        BasemapGallery,
        Legend,
        ScaleBar,
        Search,
        DistanceMeasurement2D,
        AreaMeasurement2D,
        Compass,
        CoordinateConversion,
        Locator,
        Print,
        Editor,
        PopupTemplate,
        // UniqueValueRenderer,
        // SimpleFillSymbol,
        Graphic,
        GraphicsLayer,
        Circle,
        geometryEngine,
        Query,
        GeometryService,
        BufferParameters,
        SpatialReference,
        Point
    ) {


        // var renderer = new UniqueValueRenderer({
        //     field: "LAND_NO",
        //     defaultSymbol: new SimpleFillSymbol()
        // });

        // renderer.addUniqueValueInfo("18",
        //     new SimpleFillSymbol({
        //         color: "red"
        //     })
        // );

        // renderer.addUniqueValueInfo(1,
        //     new SimpleFillSymbol({
        //         color: "green"
        //     })
        // );

        // const switchButton = document.getElementById("switch-btn");
        // switchButton.addEventListener("click", function() {
        //     switchView();
        // });

        // function switchView() {
        //     const viewpoint = activeView.viewpoint.clone();
        //     const type = activeView.type;

        //     activeView.container = null;
        //     activeView = null;
        //     // Set the view based on whether it switched to 2D MapView or 3D SceneView
        //     activeView = type.toUpperCase() === "2D" ? sceneView : mapView;
        //     activeView.set({
        //         container: "viewDiv",
        //         viewpoint: viewpoint
        //     });

        //     switchButton.value = type.toUpperCase();

        // }
        const clusterConfig = {
            type: "cluster",
            clusterRadius: "100px",
            // {cluster_count} is an aggregate field containing
            // the number of features comprised by the cluster
            popupTemplate: {
                title: "สรุปจำนวน",
                content: "คลัสเตอร์นี้จะแทน {cluster_count} ฟีเจอร์",
                fieldInfos: [{
                    fieldName: "cluster_count",
                    format: {
                        places: 0,
                        digitSeparator: true
                    }
                }]
            },
            clusterMinSize: "24px",
            clusterMaxSize: "60px",
            labelingInfo: [{
                deconflictionStrategy: "none",
                labelExpressionInfo: {
                    expression: "Text($feature.cluster_count, '#,###')"
                },
                symbol: {
                    type: "text",
                    color: "#004a5d",
                    font: {
                        weight: "bold",
                        family: "Noto Sans",
                        size: "12px"
                    }
                },
                labelPlacement: "center-center",
            }]
        };

        async function generateClusterConfig(layer) {
            // generates default popupTemplate
            const popupTemplate = await clusterPopupCreator
                .getTemplates({
                    layer
                })
                .then(
                    (popupTemplateResponse) =>
                    popupTemplateResponse.primaryTemplate.value
                );

            // generates default labelingInfo
            const {
                labelingInfo,
                clusterMinSize
            } = await clusterLabelCreator
                .getLabelSchemes({
                    layer,
                    view
                })
                .then((labelSchemes) => labelSchemes.primaryScheme);

            return {
                type: "cluster",
                popupTemplate,
                labelingInfo,
                clusterMinSize
            };
        }


        <?php
        $groupLayer = [];
        foreach ($this->layerGroup as $row) {
            if (isset($row['layers'])) {
                $groupLayer[] = 'groupLayer_' . $row['layer_group_id'];
        ?>
                var groupLayer_<?= $row['layer_group_id'] ?> = new GroupLayer({
                    id: 'group-layer-<?= $row['layer_group_id'] ?>',
                    title: "<?= $row['layer_group_name'] ?>",
                    visible: false,
                    visibilityMode: 'independent',
                    // visibilityMode: 'inherited', //all
                    // visibilityMode: "exclusive", // radio
                    layers: [],
                    // opacity: 0.75
                });
                <?php

                foreach ($row['layers'] as $layer) {
                ?>

                    var layerUrl_<?= $layer['layer_id'] ?> = '<?= $layer['layer_url'] ?>';

                    <?php
                    if ($layer['layer_type'] == 'Feature') {
                    ?>
                        var layer_<?= $layer['layer_id'] ?> = new FeatureLayer({
                            id: '<?= $layer['layer_id'] ?>',
                            title: '<?= $layer['layer_name'] ?>',
                            url: layerUrl_<?= $layer['layer_id'] ?>,
                            // mode: FeatureLayer.MODE_ONDEMAND,
                            visible: false,
                            outFields: ["*"]
                            // renderer: renderer
                        });
                    <?php
                    } else if ($layer['layer_type'] == 'Imagery') {
                    ?>
                        var layer_<?= $layer['layer_id'] ?> = new ImageryLayer({
                            title: '<?= $layer['layer_name'] ?>',
                            url: layerUrl_<?= $layer['layer_id'] ?>,
                            listMode: "hide-children",
                            visible: false
                        });
                    <?php
                    } else if ($layer['layer_type'] == 'FeatureCluster') {
                    ?>
                        var layer_<?= $layer['layer_id'] ?> = new FeatureLayer({
                            id: '<?= $layer['layer_id'] ?>',
                            title: '<?= $layer['layer_name'] ?>',
                            url: layerUrl_<?= $layer['layer_id'] ?>,
                            // mode: FeatureLayer.MODE_ONDEMAND,
                            featureReduction: clusterConfig,
                            visible: false,
                            outFields: ["*"]
                            // renderer: renderer
                        });
                    <?php
                    } else {
                    ?>
                        var layer_<?= $layer['layer_id'] ?> = new MapImageLayer({
                            title: '<?= $layer['layer_name'] ?>',
                            url: layerUrl_<?= $layer['layer_id'] ?>,
                            listMode: "hide-children",
                            visible: false
                        });
                    <?php
                    }
                    ?>
                    groupLayer_<?= $row['layer_group_id'] ?>.add(layer_<?= $layer['layer_id'] ?>);

                    var attr_<?= $layer['layer_id'] ?> = JSON.parse('<?= $layer['layer_attribute'] ?>');

                    $.get(layerUrl_<?= $layer['layer_id'] ?> + '/query?where=1=1&outFields=*&f=pjson', function(res) {

                        var jsonLayer = JSON.parse(res);
                        var field = [];
                        var features = jsonLayer.features;

                        var content_<?= $layer['layer_id'] ?> = '<table id="tb-<?= $layer['layer_id'] ?>" class="esri-widget__table" summary="List of attributes and values">';
                        content_<?= $layer['layer_id'] ?> += '<tbody>';

                        var apiUrl = '<?= $this->url('map', ['action' => 'api'], ['force_canonical' => true]) ?>';
                        var dispfacreg = '';

                        for (var index in jsonLayer.fields) {
                            var i = index;
                            var f = jsonLayer.fields[index];
                            // var dispfacreg = features[index].attributes.DISPFACREG;
                            // console.log(features[i].attribute);

                            var visible = false;
                            if (typeof attr_<?= $layer['layer_id'] ?>.visible !== "undefined") {
                                visible = eval('attr_<?= $layer['layer_id'] ?>.visible.' + f.name);
                            }

                            if (visible) {

                                var name = '';
                                if (typeof attr_<?= $layer['layer_id'] ?>.name !== "undefined") {
                                    name = eval('attr_<?= $layer['layer_id'] ?>.name.' + f.name);
                                }

                                field.push({
                                    fieldName: f.name,
                                    label: name
                                });


                                if (f.name.indexOf("PICTURE") != -1) {

                                    content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + name + '</th><td class="esri-feature-fields__field-data"><img alt="{' + f.name + '}" src="https://ptizapp.diw.go.th/pictures/{' + f.name + '}" style="max-width: 200px"/></td></tr>';

                                } else if (f.name.indexOf("Picture") != -1) {

                                    content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + name + '</th><td class="esri-feature-fields__field-data"><img alt="{' + f.name + '}" src="https://ptizapp.diw.go.th/pictures/{' + f.name + '}" style="max-width: 200px"/></td></tr>';

                                } else if (f.name.indexOf("PDF") != -1) {

                                    content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + name + '</th><td class="esri-feature-fields__field-data"><a href="https://ptizapp.diw.go.th/pdf/{' + f.name + '}" target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';

                                } else if (f.name.indexOf("PDF02") != -1) {

                                    content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + name + '</th><td class="esri-feature-fields__field-data"><a href="https://ptizapp.diw.go.th/pdf/{' + f.name + '}" target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';

                                } else if (f.name.indexOf("รหัสโรงงาน") != -1) {
                                    if (f.name !== null && f.name !== undefined) {
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + name + '</th><td class="esri-feature-fields__field-data">{' + f.name + '}</td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลวัสดุที่ไม่ใช้แล้วในบริเวณโรงงาน" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=1&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลวัตถุดิบและปริมาณการใช้" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=2&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลผลิตภัณฑ์และกำลังการผลิต" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=3&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลเครื่องจักรในขบวนการผลิต" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=4&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ผลพลอยได้โรงงาน" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=5&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ทะเบียนหม้อไอน้ำ" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=6&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ประเมินความเสี่ยง" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=8&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                    }
                                } else if (f.name.indexOf("FACNEW") != -1) {
                                    if (f.name !== null && f.name !== undefined) {
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ทะเบียนเครื่องจักร" + '</th><td class="esri-feature-fields__field-data"><a href="http://omr.diw.go.th/customer/control/InforegisterServlet?action=vmach&fid={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "สารเคมี" + '</th><td class="esri-feature-fields__field-data"><a href="' + apiUrl + '?fid={' + f.name + '}&dispfacreg=' + dispfacreg + '" target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                    }
                                } else if (f.name.indexOf("DISPFACREG") != -1) {
                                    if ('{' + f.name + '}' !== null && '{' + f.name + '}' !== undefined) {

                                        dispfacreg = '{' + f.name + '}';

                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + f.name + '</th><td class="esri-feature-fields__field-data">{' + f.name + '}</td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลวัสดุที่ไม่ใช้แล้วในบริเวณโรงงาน" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=1&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลวัตถุดิบและปริมาณการใช้" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=2&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลผลิตภัณฑ์และกำลังการผลิต" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=3&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลเครื่องจักรในขบวนการผลิต" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=4&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ผลพลอยได้โรงงาน" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=5&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ทะเบียนหม้อไอน้ำ" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=6&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ประเมินความเสี่ยง" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=8&faccode={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                    }
                                } else if (f.name.indexOf("iname") != -1) {
                                    if (f.name !== null && f.name !== undefined) {
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + name + '</th><td class="esri-feature-fields__field-data">{' + f.name + '}</td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "อุตสาหกรรมเป้ามหมาย" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/target?fac={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "อุตสาหกรรมห้ามตั้ง" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/nontarget?fac={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                        content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "โรงงานในเขตประกอบการ" + '</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/factory?fac={' + f.name + '}"target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';
                                    }
                                } else if (f.name.indexOf("FNumber") != -1) {
                                    content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + name + '</th><td class="esri-feature-fields__field-data">{' + f.name + '}</td></tr>';

                                     content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลเขตประกอบการอุตสาหกรรม" + '</th><td class="esri-feature-fields__field-data"><a href="http://reg3.diw.go.th/cluster3/?page_id=289" target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';

                                } else if (f.name.indexOf("Factory") != -1) {
                                    content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + name + '</th><td class="esri-feature-fields__field-data">{' + f.name + '}</td></tr>';

                                    content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลเขตประกอบการอุตสาหกรรม" + '</th><td class="esri-feature-fields__field-data"><a href="http://reg3.diw.go.th/cluster3/?page_id=289" target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';

                                } else if (f.name.indexOf("Factory") != -1) {
                                    content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + name + '</th><td class="esri-feature-fields__field-data">{' + f.name + '}</td></tr>';

                                    content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + "ข้อมูลเขตประกอบการอุตสาหกรรม" + '</th><td class="esri-feature-fields__field-data"><a href="http://reg3.diw.go.th/cluster3/?page_id=289" target="_blank">คลิกเพื่อดูข้อมูล</a></td></tr>';

                                } else {
                                    content_<?= $layer['layer_id'] ?> += '<tr><th class="esri-feature-fields__field-header">' + name + '</th><td class="esri-feature-fields__field-data">{' + f.name + '}</td></tr>';
                                }
                            }

                        }

                        content_<?= $layer['layer_id'] ?> += '</tbody></table>';

                        // console.log(content_<?= $layer['layer_id'] ?>);

                        layer_<?= $layer['layer_id'] ?>.popupTemplate = {
                            content: content_<?= $layer['layer_id'] ?>
                        }


                    });

        <?php
                }
            }
        }
        ?>

        map = new Map({
            basemap: "topo",
            layers: [<?= implode(',', $groupLayer) ?>]
        });

        const mapView = new MapView({
            container: "viewDiv",
            map: map,
            center: [100.5470154, 13.784143],
            // center: [100.3225, 6.6675],
            zoom: 6

        });

        // Create SceneView with similar extent to MapView
        // const sceneView = new SceneView({
        //     scale: 123456789,
        //     center: [100.5470154, 13.784143],
        //     map: map
        // });

        // Set the activeView to the 2D MapView
        let activeView = mapView;

        initWidget();



        var graphicsLayer = new GraphicsLayer();

        // var featureLayer = new FeatureLayer({
        //     url: "https://srtarcgis.railway.co.th/arcgis/rest/services/Land/CORS/FeatureServer/0"
        // });

        activeView.when(function() {

            // map.add(featureLayer);


            //create center symbol
            var markerSymbol = {
                type: "simple-marker",
                color: [226, 0, 0],
                size: "5px",
                outline: {
                    color: [255, 255, 255],
                    width: 0
                }
            };

            // var graphic = new Graphic({
            //     geometry: activeView.center,
            //     symbol: markerSymbol
            // });

            // graphicsLayer.add(graphic);

            // map.add(graphicsLayer);

            activeView.watch("stationary", function(isStationary) {
                showCoordinates(activeView.center);
                changeCenter(activeView.center);
            });

            activeView.on("drag", function(evt) {
                changeCenter(activeView.toMap({
                    x: evt.x,
                    y: evt.y
                }));
            });


            activeView.on("click", function(event) {
                var enablePointBuffer = $('#onoff').val();

                if (enablePointBuffer == 'Off') {
                    return;
                }

                activeView.graphics.removeAll();
                var cursorPoint = activeView.toMap(event);
                const circleGeometry = new Circle({
                    center: cursorPoint,
                    geodesic: true,
                    numberOfPoints: 100,
                    radius: document.getElementById('range').value,
                    radiusUnit: "kilometers"
                });

                var html = '<table border="1" id="report-table"><tbody><tr>';
                html += '<td width="2%">No.</td>';

                html += '<td></td>';
                html += '<td></td>';
                html += '<td></td>';
                html += '<td></td>';
                html += '<td></td>';
                html += '<td></td>';
                html += '<td></td>';
                html += '<td></td>';
                html += '</tbody></tr>';
                var no = 0;

                for (var i = 0; i < activeView.layerViews.items.length; i++) {
                    var group = activeView.layerViews.items[i];

                    for (var j = 0; j < activeView.layerViews.items[i].layer.layers.items.length; j++) {
                        var featureLayer = activeView.layerViews.items[i].layer.layers.items[j];

                        if (featureLayer.visible && group.visible) {
                            let query = featureLayer.createQuery();
                            query.outFields = ["*"];
                            query.geometry = circleGeometry;
                            query.spatialRelationship = "intersects";

                            featureLayer.queryFeatures(query).then(function(response) {
                                var features = response.features;

                                for (var k = 0; k < features.length; k++) {
                                    // เช็คว่า attribute ใด ๆ มีค่าที่ไม่เป็น null หรือ undefined ก่อนที่จะเพิ่มแถวในตาราง HTML
                                    var hasNonNullAttribute = false;
                                    for (var attr in features[k].attributes) {
                                        if (features[k].attributes[attr] !== null && features[k].attributes[attr] !== undefined) {
                                            hasNonNullAttribute = true;
                                            break;
                                        }
                                    }

                                    if (hasNonNullAttribute) {
                                        no++;
                                        // เพิ่มแถวในตารางและแสดงข้อมูล attributes ที่มีค่า
                                        console.log();
                                        html += '<tr><tbody>';
                                        html += '<td>' + no + '</td>';

                                        // เพิ่มข้อมูล attributes ที่มีค่าในแต่ละแถว
                                        for (var attr in features[k].attributes) {
                                            if (features[k].attributes[attr] !== null && features[k].attributes[attr] !== undefined) {
                                                html += '<td align="left">' + features[k].attributes[attr] + '</td>';
                                            }
                                        }

                                        html += '</tbody></tr>';
                                    }
                                }

                                // อัปเดต HTML และแสดงผล
                                document.getElementById("report-total").innerHTML = no;
                                document.getElementById("report").innerHTML = html;
                                document.getElementById("report").style.display = 'block';
                            });
                        }
                    }
                }

                activeView.graphics.add(new Graphic({
                    geometry: circleGeometry,
                    symbol: {
                        type: "simple-fill",
                        style: "none",
                        outline: {
                            width: 1,
                            color: "red"
                        }
                    }
                }));

            });



            // findNearestGraphic(event).then(function(graphic) {
            //     if (graphic) {
            //         activeGraphic = graphic;
            //         var buffer = geometryEngine.geodesicBuffer(activeGraphic.geometry, .25, "miles");
            //         //*** ADD ***//
            //         buffer = geometryEngine.densify(buffer, 250, "meters");
            //         drawBuffer(buffer);
            //     }
            // });
            // if (bufferGraphic) {
            //     var cursorPoint = activeView.toMap(event);
            //     var intersects = geometryEngine.intersects(bufferGraphic.geometry, cursorPoint);
            //     var symbol = bufferGraphic.symbol.clone();
            //     if (intersects) {
            //         symbol.color = "rgba(0,0,0,.15)";
            //     } else {
            //         symbol.color = "rgba(0,0,0,0)";
            //     }
            //     bufferGraphic.symbol = symbol;
            //     var vertexResult = geometryEngine.nearestVertex(bufferGraphic.geometry, cursorPoint);
            //     var closestPoint = vertexResult.coordinate;
            //     drawLine(cursorPoint, closestPoint);
            //     //*** ADD ***//
            //     var distance = geometryEngine.geodesicLength(lineGraphic.geometry, "miles");
            //     drawText(cursorPoint, distance);
            // }



            mapView.on("pointer-move", function(event) {
                showCoordinates(activeView.toMap({
                    x: event.x,
                    y: event.y
                }));

                // findNearestGraphic(event).then(function(graphic) {
                //     if (graphic) {
                //         activeGraphic = graphic;
                //         var buffer = geometryEngine.geodesicBuffer(activeGraphic.geometry, 0.25, "miles");
                //         drawBuffer(buffer);
                //     }
                // });
                // if (bufferGraphic) {
                //     var cursorPoint = activeView.toMap(event);
                //     var intersects = geometryEngine.intersects(bufferGraphic.geometry, cursorPoint);
                //     var symbol = bufferGraphic.symbol.clone();
                //     if (intersects) {
                //         symbol.color = "rgba(0,0,0,.15)";
                //     } else {
                //         symbol.color = "rgba(0,0,0,0)";
                //     }
                //     bufferGraphic.symbol = symbol;
                //     var vertexResult = geometryEngine.nearestVertex(bufferGraphic.geometry, cursorPoint);
                //     var closestPoint = vertexResult.coordinate;
                //     drawLine(cursorPoint, closestPoint);
                //     //*** ADD ***//
                //     var distance = geometryEngine.geodesicLength(lineGraphic.geometry, "miles");
                //     drawText(cursorPoint, distance);
                // }
            });

        });

        var activeGraphic;

        function findNearestGraphic(event) {
            return activeView.hitTest(event).then(function(response) {
                var graphic;
                // Get the Trail graphics only
                if (response.results.length) {
                    graphic = response.results.filter(function(result) {
                        return result.graphic.layer === featureLayer;
                    })[0].graphic;
                }
                // Only return new graphics are found
                if (graphic) {
                    if (!activeGraphic || activeGraphic.attributes.OBJECTID !== graphic.attributes.OBJECTID) {
                        return graphic;
                    } else {
                        return null;
                    }
                } else {
                    return null;
                }
            });
        }

        var bufferGraphic;

        function drawBuffer(bufferGeometry) {
            activeView.graphics.remove(bufferGraphic);
            bufferGraphic = new Graphic({
                geometry: bufferGeometry,
                symbol: {
                    type: "simple-fill",
                    color: "rgba(0,0,0,0)",
                    outline: {
                        color: "rgba(0,0,0,.5)",
                        width: 1
                    }
                }
            });
            activeView.graphics.add(bufferGraphic);
        }


        var lineGraphic;

        function drawLine(point, point2) {
            activeView.graphics.remove(lineGraphic);
            lineGraphic = new Graphic({
                geometry: {
                    type: "polyline",
                    paths: [
                        [point.longitude, point.latitude],
                        [point2.longitude, point2.latitude]
                    ]
                },
                symbol: {
                    type: "simple-line",
                    color: "#333",
                    width: 1
                }
            });
            activeView.graphics.add(lineGraphic);
        }

        var textGraphic;

        function drawText(point, distance) {
            activeView.graphics.remove(textGraphic);
            textGraphic = new Graphic({
                geometry: point,
                symbol: {
                    type: "text",
                    text: distance.toFixed(2) + " miles",
                    color: "black",
                    font: {
                        size: 12
                    },
                    haloColor: "white",
                    haloSize: 1
                }
            });
            activeView.graphics.add(textGraphic);
        }

        function changeCenter() {
            // graphicsLayer.graphics.items[0].geometry = mapView.center;
        }

        function initWidget() {

            var popupSearch = '<table id="tb-search" class="esri-widget__table" summary="List of attributes and values">';
            popupSearch += '<tbody>';
            popupSearch += '<tr>';
            popupSearch += '<th class="esri-feature-fields__field-header">Name</th><td class="esri-feature-fields__field-data">{BLD_NAME}</td>';
            popupSearch += '</tr>';
            popupSearch += '<tr>';
            popupSearch += '<th class="esri-feature-fields__field-header">Address</th><td class="esri-feature-fields__field-data">{Address}</td>';
            popupSearch += '</tr>';
            popupSearch += '<tr>';
            popupSearch += '<th class="esri-feature-fields__field-header">Province</th><td class="esri-feature-fields__field-data">{PROVINCE_N}</td>';
            popupSearch += '</tr>';
            popupSearch += '</tbody></table>';

            var facpopupSearch = '<table id="tb-search" class="esri-widget__table" summary="List of attributes and values">';
            facpopupSearch += '<tbody>';
            facpopupSearch += '<tr>';
            facpopupSearch += '<th class="esri-feature-fields__field-header">ชื่อโรงงาน</th><td class="esri-feature-fields__field-data">{ชื่อโรงงาน}</td>';
            facpopupSearch += '</tr>';
            facpopupSearch += '<tr>';
            facpopupSearch += '<th class="esri-feature-fields__field-header">เลขทะเบียน</th><td class="esri-feature-fields__field-data">{เลขทะเบียน}</td>';
            facpopupSearch += '</tr>';
            facpopupSearch += '<tr>';
            facpopupSearch += '<th class="esri-feature-fields__field-header">ประกอบกิจการ</th><td class="esri-feature-fields__field-data">{ประกอบกิจก}</td>';
            facpopupSearch += '</tr>';
            facpopupSearch += '<tr>';
            facpopupSearch += '<th class="esri-feature-fields__field-header">ข้อมูลวัสดุที่ไม่ใช้แล้วในบริเวณโรงงาน</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=1&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล{dispfacreg}</a></td>';
            facpopupSearch += '</tr>';
            facpopupSearch += '<tr>';
            facpopupSearch += '<th class="esri-feature-fields__field-header">ข้อมูลวัตถุดิบและปริมาณการใช้</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=2&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch += '</tr>';
            facpopupSearch += '<tr>';
            facpopupSearch += '<th class="esri-feature-fields__field-header">ข้อมูลผลิตภัณฑ์และกำลังการผลิต</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=3&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch += '</tr>';
            facpopupSearch += '<tr>';
            facpopupSearch += '<th class="esri-feature-fields__field-header">ข้อมูลเครื่องจักรในขบวนการผลิต</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=4&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch += '</tr>';
            facpopupSearch += '<tr>';
            facpopupSearch += '<th class="esri-feature-fields__field-header">ผลพลอยได้โรงงาน</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=5&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch += '</tr>';
            facpopupSearch += '<tr>';
            facpopupSearch += '<th class="esri-feature-fields__field-header">ทะเบียนหม้อไอน้ำ</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=6&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch += '</tr>';
            facpopupSearch += '<tr>';
            facpopupSearch += '</tr>';
            facpopupSearch += '</tbody></table>';

            var facpopupSearch2 = '<table id="tb-search" class="esri-widget__table" summary="List of attributes and values">';
            facpopupSearch2 += '<tbody>';
            facpopupSearch2 += '<tr>';
            facpopupSearch2 += '<th class="esri-feature-fields__field-header">ชื่อโรงงาน</th><td class="esri-feature-fields__field-data">{fname}</td>';
            facpopupSearch2 += '</tr>';
            facpopupSearch2 += '<tr>';
            facpopupSearch2 += '<th class="esri-feature-fields__field-header">เลขทะเบียน</th><td class="esri-feature-fields__field-data">{dispfacreg}</td>';
            facpopupSearch2 += '</tr>';
            facpopupSearch2 += '<tr>';
            facpopupSearch2 += '<th class="esri-feature-fields__field-header">ข้อมูลวัสดุที่ไม่ใช้แล้วในบริเวณโรงงาน</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=1&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch2 += '</tr>';
            facpopupSearch2 += '<tr>';
            facpopupSearch2 += '<th class="esri-feature-fields__field-header">ข้อมูลวัตถุดิบและปริมาณการใช้</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=2&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch2 += '</tr>';
            facpopupSearch2 += '<tr>';
            facpopupSearch2 += '<th class="esri-feature-fields__field-header">ข้อมูลผลิตภัณฑ์และกำลังการผลิต</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=3&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch2 += '</tr>';
            facpopupSearch2 += '<tr>';
            facpopupSearch2 += '<th class="esri-feature-fields__field-header">ข้อมูลเครื่องจักรในขบวนการผลิต</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=4&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch2 += '</tr>';
            facpopupSearch2 += '<tr>';
            facpopupSearch2 += '<th class="esri-feature-fields__field-header">ผลพลอยได้โรงงาน</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=5&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch2 += '</tr>';
            facpopupSearch2 += '<tr>';
            facpopupSearch2 += '<th class="esri-feature-fields__field-header">ทะเบียนหม้อไอน้ำ</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/api/soap?type=6&faccode={dispfacreg}" target="_blank">คลิกเพื่อดูข้อมูล</a></td>';
            facpopupSearch2 += '</tr>';
            facpopupSearch2 += '<tr>';
            facpopupSearch2 += '</tr>';
            facpopupSearch2 += '</tbody></table>';

            var facpopupSearch3 = '<table id="tb-search" class="esri-widget__table" summary="List of attributes and values">';
            facpopupSearch3 += '<tbody>';
            facpopupSearch3 += '<tr>';
            facpopupSearch3 += '<th class="esri-feature-fields__field-header">ชื่อเขตประกอบการอุตสาหกรรม</th><td class="esri-feature-fields__field-data">{iname}</td>';
            facpopupSearch3 += '</tr>';
            facpopupSearch3 += '<tr>';
            facpopupSearch3 += '<th class="esri-feature-fields__field-header">อุตสาหกรรมเป้ามหมาย/ห้ามตั้ง</th><td class="esri-feature-fields__field-data"><a href="http://ptizapp.diw.go.th/table/index.php?fac={iname}" target="_blank">คลิกเพื่อดูข้อมูล{FNAME}</a></td>';
            facpopupSearch3 += '</tr>';
            facpopupSearch3 += '</tbody></table>';

            var sources = [];

            <?php foreach ($this->search as $data) : ?>
                <?php
                // Extract PHP values into JavaScript variables
                $searchUrl = $data['search_url'];
                $searchName = $data['search_name'];
                $searchField = $data['search_field'];
                $placeholder = $data['placeholder'];
                ?>

                // Use JavaScript conditions instead of PHP if statements
                <?php if ($searchField === 'DISPFACREG' && $searchField === 'FACNEW') : ?>
                    var formattedData = {
                        layer: new FeatureLayer({
                            url: '<?php echo $searchUrl; ?>'
                        }),
                        name: '<?php echo $searchName; ?>',
                        searchFields: ['<?php echo $searchField; ?>'],
                        displayField: "<?php echo $searchField; ?>",
                        outFields: ['<?php echo $searchField; ?>'],
                        placeholder: '<?php echo $placeholder; ?>',
                        popupTemplate: {
                            content: facpopupSearch
                        }
                    };
                <?php elseif ($searchField === 'FNAME') : ?>
                    var formattedData = {
                        layer: new FeatureLayer({
                            url: '<?php echo $searchUrl; ?>'
                        }),
                        name: '<?php echo $searchName; ?>',
                        searchFields: ['<?php echo $searchField; ?>'],
                        displayField: "<?php echo $searchField; ?>",
                        outFields: ['<?php echo $searchField; ?>'],
                        placeholder: '<?php echo $placeholder; ?>',
                        popupTemplate: {
                            content: facpopupSearch2
                        }
                    };
                <?php elseif ($searchField === 'Name') : ?>
                    var formattedData = {
                        layer: new FeatureLayer({
                            url: '<?php echo $searchUrl; ?>'
                        }),
                        name: '<?php echo $searchName; ?>',
                        searchFields: ['<?php echo $searchField; ?>'],
                        displayField: "<?php echo $searchField; ?>",
                        outFields: ['<?php echo $searchField; ?>'],
                        placeholder: '<?php echo $placeholder; ?>',
                        popupTemplate: {
                            content: facpopupSearch3
                        }
                    };
                <?php else : ?>
                    var formattedData = {
                        layer: new FeatureLayer({
                            url: '<?php echo $searchUrl; ?>'
                        }),
                        name: '<?php echo $searchName; ?>',
                        searchFields: ['<?php echo $searchField; ?>'],
                        displayField: "<?php echo $searchField; ?>",
                        outFields: ['<?php echo $searchField; ?>'],
                        placeholder: '<?php echo $placeholder; ?>',
                        popupTemplate: {
                            content: popupSearch
                        }
                    };
                <?php endif; ?>

                sources.push(formattedData);
            <?php endforeach; ?>



            var searchWidget = new Search({
                allPlaceholder: "Search",
                includeDefaultSources: true,
                locationEnabled: false,
                sources: sources,
                container: 'search',
                view: activeView
            });
            // activeView.ui.add(searchWidget, {
            //     position: "top-right"
            // });

            const layerList = new LayerList({
                view: activeView,
                // container: 'layer',
            });


            var layerExpand = new Expand({
                expandTooltip: "ชั้นข้อมูล",
                expandIconClass: "esri-icon-layers",
                view: activeView,
                content: layerList
            });
            activeView.ui.add(layerExpand, "top-right");

            var advanceSearch = new Expand({
                expandTooltip: "Advance search",
                expandIconClass: "esri-icon-search",
                view: activeView,
                content: document.getElementById("advance-search-box")
            });
            activeView.ui.add(advanceSearch, "top-right");

            var compass = new Compass({
                view: activeView
            });
            activeView.ui.add(compass, "top-left");

            var homeBtn = new Home({
                view: activeView
            });
            activeView.ui.add(homeBtn, "top-left");

            const print = new Print({
                view: activeView,
                // specify your own print service
                printServiceUrl: "https://utility.arcgisonline.com/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"
                // printServiceUrl: "https: //srtarcgis.dyndns-web.com:6443/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"
            });
            var printExpand = new Expand({
                expandTooltip: "พิมพ์",
                expandIconClass: "esri-icon-printer",
                view: activeView,
                content: print
            });
            activeView.ui.add(printExpand, "top-left");

            var distanceWidget = new DistanceMeasurement2D({
                view: activeView
            });
            var distanceExpand = new Expand({
                expandTooltip: "ระยะ",
                expandIconClass: "esri-icon-measure-line",
                view: activeView,
                content: distanceWidget
            });
            activeView.ui.add(distanceExpand, "top-left");


            var areaWidget = new AreaMeasurement2D({
                view: activeView
            });
            var areaExpand = new Expand({
                expandTooltip: "พื้นที่",
                expandIconClass: "esri-icon-measure-area",
                view: activeView,
                content: areaWidget
            });
            activeView.ui.add(areaExpand, "top-left");

            var ccWidget = new CoordinateConversion({
                view: activeView
            });

            var ccExpand = new Expand({
                expandTooltip: "Convert",
                expandIconClass: "esri-icon-measure",
                view: activeView,
                content: ccWidget
            });
            activeView.ui.add(ccExpand, "top-left");



            // var track = new Track({
            //     view: activeView
            // });
            // activeView.ui.add(track, "top-left");

            var basemapToggle = new BasemapToggle({
                view: activeView,
                nextBasemap: "satellite"
            });
            activeView.ui.add(basemapToggle, "bottom-right");


            var basemapGallery = new BasemapGallery({
                view: activeView
            });
            var basemapExpand = new Expand({
                expandTooltip: "Basemap",
                expandIconClass: "esri-icon-basemap",
                view: activeView,
                content: basemapGallery
            });
            activeView.ui.add(basemapExpand, "top-right");

            var locateBtn = new Locate({
                view: activeView
            });
            activeView.ui.add(locateBtn, {
                position: "top-right"
            });

            var bufferExpand = new Expand({
                expandTooltip: "Buffer",
                expandIconClass: "esri-icon-radio-checked",
                view: activeView,
                content: document.getElementById("buffer-box")
            });

            activeView.ui.add(bufferExpand, "top-right");

            // var offsetBoundary = new Expand({
            //     expandTooltip: "Offset 5 km",
            //     expandIconClass: "esri-icon-polygon",
            //     view: activeView,
            //     content: document.getElementById("offset-boundary-box")
            // });
            // activeView.ui.add(offsetBoundary, "top-right");

            var legend = new Legend({
                view: activeView,
                layerInfos: [{
                    layer: map.layers.getItemAt(0)
                }, {
                    layer: map.layers.getItemAt(1)
                }, {
                    layer: map.layers.getItemAt(2)
                }, {
                    layer: map.layers.getItemAt(3)
                }]
            });
            // view.ui.add(legend, "bottom-left");

            var legendExpand = new Expand({
                expandTooltip: "legend",
                expandIconClass: "esri-icon-legend",
                view: activeView,
                content: legend
            });
            activeView.ui.add(legendExpand, "bottom-left");

            var scaleBar = new ScaleBar({
                view: activeView,
                // container: 'scaleBar',
                unit: "dual"
            });
            activeView.ui.add(scaleBar, "bottom-left");

            var coordsWidget = document.createElement("div");
            coordsWidget.id = "coordsWidget";
            coordsWidget.className = "esri-widget esri-component";
            coordsWidget.style.padding = "7px 15px 7px";
            coordsWidget.style.marginBottom = "0px";

            activeView.ui.add(coordsWidget, "bottom-right");

            <?php
            if (isset($_SESSION['login']['permission']->edit_layer) && $_SESSION['login']['permission']->edit_layer == '1') {
            ?>
                // Create the Editor
                let editor = new Editor({
                    view: activeView
                });

                var editExpand = new Expand({
                    expandTooltip: "แก้ไข",
                    expandIconClass: "esri-icon-edit",
                    view: activeView,
                    content: editor
                });
                activeView.ui.add(editExpand, "top-right");
            <?php
            }
            ?>

        }

        function showCoordinates(pt) {
            var coords =
                '<div style="max-width: 250px;">Lon/Lat ' +
                pt.longitude.toFixed(6) +
                ", " +
                pt.latitude.toFixed(6) +
                " <br/> Scale 1:" +
                Math.round(activeView.scale * 1) / 1 +
                " <br/> Zoom " +
                mapView.zoom + "</div>";
            coordsWidget.innerHTML = coords;
        }

        $('#offset-boundary-btn').click(offsetBoundary);

        function offsetBoundary() {

            activeView.graphics.removeAll();

            var geometryService = new GeometryService({
                url: 'https://sampleserver6.arcgisonline.com/ArcGIS/rest/services/Utilities/Geometry/GeometryServer'
                // url: 'https://srtarcgis.railway.co.th/arcgis/rest/services/Utilities/Geometry/GeometryServer'
            });

            if ($('#offset-boundary-btn').html() == 'Off') {
                $('#offset-boundary-btn').html('On');
                return;
            }

            $('#offset-boundary-data').html('');

            var html = '<table width="100%" class="offset-data-tb" id="offset-tb">';
            html += '<tr><td align="center">ลำดับ</td><td align="left">รายการ</td><td align="right">จำนวน</td></tr>';
            html += '</table>';

            html += '<div style="width: 200px; margin: 0 auto;">';
            html += '<button class="esri-print__export-button esri-button" onclick="exportToExcel(\'xlsx\', \'offset\', \'offset-tb\')">Export</button>';
            html += '</div>';

            $('#offset-boundary-data').html(html);

            for (var i = 0; i < activeView.layerViews.items.length; i++) {

                var group = activeView.layerViews.items[i];

                for (var j = 0; j < activeView.layerViews.items[i].layer.layers.items.length; j++) {
                    featureLayer = activeView.layerViews.items[i].layer.layers.items[j];


                    //---
                    if (featureLayer.visible && group.visible && featureLayer.parent.id == 'group-layer-3') {

                        console.log(featureLayer);

                        $('#offset-boundary-btn').html('Off');


                        // var featureLayer = activeView.layerViews.items[0].layer.layers.items[0];

                        let query = featureLayer.createQuery();
                        query.where = '1=1';
                        query.outFields = ["*"];

                        featureLayer.queryFeatures(query).then(function(response) {

                            // console.log(response);

                            for (var k = 0; k < response.features.length; k++) {

                                var layer = response.features[k].layer;

                                html = '<tr id="offset-table-' + layer.id + '"><td align="left" colspan="3">' + layer.title + '</td></tr>';

                                $('#offset-tb').append(html);

                                $('#offset-boundary-process').show();

                                var geometries = response.features[k].geometry;

                                var params = new BufferParameters({
                                    distances: [5],
                                    unit: "kilometers",
                                    geodesic: true,
                                    bufferSpatialReference: new SpatialReference({
                                        wkid: 32647
                                    }),
                                    outSpatialReference: activeView.spatialReference,
                                    geometries: [geometries]
                                });

                                offsetProcess(geometryService, params, layer.id);

                            }

                        });
                    }
                }
            }

        }

        function offsetProcess(geometryService, params, id) {

            geometryService.buffer(params).then(function(results) {

                // console.log(results);

                var geometry = results[0];

                //draw offset
                activeView.graphics.add(new Graphic({
                    geometry: results[0],
                    symbol: {
                        type: "simple-fill",
                        color: [100, 100, 100, 0.2],
                        style: "solid",
                        outline: {
                            width: 1,
                            color: "blue"
                        }
                    }
                }));

                //query layer
                var no = 0;

                //count layer
                for (var l = 0; l < activeView.layerViews.items.length; l++) {
                    var group = activeView.layerViews.items[l];
                    for (var m = 0; m < group.layer.layers.items.length; m++) {
                        var layer = group.layer.layers.items[m];
                        if (layer.visible && group.visible && layer.geometryType == 'point' && layer.parent.id != 'group-layer-3') {
                            no++;
                        }
                    }
                }
                //end count layer

                for (var l = 0; l < activeView.layerViews.items.length; l++) {
                    var group = activeView.layerViews.items[l];
                    for (var m = 0; m < group.layer.layers.items.length; m++) {

                        var layer = group.layer.layers.items[m];

                        if (layer.visible && group.visible && layer.geometryType == 'point' && layer.parent.id != 'group-layer-3') {

                            // console.log(layer);

                            var data = queryLayer(layer, geometry);
                            var json = JSON.parse(data);

                            var html = '<tr>';
                            html += '<td width="30" align="center">' + no + '.</td>';
                            html += '<td width="50%" align="left">' + layer.title + '</td>';
                            html += '<td align="right">' + json.count + '</td>';
                            html += '</tr>';

                            // console.log(html);

                            $('#offset-table-' + id).after(html);

                            no--;

                        }
                    }
                    $('#offset-boundary-process').hide();
                }

            });
        }

        function queryLayer(layer, geometry) {

            var link = layer.parsedUrl.path + '/query';

            return $.ajax({
                type: "POST",
                url: link,
                async: false,
                data: {
                    'where': '1=1',
                    'geometry': JSON.stringify(geometry),
                    'geometryType': 'esriGeometryPolygon',
                    'spatialRel': 'esriSpatialRelIntersects',
                    'outFields': '*',
                    'returnGeometry': false,
                    'returnCountOnly': true,
                    'f': 'pjson'
                }
            }).responseText;

        }

        $('#advance-search-btn').click(advanceSearch);

        function advanceSearch() {

            var data = $('#advance-search-frm').serialize()
            // console.log(data);

            $('#advance-search-process').text('กำลังค้นหา ...');

            $.post('<?php echo $this->url('map', ['action' => 'advancesearch']) ?>', data, function(res) {
                // console.log(res);

                var json = JSON.parse(res);

                if (json.status == 500) {
                    $('#advance-search-process').text('');
                    return;
                }

                if (json.status == 200) {

                    activeView.graphics.removeAll();

                    var factoryLayer = new FeatureLayer({
                        id: 'factory-layer',
                        title: 'โรงงานอุตสาหกรรม',
                        url: 'https://arcgisapp.diw.go.th/arcgis/rest/services/FICT/FAC/FeatureServer/0',
                        visible: true,
                        outFields: ["*"]
                    });

                    var factory = [];

                    for (var i in json.data) {
                        factory.push("'" + json.data[i] + "'");
                    }

                    var where = factory.join(",");

                    // console.log(where);

                    let query = factoryLayer.createQuery();
                    query.where = "เลขทะเบียน IN (" + where + ")";
                    query.outFields = ["ชื่อโรงงาน", "เลขทะเบียน", "ประเภท"];

                    factoryLayer.queryFeatures(query).then(function(response) {

                        // console.log(response.features);
                        for (var k = 0; k < response.features.length; k++) {

                            // console.log(response.features[k]);

                            const point = new Point({
                                x: response.features[k].geometry.x,
                                y: response.features[k].geometry.y,
                                spatialReference: response.features[k].geometry.spatialReference.wkid
                            });

                            activeView.graphics.add(new Graphic({
                                geometry: point,
                                symbol: {
                                    type: "simple-marker",
                                    size: 7,
                                    color: [226, 119, 40], // Orange
                                    outline: {
                                        color: [255, 255, 255], // White
                                        width: 1
                                    }
                                },
                                attributes: response.features[k].attributes,
                                popupTemplate: {

                                    content: [{
                                        // Pass in the fields to display
                                        type: "fields",
                                        fieldInfos: [{
                                            fieldName: "ชื่อโรงงาน",
                                            label: "ชื่อโรงงาน"
                                        }, {
                                            fieldName: "เลขทะเบียน",
                                            label: "เลขทะเบียน"
                                        }, {
                                            fieldName: "ประเภท",
                                            label: "ประเภท"
                                        }]
                                    }]
                                }
                            }));

                        }

                        $('#advance-search-process').text('ค้นพบ ' + response.features.length + ' รายการ');
                    });
                }

            });

        }

        $('#onoff').click(buffOnOff);

        function buffOnOff() {
            currentvalue = document.getElementById('onoff').value;
            if (currentvalue == "Off") {
                document.getElementById("onoff").value = "On";
                document.getElementById("range").min = "1";
                document.getElementById("range").max = "50";
                document.getElementById("range").value = "5";
                output.textContent = sizePicker.value;

            } else {
                document.getElementById("onoff").value = "Off";
                document.getElementById("range").min = "0";
                document.getElementById("range").max = "0";
                document.getElementById("range").value = "0";
                output.textContent = "0";
                activeView.graphics.removeAll();
            }
        }

        var sizePicker = document.querySelector('input[type="range"]');
        var output = document.querySelector('.output');

        sizePicker.oninput = function() {
            output.textContent = sizePicker.value;
        }

    });
</script>

<script type="text/javascript">
    function exportToExcel(type, fileName, table) {

        var uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
            base64 = function(s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            },
            format = function(s, c) {
                return s.replace(/{(\w+)}/g, function(m, p) {
                    return c[p];
                })
            }
        var toExcel = document.getElementById(table).innerHTML;
        var ctx = {
            worksheet: name || '',
            table: toExcel
        };
        var link = document.createElement("a");
        link.download = fileName + ".xls";
        link.href = uri + base64(format(template, ctx))
        link.click();
    }

    function showReport() {
        var x = document.getElementById("report");
        if (x.style.display == "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>