<?php
$uploadUrl = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://" . $_SERVER['HTTP_HOST'] . $this->basePath('uploads') . "/";
?>

<link rel="stylesheet" href="https://js.arcgis.com/4.17/esri/themes/light/main.css" />
<!-- <link rel="stylesheet" href="https://js.arcgis.com/4.4/esri/themes/light-blue/main.css"> -->
<style>
    html,
    body,
    #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    #infoDiv {
        position: absolute;
        top: 85px;
        left: 60px;
    }

    #infoDiv input {
        border: none;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    #main-content-box {
        height: 100%;
    }

    section.content {
        margin: 0;
        padding: 70px 0px 0 300px;
        height: 100%;
    }

    .ls-closed section.content {
        margin-left: 0;
        padding-left: 0;
    }

    .esri-view .esri-view-surface--inset-outline:focus::after {
        outline: none;
    }

    .esri-view-surface:focus {
        outline: none;
    }

    .esri-ui,
    .esri-overlay-surface:focus {
        outline: none;
    }

    .esri-view-surface canvas:focus {
        outline: none;
    }

    .esri-layer-list__item-container {
        padding: 7px 7px 2px 20px;
    }


    @media (min-width: 768px) {

        .navbar>.container .navbar-brand,
        .navbar>.container-fluid .navbar-brand {
            margin-left: 45px;
        }
    }
</style>

<div id="viewDiv"></div>
<div id="infoDiv">
    <input class="esri-component esri-widget--button esri-widget esri-interactive" type="button" id="switch-btn" value="3D" />
</div>

<script src="https://js.arcgis.com/4.17/"></script>

<script>
    var map, view;
    require([
        "esri/Map",
        "esri/views/MapView",
        "esri/views/SceneView",
        "esri/WebMap",
        "esri/WebScene",
        "esri/layers/FeatureLayer",
        "esri/layers/MapImageLayer",
        "esri/layers/GroupLayer",
        "esri/widgets/Expand",
        "esri/widgets/LayerList",
        "esri/widgets/BasemapToggle",
        "esri/widgets/BasemapGallery",
        "esri/widgets/Measurement",
        "esri/widgets/Legend",
        "esri/widgets/ScaleBar",
        "esri/widgets/Search",
        "esri/tasks/Locator",
        "esri/widgets/Print",
        "esri/widgets/Editor",
        "esri/PopupTemplate"
        // "esri/renderers/UniqueValueRenderer",
        // "esri/symbols/SimpleFillSymbol",
        // "esri/Graphic",
        // "esri/layers/GraphicsLayer",


    ], function(
        Map,
        MapView,
        SceneView,
        WebMap,
        WebScene,
        FeatureLayer,
        MapImageLayer,
        GroupLayer,
        Expand,
        LayerList,
        BasemapToggle,
        BasemapGallery,
        Measurement,
        Legend,
        ScaleBar,
        Search,
        Locator,
        Print,
        Editor,
        PopupTemplate
        // UniqueValueRenderer,
        // SimpleFillSymbol,
        // Graphic,
        // GraphicsLayer

    ) {
        var switchButton = document.getElementById("switch-btn");

        // var renderer = new UniqueValueRenderer({
        //     field: "LAND_NO",
        //     defaultSymbol: new SimpleFillSymbol()
        // });

        // renderer.addUniqueValueInfo("18",
        //     new SimpleFillSymbol({
        //         color: "red"
        //     })
        // );

        // renderer.addUniqueValueInfo(1,
        //     new SimpleFillSymbol({
        //         color: "green"
        //     })
        // );

        <?php
        $groupLayer = [];
        foreach ($this->layerGroup as $row) {
            if (isset($row['layers'])) {
                $groupLayer[] = 'groupLayer_' . $row['layer_group_id'];
        ?>
                var groupLayer_<?= $row['layer_group_id'] ?> = new GroupLayer({
                    title: "<?= $row['layer_group_name'] ?>",
                    visible: false,
                    visibilityMode: 'independent',
                    // visibilityMode: "exclusive",
                    layers: [],
                    // opacity: 0.75
                });
                <?php

                foreach ($row['layers'] as $layer) {
                ?>

                    var layerUrl_<?= $layer['layer_id'] ?> = '<?= $layer['layer_url'] ?>';

                    <?php
                    if ($layer['layer_type'] == 'Feature') {
                    ?>
                        var layer_<?= $layer['layer_id'] ?> = new FeatureLayer({
                            id: '<?= $layer['layer_id'] ?>',
                            title: '<?= $layer['layer_name'] ?>',
                            url: layerUrl_<?= $layer['layer_id'] ?>,
                            // mode: FeatureLayer.MODE_ONDEMAND,
                            visible: false,
                            outFields: ["*"]
                            // renderer: renderer
                        });

                    <?php


                    } else {
                    ?>
                        var layer_<?= $layer['layer_id'] ?> = new MapImageLayer({
                            title: '<?= $layer['layer_name'] ?>',
                            url: layerUrl_<?= $layer['layer_id'] ?>,
                            listMode: "hide-children",
                            // sublayers: [{
                            //     id: 0,
                            //     popupTemplate: {
                            //         title: "<?= $layer['layer_name'] ?>",
                            //         content: "{LAND_NO}"
                            //     },
                            //     renderer: renderer
                            // }]
                        });
                    <?php
                    }
                    ?>
                    groupLayer_<?= $row['layer_group_id'] ?>.add(layer_<?= $layer['layer_id'] ?>);

                    var attr_<?= $layer['layer_id'] ?> = JSON.parse('<?= $layer['layer_attribute'] ?>');

                    $.get(layerUrl_<?= $layer['layer_id'] ?> + '?f=pjson', function(res) {
                        var jsonLayer = JSON.parse(res);
                        var field = [];
                        for (var index in jsonLayer.fields) {

                            var f = jsonLayer.fields[index];

                            var visible = false;
                            if (typeof attr_<?= $layer['layer_id'] ?>.visible !== "undefined") {
                                visible = eval('attr_<?= $layer['layer_id'] ?>.visible.' + f.name);
                            }

                            if (visible) {

                                var name = '';
                                if (typeof attr_<?= $layer['layer_id'] ?>.name !== "undefined") {
                                    name = eval('attr_<?= $layer['layer_id'] ?>.name.' + f.name);
                                }

                                field.push({
                                    fieldName: f.name,
                                    label: name
                                });
                            }

                        }
                        layer_<?= $layer['layer_id'] ?>.popupTemplate = {
                            content: [{
                                type: "fields",
                                fieldInfos: field
                            }]
                        }
                    });

        <?php
                }
            }
        }
        ?>

        var popup = '<div>ชื่อสถานี: {NAMET}</div>';
        popup += '<div>ก.ม.: {KMMIDDLE}</div>';
        popup += '<div>ตำบล: {TamName}</div>';
        popup += '<div>อำเภอ: {AmpName}</div>';
        popup += '<div>จังหวัด: {ProvName}</div>';
        popup += '<div>ชั้นสถานี: {Class}</div>';
        popup += '<div><img src="{NAMEE}" height="100"/></div>';

        var stationFeatureLayer = new FeatureLayer({
            url: "https://srtarcgis.dyndns-web.com:6443/arcgis/rest/services/Orther_Group/Station/FeatureServer/0",
            visible: false,
            outFields: ["*"],
            popupTemplate: {
                // Enable a popup
                title: "{NAMET},",
                content: popup
            }
        });


        // map = new Map({
        //     basemap: "topo",
        //     layers: [<?= implode(',', $groupLayer) ?>]
        // });

        // view = new MapView({
        //     container: "viewDiv",
        //     map: map,
        //     center: [100.5470154, 13.784143],
        //     // center: [100.3225, 6.6675],
        //     zoom: 6

        // });

        var appConfig = {
            mapView: null,
            sceneView: null,
            activeView: null,
            container: "viewDiv" // use same container for views
        };

        var initialViewParams = {
            zoom: 6,
            center: [100.5470154, 13.784143],
            container: appConfig.container
        };
        var map = new Map({
            basemap: "topo",
            layers: [<?= implode(',', $groupLayer) ?>]
        });

        var scene = new WebScene({
            // map: {
            //     basemap: "satellite",
            //     layers: [],
            //     ground: "world-elevation"
            // }
        });

        // create 2D view and and set active
        appConfig.mapView = createView(initialViewParams, "2d");
        appConfig.mapView.map = map;
        appConfig.activeView = appConfig.mapView;

        // create 3D appConfig.mapView, won't initialize until container is set
        initialViewParams.container = null;
        initialViewParams.map = scene;
        appConfig.sceneView = createView(initialViewParams, "3d");

        // switch the view between 2D and 3D each time the button is clicked
        switchButton.addEventListener("click", function() {
            switchView();
        });

        appConfig.mapView.when(function() {

            // var graphicsLayer = new GraphicsLayer();
            // map.add(graphicsLayer);

            return;

            initMap();

            var coordsWidget = document.createElement("div");
            coordsWidget.id = "coordsWidget";
            coordsWidget.className = "esri-widget esri-component";
            coordsWidget.style.padding = "7px 15px 5px";

            appConfig.mapView.ui.add(coordsWidget, "bottom-right");

            appConfig.mapView.watch("stationary", function(isStationary) {
                showCoordinates(appConfig.mapView.center);
            });

            appConfig.mapView.on("pointer-move", function(evt) {
                showCoordinates(appConfig.mapView.toMap({
                    x: evt.x,
                    y: evt.y
                }));
            });

        });

        function switchView() {
            var is3D = appConfig.activeView.type === "3d";
            var activeViewpoint = appConfig.activeView.viewpoint.clone();

            // remove the reference to the container for the previous view
            appConfig.activeView.container = null;

            if (is3D) {
                appConfig.mapView.viewpoint = activeViewpoint;
                appConfig.mapView.container = appConfig.container;
                appConfig.activeView = appConfig.mapView;
                switchButton.value = "3D";
            } else {
                appConfig.sceneView.viewpoint = activeViewpoint;
                appConfig.sceneView.container = appConfig.container;
                appConfig.activeView = appConfig.sceneView;
                switchButton.value = "2D";
            }
        }

        function createView(params, type) {
            var view;
            var is2D = type === "2d";
            if (is2D) {
                view = new MapView(params);
                return view;
            } else {
                view = new SceneView(params);
            }
            return view;
        }

        function showCoordinates(pt) {
            var coords =
                "Lat/Lon " +
                pt.latitude.toFixed(3) +
                " " +
                pt.longitude.toFixed(3) +
                " | Scale 1:" +
                Math.round(appConfig.mapView.scale * 1) / 1 +
                " | Zoom " +
                appConfig.mapView.zoom;
            coordsWidget.innerHTML = coords;
        }

        function initMap() {

            var featureLayer = map.layers.getItemAt(0);
            // map.layer.getItems();

            var legend = new Legend({
                view: appConfig.mapView,
                layerInfos: [{
                    layer: featureLayer
                }]
            });
            // appConfig.mapView.ui.add(legend, "bottom-left");

            var legendExpand = new Expand({
                expandTooltip: "legend",
                expandIconClass: "esri-icon-legend",
                view: appConfig.mapView,
                content: legend
            });
            appConfig.mapView.ui.add(legendExpand, "bottom-left");

            const print = new Print({
                view: appConfig.mapView,
                // specify your own print service
                // printServiceUrl: "https://utility.arcgisonline.com/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"
                printServiceUrl: "https://srtarcgis.dyndns-web.com:6443/arcgis/rest/services/PrintLayout/A4Portait/GPServer/Export%20Web%20Map"
                // printServiceUrl: "https: //srtarcgis.dyndns-web.com:6443/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"
            });
            var printExpand = new Expand({
                expandTooltip: "พิมพ์",
                expandIconClass: "esri-icon-printer",
                view: appConfig.mapView,
                content: print
            });
            appConfig.mapView.ui.add(printExpand, "top-left");

            var popupSearch = '<div>ชื่อสถานี: {NAMET}</div>';
            popupSearch += '<div>ก.ม.: {KMMIDDLE}</div>';
            popupSearch += '<div>ตำบล: {TamName}</div>';
            popupSearch += '<div>อำเภอ: {AmpName}</div>';
            popupSearch += '<div>จังหวัด: {ProvName}</div>';
            popupSearch += '<div>ชั้นสถานี: {Class}</div>';
            popupSearch += '<div><img src="<?= $uploadUrl ?>{NAMEE}" height="100"/></div>';

            const sources = [{
                    layer: new FeatureLayer({
                        url: "https://srtarcgis.dyndns-web.com:6443/arcgis/rest/services/Orther_Group/Station/FeatureServer/0"
                    }),
                    name: "สถานีรถไฟ",
                    searchFields: ["NAMET"],
                    displayField: "NAMET",
                    exactMatch: false,
                    outFields: ["*"],
                    placeholder: "example: หัวหิน",
                    popupTemplate: {
                        // Enable a popup
                        title: "{NAMET},", // Show attribute value
                        content: popupSearch // Display text in pop-up
                    }

                    // maxResults: 6,
                    // maxSuggestions: 6,
                    // suggestionsEnabled: true,
                    // minSuggestCharacters: 0
                },
                {
                    layer: new FeatureLayer({
                        url: "http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/2"
                    }),
                    name: "จังหวัด",
                    searchFields: ["PV_NAMT_U"],
                    displayField: "PV_NAMT_U",
                    exactMatch: false,
                    outFields: ["*"],
                    placeholder: "example: กรุงเทพ",
                }
            ];

            var searchWidget = new Search({
                allPlaceholder: "Search",
                includeDefaultSources: false,
                sources: sources,
                view: appConfig.mapView
            });
            appConfig.mapView.ui.add(searchWidget, {
                position: "top-right"
            });

            const layerList = new LayerList({
                view: appConfig.mapView,
                container: 'layer'
            });

            // appConfig.mapView.ui.add(layerList, {
            //     position: "top-right"
            // });

            var basemapToggle = new BasemapToggle({
                view: appConfig.mapView,
                nextBasemap: "satellite"
            });
            appConfig.mapView.ui.add(basemapToggle, "bottom-right");

            var basemapGallery = new BasemapGallery({
                view: appConfig.mapView,
                container: 'basemap'
            });

            // const measurement = new Measurement({
            //     view: appConfig.mapView,
            //     activeTool: "distance"
            // });

            // var measurementExpand = new Expand({
            //     expandIconClass: "esri-icon-measure",
            //     view: appConfig.mapView,
            //     content: measurement
            // });
            // appConfig.mapView.ui.add(measurementExpand, "top-left");

            var scaleBar = new ScaleBar({
                view: appConfig.mapView,
                unit: "metric"
            });
            appConfig.mapView.ui.add(scaleBar, {
                position: "bottom-right"
            });

            // Set the extent on the view
            // appConfig.mapView.extent = new Extent({
            //     xmin: -9177882,
            //     ymin: 4246761,
            //     xmax: -9176720,
            //     ymax: 4247967,
            //     spatialReference: {
            //         wkid: 102100
            //     }
            // });

            /********************
             * Add feature layer
             ********************/



            // map.add(stationFeatureLayer);

            <?php
            if (isset($_SESSION['login']['permission']->edit_layer) && $_SESSION['login']['permission']->edit_layer == '1') {
            ?>
                // Create the Editor
                let editor = new Editor({
                    view: appConfig.mapView
                });

                var editExpand = new Expand({
                    expandTooltip: "แก้ไข",
                    expandIconClass: "esri-icon-edit",
                    view: appConfig.mapView,
                    content: editor
                });
                appConfig.mapView.ui.add(editExpand, "top-left");
            <?php
            }
            ?>


        }


    });
</script>