<link rel="stylesheet" href="https://js.arcgis.com/4.17/esri/themes/light/main.css" />
<!-- <link rel="stylesheet" href="https://js.arcgis.com/4.4/esri/themes/light-blue/main.css"> -->
<style>
    html,
    body,
    #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    #main-content-box {
        height: 100%;
    }

    section.content {
        margin: 0;
        padding: 70px 0px 0 300px;
        height: 100%;
    }

    .ls-closed section.content {
        margin-left: 0;
        padding-left: 0;
    }

    .esri-view .esri-view-surface--inset-outline:focus::after {
        outline: none;
    }

    .esri-view-surface:focus {
        outline: none;
    }

    .esri-ui,
    .esri-overlay-surface:focus {
        outline: none;
    }

    .esri-view-surface canvas:focus {
        outline: none;
    }

    @media (min-width: 768px) {

        .navbar>.container .navbar-brand,
        .navbar>.container-fluid .navbar-brand {
            margin-left: 45px;
        }
    }
</style>

<div id="viewDiv"></div>

<script src="https://js.arcgis.com/4.17/"></script>

<script>
    var map, view;
    require([
        "esri/Map",
        "esri/views/MapView",
        "esri/layers/FeatureLayer",
        "esri/layers/GroupLayer",
        "esri/widgets/Expand",
        "esri/widgets/LayerList",
        "esri/widgets/BasemapToggle",
        "esri/widgets/BasemapGallery",
        "esri/widgets/Measurement",
        "esri/widgets/Legend",
        "esri/widgets/ScaleBar",
        "esri/widgets/Search",
        "esri/tasks/Locator",
        "esri/widgets/Print",
        "esri/widgets/Editor",
        "esri/PopupTemplate",


    ], function(
        Map,
        MapView,
        FeatureLayer,
        GroupLayer,
        Expand,
        LayerList,
        BasemapToggle,
        BasemapGallery,
        Measurement,
        Legend,
        ScaleBar,
        Search,
        Locator,
        Print,
        Editor,
        PopupTemplate

    ) {



        var landGroupLayer = new GroupLayer({
            title: "ชั้นที่ดิน",
            visible: false,
            visibilityMode: "exclusive",
            layers: [],
            // opacity: 0.75
        });




        var structureGroupLayer = new GroupLayer({
            title: "ชั้นโครงสร้าง",
            visible: false,
            visibilityMode: "exclusive",
            layers: [],
            // opacity: 0.75
        });






        var popup = '<div>ชื่อสถานี: {NAMET}</div>';
        popup += '<div>ก.ม.: {KMMIDDLE}</div>';
        popup += '<div>ตำบล: {TamName}</div>';
        popup += '<div>อำเภอ: {AmpName}</div>';
        popup += '<div>จังหวัด: {ProvName}</div>';
        popup += '<div>ชั้นสถานี: {Class}</div>';
        popup += '<div><img src="{NAMEE}" height="100"/></div>';

        var stationFeatureLayer = new FeatureLayer({
            url: "https://srtarcgis.dyndns-web.com:6443/arcgis/rest/services/Orther_Group/Station/FeatureServer/0",
            visible: false,
            outFields: ["*"],
            popupTemplate: {
                // Enable a popup
                title: "{NAMET},",
                content: popup
            }
        });
        var buildingGroupLayer = new GroupLayer({
            title: "ชั้นอาคาร",
            visible: false,
            visibilityMode: "exclusive",
            layers: [stationFeatureLayer],
            // opacity: 0.75
        });



        var otherGroupLayer = new GroupLayer({
            title: "ชั้นอื่นๆ",
            visible: false,
            visibilityMode: "exclusive",
            layers: [],
            // opacity: 0.75
        });

        map = new Map({
            basemap: "topo",
            layers: [otherGroupLayer, buildingGroupLayer, structureGroupLayer, landGroupLayer]
        });

        view = new MapView({
            container: "viewDiv",
            map: map,
            center: [100.5470154, 13.784143],
            zoom: 6

        });

        view.when(function() {

            initMap();

            //load layer
            var url = 'https://srtarcgis.dyndns-web.com:6443/arcgis/rest/services/StructureGroup/Structure1/FeatureServer';
            $.get(url + '?f=pjson', function(res) {

                var featureLayer = [];

                var json = JSON.parse(res);
                for (var index in json.layers) {
                    var layerUrl = url + '/' + index;

                    loadLayer(layerUrl);


                    // featureLayer.push(layer);

                }

                // structureGroupLayer.addMany(featureLayer);

            });

        });

        function loadLayer(layerUrl) {
            // console.log(layerUrl);
            $.get(layerUrl + '?f=pjson', function(res) {

                var jsonLayer = JSON.parse(res);

                // console.log(jsonLayer.name);

                var field = [];
                for (var index in jsonLayer.fields) {
                    field.push({
                        fieldName: jsonLayer.fields[index].name,
                        label: jsonLayer.fields[index].name
                    });
                }

                var layer = new FeatureLayer({
                    url: layerUrl,
                    // mode: FeatureLayer.MODE_ONDEMAND,
                    visible: false,
                    outFields: ["*"],
                    popupTemplate: {
                        content: [{
                            type: "fields",
                            fieldInfos: field
                        }]
                    }
                });

                structureGroupLayer.add(layer);

            });
        }


        /** Layer */
        //http: //smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/ขอบเขตประเทศไทย/FeatureServer/0
        //var regionFeatureLayer = new FeatureLayer("http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/0", {
        //var regionDevFeatureLayer = new FeatureLayer("http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/1", {
        //var provinceFeatureLayer = new FeatureLayer("http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/2", {
        //var amphoeFeatureLayer = new FeatureLayer("http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/3", {
        //var tumbonFeatureLayer = new FeatureLayer("http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/4", {



        function initMap() {

            var featureLayer = map.layers.getItemAt(0);
            // map.layer.getItems();

            var legend = new Legend({
                view: view,
                layerInfos: [{
                    layer: featureLayer
                }]
            });
            view.ui.add(legend, "bottom-left");

            const print = new Print({
                view: view,
                // specify your own print service
                printServiceUrl: "https://utility.arcgisonline.com/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"
            });
            var printExpand = new Expand({
                expandIconClass: "esri-icon-printer",
                view: view,
                content: print
            });
            view.ui.add(printExpand, "top-left");

            var popupSearch = '<div>ชื่อสถานี: {NAMET}</div>';
            popupSearch += '<div>ก.ม.: {KMMIDDLE}</div>';
            popupSearch += '<div>ตำบล: {TamName}</div>';
            popupSearch += '<div>อำเภอ: {AmpName}</div>';
            popupSearch += '<div>จังหวัด: {ProvName}</div>';
            popupSearch += '<div>ชั้นสถานี: {Class}</div>';
            popupSearch += '<div><img src="{NAMEE}" height="100"/></div>';

            const sources = [{
                    layer: new FeatureLayer({
                        url: "https://srtarcgis.dyndns-web.com:6443/arcgis/rest/services/Orther_Group/Station/FeatureServer/0"
                    }),
                    name: "สถานีรถไฟ",
                    searchFields: ["NAMET"],
                    displayField: "NAMET",
                    exactMatch: false,
                    outFields: ["*"],
                    placeholder: "example: หัวหิน",
                    popupTemplate: {
                        // Enable a popup
                        title: "{NAMET},", // Show attribute value
                        content: popupSearch // Display text in pop-up
                    }

                    // maxResults: 6,
                    // maxSuggestions: 6,
                    // suggestionsEnabled: true,
                    // minSuggestCharacters: 0
                },
                // {
                //     locator: new Locator({
                //         url: "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer"
                //     }),
                //     singleLineFieldName: "SingleLine",
                //     name: "ประเทศ",
                //     placeholder: "example: thailand"
                // },
                // {
                //     layer: new FeatureLayer({
                //         url: "http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/0"
                //     }),
                //     name: "ภาคตามภูมิศาสตร์",
                //     searchFields: ["RE_6_NAM"],
                //     displayField: "RE_6_NAM",
                //     exactMatch: false,
                //     outFields: ["*"],
                //     placeholder: "example: ภาคเหนือ",
                //     // maxResults: 6,
                //     // maxSuggestions: 6,
                //     // suggestionsEnabled: true,
                //     // minSuggestCharacters: 0
                // },
                // {
                //     layer: new FeatureLayer({
                //         url: "http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/1"
                //     }),
                //     name: "ภาคตามแผนการพัฒนา",
                //     searchFields: ["RE_DP_NAM"],
                //     displayField: "RE_DP_NAM",
                //     exactMatch: false,
                //     outFields: ["*"],
                //     placeholder: "example: ภาคเหนือ",
                // },
                {
                    layer: new FeatureLayer({
                        url: "http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/2"
                    }),
                    name: "จังหวัด",
                    searchFields: ["PV_NAMT_U"],
                    displayField: "PV_NAMT_U",
                    exactMatch: false,
                    outFields: ["*"],
                    placeholder: "example: กรุงเทพ",
                }
                // {
                //     layer: new FeatureLayer({
                //         url: "http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/3"
                //     }),
                //     name: "อำเภอ",
                //     searchFields: ["AMP_NAMT_U"],
                //     displayField: "AMP_NAMT_U",
                //     exactMatch: false,
                //     outFields: ["*"],
                //     placeholder: "example: กรุงเทพ",
                // },
                // {
                //     layer: new FeatureLayer({
                //         url: "http://smartgis.dgr.go.th:8080/arcgis/rest/services/NEW_GIS_Group/08แผนที่ขอบเขต/FeatureServer/4"
                //     }),
                //     name: "ตำบล",
                //     searchFields: ["TAM_NAMT_U"],
                //     displayField: "TAM_NAMT_U",
                //     exactMatch: false,
                //     outFields: ["*"],
                //     placeholder: "example: กรุงเทพ",
                // }
            ];

            var searchWidget = new Search({
                allPlaceholder: "Search",
                includeDefaultSources: false,
                sources: sources,
                view: view
            });
            view.ui.add(searchWidget, {
                position: "top-right"
            });

            const layerList = new LayerList({
                view: view,
                container: 'layer'
            });

            // view.ui.add(layerList, {
            //     position: "top-right"
            // });

            var basemapToggle = new BasemapToggle({
                view: view,
                nextBasemap: "satellite"
            });
            view.ui.add(basemapToggle, "bottom-right");

            var basemapGallery = new BasemapGallery({
                view: view,
                container: 'basemap'
            });

            // const measurement = new Measurement({
            //     view: view,
            //     activeTool: "distance"
            // });

            // var measurementExpand = new Expand({
            //     expandIconClass: "esri-icon-measure",
            //     view: view,
            //     content: measurement
            // });
            // view.ui.add(measurementExpand, "top-left");

            var scaleBar = new ScaleBar({
                view: view,
                unit: "metric"
            });
            view.ui.add(scaleBar, {
                position: "bottom-right"
            });

            // Set the extent on the view
            // view.extent = new Extent({
            //     xmin: -9177882,
            //     ymin: 4246761,
            //     xmax: -9176720,
            //     ymax: 4247967,
            //     spatialReference: {
            //         wkid: 102100
            //     }
            // });

            /********************
             * Add feature layer
             ********************/



            // map.add(stationFeatureLayer);


            // Create the Editor
            let editor = new Editor({
                view: view
            });

            var editExpand = new Expand({
                expandIconClass: "esri-icon-edit",
                view: view,
                content: editor
            });
            view.ui.add(editExpand, "top-left");



        }


    });
</script>