.btn-back {
    float: left;
}

.btn-back i {
    font-size: 40px;
    font-weight: bold;
    padding-right: 10px;
    color: #aaa;
}

.btn-back i:hover {
    color: #333;
}

#add-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
}

#add-btn i {
    color: #fff;
}

.user-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #ac83c9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ac83c9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.header-dropdown {
    padding: 0;
    margin: 0;
}

.header-dropdown i {
    font-size: 20px;
    color: #999;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.header-dropdown li {
    list-style: none;
}

.font-upper {
    text-transform: uppercase;
}

.font-lower {
    text-transform: lowercase;
}

.font-cap {
    text-transform: capitalize;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #73cbf3;
    border-color: #03A9F4;
}

@media (max-width: 576px) {
    .xs-full {
        /* padding: 0px; */
        margin-top: -30px;
    }
    .ls-closed section.content {
        margin-left: 0px;
        margin-right: 0px;
    }
    .pagination-content {
        text-align: center;
    }
}

@media print {
    #leftsidebar {
        display: none;
    }
    section.content {
        margin: 0;
    }
    .hidden-print {
        display: none;
    }
    .show-print {
        display: block !important;
    }
    .font-print {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 600px) {
    .show-on-small {
        display: block !important;
    }
}