<?php
foreach ($this->plan as $row) {
?>
    <tr id="plan-<?= $row['plan_id'] ?>">
        <td></td>
        <td></td>
        <td></td>
        <td><?= $row['plan_activity_name'] ?></td>
        <td><?= $row['plan_start_at'] ?></td>
        <td><?= $row['plan_end_at'] ?></td>
        <td><?= $row['plan_actual_at'] ?></td>
        <td><a href="javascript:deletePlan(<?= $row['plan_id'] ?>)"><i class="material-icons">delete</i></a></td>
    </tr>
<?php
}
?>