<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!-- optional -->
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div class="container-fluid">

    <?php

    $no = 0;
    foreach ($this->dispClass as $data) {
        $no++;
    ?>

        <div class="col-xs-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2><?= $data['report_name'] ?></h2>
                    <ul class="header-dropdown m-r--5">
                        <!-- <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons" data-toggle="modal" data-target="#helpModal-<?= $no ?>">help</i>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="card">

                                    <div class="body">
                                        <div id="container-bar-<?= $no ?>" style="height: 400px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="col-xs-12 col-sm-12 ">
                                <div class="card">

                                    <div class="body">
                                        <div id="container-pie-<?= $no ?>" style="height: 400px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="helpModal-<?= $no ?>" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="largeModalLabel">ประเภทโรงงาน</h4>
                    </div>
                    <div class="modal-body" id="help-data-<?= $no ?>">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <script>
            $(function() {

                var bar = Highcharts.chart('container-bar-<?= $no ?>', {
                    chart: {
                        type: 'bar'
                    },
                    credits: false,
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: [],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'โรงงาน'
                        }
                    },
                    // tooltip: {
                    //     headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    //     pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    //         '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    //     footerFormat: '</table>',
                    //     shared: true,
                    //     useHTML: true
                    // },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'จำนวนไร่',
                        data: [],
                        // color: '#ff0000' 

                    }]
                });

                var pie = Highcharts.chart('container-pie-<?= $no ?>', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    credits: false,
                    title: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: ''
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        name: 'Type',
                        colorByPoint: true,
                        data: [],
                        colors: ['#7700B3', '#00B300', '#0040FF', '#FF0000']
                        //แก้สีpie
                    }]
                });

                var link = "<?= $data["report_link"] ?>/query?where=1%3D1&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&distance=&units=esriSRUnit_Foot&relationParam=&outFields=*&returnGeometry=false&maxAllowableOffset=&geometryPrecision=&outSR=&havingClause=&gdbVersion=&historicMoment=&returnDistinctValues=false&returnIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&multipatchOption=xyFootprint&resultOffset=&resultRecordCount=&returnTrueCurves=false&returnExceededLimitFeatures=false&quantizationParameters=&returnCentroid=false&sqlFormat=none&resultType=&featureEncoding=esriDefault&datumTransformation=&f=pjson";

                $.get(link, {},
                    function(res) {

                        var json = JSON.parse(res);

                        // Use an object to store the zone counts
                        var type = {};

                        for (var i = 0; i < json.features.length; i++) {
                            var attr = json.features[i].attributes;

                            if ($.trim(attr.Zone) != "") {
                                if (typeof type[attr.Zone] == 'undefined') {
                                    type[attr.Zone] = 1;
                                } else {
                                    type[attr.Zone]++;
                                }
                            }
                        }

                        // Convert the object into an array of objects for sorting
                        var typeArray = Object.keys(type).map(function(zone) {
                            return {
                                name: zone,
                                count: type[zone]
                            };
                        });

                        // Define the order for sorting
                        var order = {

                            'พื้นที่อุตสาหกรรม': 1,
                            'พื้นที่สีเขียว': 2,
                            'พื้นที่สาธารณูปโภค': 3,
                            'พื้นที่พาณิชยกรรม/ที่พักอาศัย': 4,
                            
                        };

                        // Sort the array based on the defined order
                        typeArray.sort(function(a, b) {
                            return order[a.name] - order[b.name];
                        });


                        var formattedData = {};

                        // Loop through the 'type' array and add the data to the 'formattedData' object
                        for (var i = 0; i < typeArray.length; i++) {
                            var zoneName = typeArray[i].name;
                            var count = typeArray[i].count;
                            formattedData[zoneName] = count;
                        }
                        type = formattedData;

                        // console.log(formattedData);

                        var code = "0";
                        for (var i in type) {
                            code += "," + i;
                            //bar
                            var category = bar.xAxis[0].categories.push(i);
                            var bSeries = bar.series[0];
                            bSeries.addPoint([i, type[i]]);

                            //pie
                            var pSeries = pie.series[0];
                            pSeries.addPoint([i, type[i]]);
                        }


                        $.post('<?php echo $this->url('dashboard', ['action' => 'getfactype']) ?>', {
                            'code': code
                        }, function(res) {
                            //console.log(res);

                            $('#help-data-<?= $no ?>').html(res);
                        });

                    });


            });
        </script>
    <?php
    }
    ?>

</div>