<?php
$url = $this->basePath();
$templateUrl = $url . '/template';

?>
<style type="text/css">
	body {
		font-family: 'Varela Round', sans-serif;
	}

	.modal-backdrop.in {
		opacity: 0;
	}

	.modal-login {
		color: #636363;
		/* width: 350px; */
		margin-top: 100px;
	}

	.modal-login .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
		opacity: 0.9;
		background-color: unset;
		box-shadow: unset;
	}

	.modal-login .modal-header {
		border-bottom: none;
		position: relative;
		justify-content: center;
	}

	.modal-header p {
		text-align: center;
	}

	.modal-login h4 {
		text-align: center;
		font-size: 20px;
		margin-top: 30px;
		color: #fff;

	}

	.modal-login .form-group {
		position: relative;
	}

	.modal-login .show-pass {
		position: absolute;
		right: 13px;
		top: 11px;
		font-size: 14px;
		cursor: pointer;
	}

	.modal-login .icon {
		position: absolute;
		left: 13px;
		top: 11px;
		font-size: 16px;
	}

	.modal-login .form-control {
		padding-left: 40px;
	}

	.modal-login .form-control:focus {
		border-color: #00ce81;
	}

	.modal-login .form-control,
	.modal-login .btn {
		min-height: 40px;
		border-radius: 3px;
	}

	.modal-login .hint-text {
		text-align: center;
		padding-top: 10px;
	}

	.modal-login .close {
		position: absolute;
		top: -5px;
		right: -5px;
	}

	.modal-login .btn {
		background: #FF9800;
		border: none;
		line-height: normal;
		color: #fff;
	}

	.modal-login .modal-footer {
		background: #ecf0f1;
		border-color: #dee4e7;
		text-align: center;
		margin: 0 -20px -20px;
		border-radius: 5px;
		font-size: 13px;
		justify-content: center;
	}

	.modal-login .modal-footer a {
		color: #999;
	}

	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}

	.modal-login .avatar {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -85px;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		z-index: 9;
		background: #ac83c9;
		padding: 15px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
		background-size: cover;
		background-position: center;
	}

	.modal-login .avatar img {
		width: 100%;
	}

	.login-footer {
		text-align: center;
		position: absolute;
		bottom: 0px;
		width: 100%;
		padding: 5px;
		color: #aaa;
	}

	.video-background {
		/* class name used in javascript too */
		width: 100%;
		height: 100%;
		/* height needs to be set to 100% */
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}
</style>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<div style="text-align: center">
					<img width="100" src="<?php echo $this->basePath('img/logo.png'); ?>" />
				</div>
				<h4 class="modal-title">GIS DIW</h4>

			</div>
			<div class="modal-body">
				<form action="" method="post">
					<div class="form-group">
						<i class="glyphicon glyphicon-user icon"></i>

						<input type="text" name="login" class="form-control" placeholder="<?= $this->translate('login') ?>" required="required" value="">
					</div>
					<div class="form-group">
						<i class="glyphicon glyphicon-lock icon"></i>
						<input id="login-pass" type="password" name="password" class="form-control" placeholder="<?= $this->translate('password') ?>" required="required" style="font-size: 14px;">
						<i class="glyphicon glyphicon-eye-close show-pass" onClick="showPass(this)"></i>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-block btn-lg" value="<?= $this->translate('login') ?>">
					</div>

				</form>

			</div>
			<!-- <div class="modal-footer">
				
			</div> -->
		</div>
	</div>
</div>

<div class="login-footer">
	FICT Associate Co., Ltd.
</div>

<video class="video-background" no-controls autoplay muted loop src="<?php echo $url; ?>/bg2.webm" poster=""></video>


<script>
	$('#myModal').modal({
		backdrop: 'static',
		keyboard: false,
		show: true
	});

	function showPass(elm) {

		var pass = document.getElementById("login-pass");
		if (pass.type === "password") {
			pass.type = "text";
			$(elm).removeClass('glyphicon-eye-close');
			$(elm).addClass('glyphicon-eye-open');
		} else {
			pass.type = "password";
			$(elm).removeClass('glyphicon-eye-open');
			$(elm).addClass('glyphicon-eye-close');
		}

	}

	function scaleToFill() {
		$('video.video-background').each(function(index, videoTag) {
			var $video = $(videoTag),
				videoRatio = videoTag.videoWidth / videoTag.videoHeight,
				tagRatio = $video.width() / $video.height(),
				val;

			if (videoRatio < tagRatio) {
				val = tagRatio / videoRatio * 1.02; //<!-- size increased by 2% because value is not fine enough and sometimes leaves a couple of white pixels at the edges -->
			} else if (tagRatio < videoRatio) {
				val = videoRatio / tagRatio * 1.02;
			}

			$video.css('transform', 'scale(' + val + ',' + val + ')');

		});
	}

	$(function() {
		scaleToFill();

		$('.video-background').on('loadeddata', scaleToFill);

		$(window).resize(function() {
			scaleToFill();
		});
	});
</script>