﻿<!-- 
THEME: Small Apps | Bootstrap App Landing Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/small-apps-free-app-landing-page-template/
DEMO: https://demo.themefisher.com/small-apps/
GITHUB: https://github.com/themefisher/Small-Apps-Bootstrap-App-Landing-Template

Get HUGO Version : https://themefisher.com/products/small-apps-hugo-app-landing-theme/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>GIS กรมโรงงานอุตสาหกรรม</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap App Landing Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Small Apps Template v1.0">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" /> -->

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="plugins/aos/aos.css">

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">

    <style>
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {
        opacity: 0.7;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1200px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
    </style>

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


    <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
        <div class="container">
            <a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img
                    src="<?= $this->basePath('img/logo1.png') ?>" style="width: 64px;" alt="logo"></a><a
                class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="img/logo-text.png"
                    style="width: 200px;" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/') ?>">หน้าหลัก</a>
                    </li>
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/news') ?>">ข่าวสาร</a>
                    </li>

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">ผลการศึกษา
                            <span><i class="ti-angle-down"></i></span>
                        </a>
                        <!-- Dropdown list -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="<?= $this->basePath('/results') ?>">ผลการศึกษาปี 2564</a>
                            </li>
                            <li><a class="dropdown-item" href="<?= $this->basePath('/results2566') ?>">ผลการศึกษาปี
                                    2566</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--====================================
=            Single Article            =
=====================================-->

    <section class="company-fun-facts section" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="fun-fact">
                        <!-- Icon -->
                        <a href="<?= $this->basePath('/about') ?>">
                            <i class="ti-comment-alt"></i>
                            <h3>เกี่ยวกับโครงการ</h3>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="fun-fact">
                        <!-- Icon -->
                        <a href="<?= $this->basePath('/results2566') ?>">
                            <i class="ti-agenda"></i>
                            <h3>ผลการศึกษา</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fun-fact">
                        <!-- Icon -->
                        <a href="<?= $this->basePath('/document') ?>">
                            <i class="ti-files"></i>
                            <h3>เอกสารเผยแพร่</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section blog-single">
        <div class="container">
            <div class="row">
                <div class="col-md-10 m-auto">
                    <!-- About Author Widget -->
                    <div class="about-author">
                        <h2>หลักการและเหตุผล</h2>
                        <div class="media">
                            <!-- About Author -->
                            <div class="media-body align-self-center">
                                <!-- Author Name -->
                                <p>
                                    &emsp;แผนยุทธศาสตร์ชาติ (พ.ศ. 2561-2580) ยุทธศาสตร์ที่ 2
                                    ด้านการสร้างความสามารถในการแข่งขันแผนแม่บทภายใต้ยุทธศาสตร์ชาติ
                                    ด้านพื้นที่และเมืองนาอยู่อัจฉริยะ นโยบายรัฐบาล
                                    นโยบายหลักด้านการพัฒนาพื้นที่เศรษฐกิจและกระจายความเจริญสู่ภูมิภาค นโยบาย อก.
                                    ด้านการส่งเสริมการลงทุนในพื้นที่ (Investment Promotion)
                                    แผนปฏิบัติการกระทรวงอุตสาหกรรม
                                    เรื่องการพัฒนาปัจจัยสนับสนุนให้เอื้อต่อการเติบโตของภาคอุตสาหกรรม
                                    แผนปฏิบัติราชการกรมโรงงานอุตสาหกรรม
                                    เรื่องยกระดับขีดความสามารถทางการแข่งขันธุรกิจอุตสาหกรรมด้วยเทคโนโลยีและนวัตกรรม
                                    ซึ่งเขตประกอบการอุตสาหกรรมเป็นพื้นที่ของภาคเอกชนที่ได้รับการสนับสนุนให้พัฒนาเป็นเขตประกอบการอุตสาหกรรมตามมาตรา
                                    30 แห่งพระราขบัญญัติโรงงาน พ.ศ. 2535
                                    โรงงานที่ตั้งอยู่ในพื้นที่เขตประกอบการอุตสาหกรรมนี้
                                    จะได้สิทธิประโยชน์ตามพระราชบัญญัติโรงงาน พ.ศ. 2535
                                    โดยได้รับการยกเว้นไม่ต้องแจ้งให้พนักงานเจ้าหน้าที่ทราบตามมาตรา 11
                                    หรือได้รับใบอนุญาตตามมาตรา 12
                                    เพื่อเป็นแรงจูงใจให้ผู้ประกอบกิจการโรงงานเลือกเข้ามาตั้งอยู่ในเขตประกอบการอุตสาหกรรม
                                    มิให้ตั้งอยู่กระจัดกระจายในพื้นที่ทั่วไป เป็นการสนับสนุนทางด้านผังเมือง
                                    และเกิดการรวมกลุ่มอุตสาหกรรม (Cluster) อย่างไรก็ตาม
                                    การประกอบกิจการโรงงานจะต้องปฏิบัติตามหลักเกณฑ์ที่กำหนดในกฎกระทรวง ประกาศกระทรวง
                                    และบทบัญญัติอื่นที่เกี่ยวกับการควบคุมการประกอบกิจการโรงงานตามพระราชบัญญัตินี้
                                    รวมถึงจะต้องปฏิบัติตามกฎหมายอื่นที่เกี่ยวข้อง เช่น
                                    กฎหมายว่าด้วยการส่งเสริมและรักษาคุณภาพสิ่งแวดล้อม กฎหมายว่าด้วยการผังเมือง เป็นต้น
                                    <br>

                                    &emsp;ปัจจุบันได้มีการจัดตั้งเขตประกอบการอุตสาหกรรมจำนวน 26 เขต
                                    แต่มีเพียงเขตประกอบการอุตสาหกรรม 16 เขต ที่มีศักยภาพในการพัฒนาพื้นที่อุตสาหกรรม
                                    ได้แก่ 1) เขตประกอบการอุตสาหกรรมกลุ่มโรงงานฟอกหนัง จังหวัดสมุทรปราการ 2)
                                    เขตประกอบการอุตสาหกรรมไทยซัมมิท จังหวัดสมุทรปราการ 3)
                                    เขตประกอบการอุตสาหกรรมเครือซีเมนต์ไทย จังหวัดสระบุรี 4)
                                    เขตประกอบการอุตสาหกรรมสยามอิสเทิร์นอินดัสเตรียลพาร์ค จังหวัดระยอง 5)
                                    เขตประกอบการอุตสาหกรรมบริษัท ไออาร์พีชี จำกัด (มหาขน) จังหวัดระยอง 6)
                                    เขตประกอบการอุตสาหกรรมกบินทร์บุรี จังหวัดปราจีนบุรี 7) เขตประกอบการอุตสาหกรรมซันโย
                                    จังหวัดฉะเชิงเทรา 8) เขตประกอบการอุตสาหกรรมแฟคตอรี่แลนด์วังน้อย
                                    จังหวัดพระนครศรีอยุธยา 9) เขตประกอบการอุตสาหกรรม จี.เค.แลนด์ จังหวัดระยอง 10)
                                    เขตประกอบการอุตสาหกรรมไทยซูซูกิ จังหวัดปทุมธานี 11)
                                    เขตประกอบการอุตสาหกรรมเครือซีเมนต์ไทย จังหวัดระยอง 12)
                                    เขตประกอบการอุตสาหกรรมสวนอุตสาหกรรมโรจนะ จังหวัดระยอง 13)
                                    เขตประกอบการอุตสาหกรรมชัยนันท์-บางพลี จังหวัดสมุทรปราการ 14)
                                    เขตประกอบการอุตสาหกรรมนวนคร จังหวัดนครราชสีมา 15)
                                    เขตประกอบการอุตสาหกรรมสวนอุตสาหกรรมโรจนะ จังหวัดพระนครศรีอยุธยา 16)
                                    เขตประกอบการอุตสาหกรรมปราจีนอินดัสเตรียลปาร์ค จังหวัดปราจีนบุรี

                                    <br>
                                    &emsp;ในการศึกษาครั้งนี้ ทางกรมโรงงานอุตสาหกรรม มีความประสงค์ที่จะจ้างที่ปรึกษาฯ
                                    ดำเนินการศึกษาเขตประกอบการทั้ง 8 พื้นที่ ดังนี้<br>
                                    &emsp;(1) เขตประกอบการอุตสาหกรรมสวนอุตสาหกรรมโรจนะ จังหวัดระยอง<br>
                                    &emsp;(2) เขตประกอบการอุตสาหกรรมเครือซีเมนต์ไทย จังหวัดระยอง <br>
                                    &emsp;(3) เขตประกอบการอุตสาหกรรมสวนอุตสาหกรรมโรจนะ จังหวัดพระนครศรีอยุธยา<br>
                                    &emsp;(4) เขตประกอบการอุตสาหกรรมแฟคตอรี่แลนด์วังน้อย จังหวัดพระนครศรีอยุธยา<br>
                                    &emsp;(5) เขตประกอบการอุตสาหกรรมไทยซัมมิท จังหวัดสมุทรปราการ<br>
                                    &emsp;(6) เขตประกอบการอุตสาหกรรม แอล พี เอ็น จังหวัดสมุทรปราการ<br>
                                    &emsp;(7) เขตประกอบการอุตสาหกรรมซันโย จังหวัดฉะเชิงเทรา<br>
                                    &emsp;(8) เขตประกอบการอุตสาหกรรมทีพีไอโพลีน จังหวัดสระบุรี<br>
                                    &emsp;จึงมีความประสงค์ที่จะจ้างที่ปรึกษาเพื่อจัดทำระบบสารสนเทศภูมิศาสตร์ (GIS)
                                    สำหรับการสนับสนุนส่งเสริมและกำกับดูแลโรงงานอุตสาหกรรมในเขตประกอบการอุตสาหกรรม
                                    ยืนยันแนวเขตประกอบการอุตสาหกรรมตามที่ได้รับการประกาศ
                                    จัดเก็บข้อมูลตำแหน่งโรงงานที่ตั้งในเขตประกอบการอุตสาหกรรมให้ถูกต้องเป็นปัจจุบัน
                                    พร้อมทั้งจัดทำโปรแกรมประยุกต์ระบบสารสนเทศภูมิศาสตร์ (GIS Application)
                                    โดยสามารถเชื่อมโยงกับระบบฐานข้อมูลโรงงานของกรมฯ อาทิ ข้อมูลวัตถุดิบ ข้อมูลผลิตภัณฑ์
                                    ข้อมูลผลพลอยได้ ข้อมูลวัสดุหรือเศษที่เหลือใช้ ข้อมูลเครื่องจักร
                                    ข้อมูลกำลังเครื่องจักร ข้อมูลวัตถุอันตราย ข้อมูลหม้อน้ำ เป็นต้น
                                    เพื่อนำไปใช้ประกอบการศึกษาพัฒนาพื้นที่เขตประกอบการอุตสาหกรรมในการสนับสนุนส่งเสริมในเรื่องเศรษฐกิจหมุนเวียน
                                    (Circular Economy) และการพัฒนาที่ยั่งยืน (Sustainable Development)

                                    <br>
                                </p>
                                <!-- Author Social links -->

                            </div>
                        </div>
                    </div>

                    <div class="about-author">
                        <h2>วัตถุประสงค์โครงการ</h2>
                        <div class="media">
                            <!-- About Author -->
                            <div class="media-body align-self-center">
                                <!-- Author Name -->

                                <p>
                                    &emsp;(1)
                                    เพื่อให้กรมโรงงานอุตสาหกรรมมีเครื่องมือที่สามารถใช้เป็นต้นแบบในการประยุกต์ใช้ระบบสารสนเทศภูมิศาสตร์
                                    (GIS) ในการสนับสนุนส่งเสริมและกำกับดูแลโรงงานอุตสาหกรรมในเขตประกอบการอุตสาหกรรม <br>
                                    &emsp;(2) เพื่อยืนยันแนวเขตประกอบการอุตสาหกรรมตามที่ได้รับการประกาศ
                                    โดยใช้ระบบสารสนเทศภูมิศาสตร์ (GIS)
                                    และจัดเก็บข้อมูลตำแหน่งโรงงานที่ตั้งในเขตประกอบการอุตสาหกรรมให้ถูกต้องเป็นปัจจุบัน
                                    <br>
                                    &emsp;(3) เพื่อศึกษาวิเคราะห์ศักยภาพของเขตประกอบการอุตสาหกรรม
                                    ในการที่จะขยายพื้นที่เพิ่มเติม
                                    หรือการขยายประเภทอุตสาหกรรมที่จะส่งเสริมสนับสนุนเพื่อให้สอดคล้องกับนโยบายของรัฐบาล
                                    นโยบายของกระทรวงอุตสาหกรรม ตลอดจนแนวคิดของเศรษฐกิจหมุนเวียน (Circular Economy)
                                    อันสอดคล้องการพัฒนาที่ยั่งยืน (Sustainable Development)
                                </p>
                                <!-- Author Social links -->

                            </div>
                        </div>
                    </div>

                    <div class="about-author">
                        <h2>ผลผลิตสำคัญของโครงการ (Key Project Outputs)</h2>
                        <div class="media">
                            <!-- About Author -->
                            <div class="media-body align-self-center">
                                <!-- Author Name -->

                                <p>
                                    &emsp;ผลการดำเนินงานทั้งหมดซึ่งได้รับการปรับปรุงแก้ไขแล้วอย่างครบถ้วนสมบูรณ์ตามขอบเขตและกิจกรรมของโครงการ
                                    ประกอบด้วย<br>
                                    &emsp;(1) แผนที่สารสนเทศภูมิศาสตร์ (GIS Map)
                                    ที่มีข้อมูลเขตประกอบการอุตสาหกรรมและข้อมูลอื่น ๆ ที่เกี่ยวข้องของพื้นที่ 8
                                    เขตประกอบการอุตสาหกรรม พร้อมทั้งโปรแกรมประยุกต์ระบบสารสนเทศภูมิศาสตร์ (GIS
                                    Application) จำนวน 1 ระบบ<br>
                                    &emsp;(2) คู่มือการใช้งานโปรแกรมประยุกต์ระบบสารสนเทศภูมิศาสตร์ (GIS Application)
                                    สำหรับผู้ดูแลระบบ จำนวน 8 เล่ม และสำหรับผู้ใช้งานระบบ จำนวน 23 เล่ม<br>
                                    &emsp;(3) รายงานแนวทางการสนับสนุนส่งเสริมและพัฒนาเขตประกอบการอุตสาหกรรม
                                    ตลอดจนเพิ่มขีดความสามารถทางการแข่งขันให้กับโรงงานในเขตประกอบการอุตสาหกรรม 8
                                    เขตประกอบการอุตสาหกรรม จำนวนเขตประกอบการอุตสาหกรรมละ 5 เล่ม
                                </p>
                                <!-- Author Social links -->

                            </div>
                        </div>
                    </div>

                    <div class="about-author">
                        <h2>ระยะเวลาในการดำเนินงาน</h2>
                        <div class="media">
                            <!-- About Author -->
                            <div class="media-body align-self-center">
                                <!-- Author Name -->

                                <p>&emsp; ระยะเวลาดำเนินงาน 9 เดือน ตั้งแต่วันที่ 23 ธันวาคม 2565 ถึง 18 กันยายน 2566
                                </p>
                                <!-- Author Social links -->

                            </div>
                        </div>
                    </div>

                    <div class="about-author">
                        <h2>ภารกิจของที่ปรึกษาฯ และขอบเขตงาน</h2>
                        <div class="media">
                            <!-- About Author -->
                            <div class="media-body align-self-center">
                                <!-- Author Name -->

                                <p>&emsp;ภารกิจของที่ปรึกษาฯ และขอบเขตงาน
                                    ขอบเขตการศึกษา (Terms of References)
                                    โครงการวิเคราะห์ศักยภาพพื้นที่เขตประกอบการอุตสาหกรรมเพื่อการพัฒนาที่ยั่งยืนด้วยระบบ
                                    GIS (ภายใต้ค่าใช้จ่ายในการพัฒนาพื้นที่อุตสาหกรรม เพื่อรองรับการลงทุน)
                                    <br>
                                    <img id="myImg" class="w-100" src="<?= $this->basePath('img/2023-10-17-110701.png') ?>"
                                        alt="ขอบเขตงานที่จะต้องดำเนินการภายใต้โครงการ">
                                <div id="myModal" class="modal">
                                    <span class="close">&times;</span>
                                    <img class="modal-content" id="img01">
                                    <div id="caption"></div>
                                </div>
                                </p>
                                <!-- Author Social links -->

                            </div>
                        </div>
                    </div>

                    <div class="about-author">
                        <h2>ผลลัพธ์ของโครงการ (Project Outcomes)</h2>
                        <div class="media">
                            <!-- About Author -->
                            <div class="media-body align-self-center">
                                <!-- Author Name -->

                                <p>&emsp;(1)
                                    เพื่อให้กรมโรงงานอุตสาหกรรมมีเครื่องมือที่สามารถใช้เป็นต้นแบบการประยุกต์ใช้ระบบสารสนเทศภูมิศาสตร์
                                    (GIS) ในการสนับสนุนส่งเสริมและกำกับดูแลโรงงานอุตสาหกรรมในเขตประกอบการอุตสาหกรรม <br>
                                    &emsp;(2) เพื่อยืนยันแนวเขตประกอบการอุตสาหกรรมตามที่ได้รับการประกาศ
                                    โดยใช้ระบบสารสนเทศภูมิศาสตร์ (GIS)
                                    และจัดเก็บข้อมูลตำแหน่งที่ตั้งโรงงานในเขตประกอบการอุตสาหกรรมให้ถูกต้องเป็นปัจจุบัน
                                    <br>
                                    &emsp;(3) เพื่อศึกษาวิเคราะห์ศักยภาพของเขตประกอบการอุตสาหกรรม
                                    ในการที่จะขยายพื้นที่เพิ่มเติม
                                    หรือการขยายประเภทอุตสาหกรรมที่จะส่งเสริมสนับสนุนเพื่อให้สอดคล้องกับแนวคิดของเศรษฐกิจหมุนเวียน
                                    (Circular Economy) และการพัฒนาที่ยั่งยืน (Sustainable Development)

                                </p>
                                <!-- Author Social links -->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--====  End of Single Article  ====-->

    <!--============================
=            Footer            =
=============================-->
    <footer>
        <div class="text-center bg-dark py-4">
            <small class="text-secondary">Copyright &copy; <script>
                document.write(new Date().getFullYear())
                </script>. Designed &amp; Developed by <a href="http://www.fictgroup.com/" target="_blank">FICT
                    Associate</a></small class="text-secondary">
        </div>


    </footer>


    <!-- To Top -->
    <div class="scroll-top-to">
        <i class="ti-angle-up"></i>
    </div>

    <!-- JAVASCRIPTS -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="plugins/syotimer/jquery.syotimer.min.js"></script>
    <script src="plugins/aos/aos.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
    <script src="plugins/google-map/gmap.js"></script>

    <script src="js/script.js"></script>

    <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function() {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    </script>
</body>

</html>