﻿<!-- 
THEME: Small Apps | Bootstrap App Landing Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/small-apps-free-app-landing-page-template/
DEMO: https://demo.themefisher.com/small-apps/
GITHUB: https://github.com/themefisher/Small-Apps-Bootstrap-App-Landing-Template

Get HUGO Version : https://themefisher.com/products/small-apps-hugo-app-landing-theme/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>GIS กรมโรงงานอุตสาหกรรม</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap App Landing Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Small Apps Template v1.0">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" /> -->

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="plugins/aos/aos.css">

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">

    <style>
      
      #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #myImg:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1200px;
      }
      
      /* Caption of Modal Image */
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation */
      .modal-content, #caption {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media only screen and (max-width: 700px){
        .modal-content {
          width: 100%;
        }
      }
      </style>

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


    <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
        <div class="container">
            <a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="<?= $this->basePath('img/logo1.png') ?>" style="width: 64px;" alt="logo"></a><a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="img/logo-text.png" style="width: 200px;" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/') ?>">หน้าหลัก</a>
                    </li>
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/news') ?>">ข่าวสาร</a>
                    </li>
                   		
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">ผลการศึกษา
                      <span><i class="ti-angle-down"></i></span>
                      </a>
                    <!-- Dropdown list -->
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="<?= $this->basePath('/results') ?>">ผลการศึกษาปี 2564</a></li>
                      <li><a class="dropdown-item" href="<?= $this->basePath('/results2566') ?>">ผลการศึกษาปี 2566</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!--====================================
=            Single Article            =
=====================================-->

<section class="company-fun-facts section" style="padding-bottom: 0px;">
	<div class="container">
		<div class="row">
			
		</div>
		<div class="row">		
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/about') ?>">
					<i class="ti-comment-alt"></i>
					<h3>เกี่ยวกับโครงการ</h3>
					</a>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/results') ?>">
					<i class="ti-agenda"></i>
					<h3>ผลการศึกษา</h3>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/document') ?>">
					<i class="ti-files"></i>
					<h3>เอกสารเผยแพร่</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section blog-single">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<!-- About Author Widget -->
				<div class="about-author">
					<h2>หลักการและเหตุผล</h2>
					<div class="media">
						<!-- About Author -->
						<div class="media-body align-self-center">
							<!-- Author Name -->
							  <p>
                &emsp;กรอบยุทธศาสตร์ชาติ 20 ปี (พ.ศ. 2561–2580) ได้กำหนดกรอบการพัฒนายุทธศาสตร์ที่ 2 
                ด้านการสร้างความสามารถในการแข่งขัน ประเด็นที่ 2 อุตสาหกรรมและบริการแห่งอนาคต โดยสร้างอุตสาหกรรมและบริการแห่งอนาคตที่ขับเคลื่อนประเทศไทยไปสู่ประเทศที่พัฒนาแล้วด้วยนวัตกรรมและเทคโนโลยีแห่งอนาคต แผนพัฒนาเศรษฐกิจและสังคมแห่งชาติ ฉบับที่ 12 ยุทธศาสตร์ที่ 3 การสร้าง
                ความเข้มแข็งทางเศรษฐกิจและแข่งขันได้อย่างยั่งยืน แนวทางการพัฒนาที่ 2 การเสริมสร้างและพัฒนา
                ขีดความสามารถในการแข่งขันของภาคการผลิตและบริการ แผนปฏิบัติราชการกระทรวงอุตสาหกรรม ยุทธศาสตร์ที่ 2 การพัฒนาปัจจัยสนับสนุนให้เอื้อต่อการลงทุนและการพัฒนาอุตสาหกรรม 
                และแผนปฏิบัติราชการกรมโรงงานอุตสาหกรรม ด้านที่ 1 การส่งเสริมและสนับสนุนให้ธุรกิจอุตสาหกรรมมีการพัฒนาและเพิ่มศักยภาพในการแข่งขัน เขตประกอบการอุตสาหกรรม เป็นพื้นที่ของภาคเอกชน
                ที่ได้รับการสนับสนุนให้พัฒนาเป็นเขตประกอบการอุตสาหกรรม ตามมาตรา 30 แห่งพระราชบัญญัติโรงงาน พ.ศ. 2535 โรงงานที่ตั้งอยู่ในพื้นที่เขตประกอบการอุตสาหกรรมนี้ จะได้สิทธิประโยชน์
                ตามพระราชบัญญัติโรงงาน พ.ศ. 2535 โดยได้รับการยกเว้นไม่ต้องแจ้งให้พนักงานเจ้าหน้าที่ทราบตาม
                มาตรา 11 หรือได้รับใบอนุญาตตามมาตรา 12 เพื่อเป็นแรงจูงใจให้ผู้ประกอบกิจการโรงงานเลือกเข้ามาตั้งอยู่ในเขตประกอบการอุตสาหกรรม มิให้ตั้งอยู่กระจัดกระจายในพื้นที่ทั่วไป เป็นการสนับสนุนทาง
                ด้านผังเมือง และเกิดการรวมกลุ่มอุตสาหกรรม (Cluster) อย่างไรก็ตาม การประกอบกิจการโรงงานจะต้องปฏิบัติตามหลักเกณฑ์ที่กำหนดในกฎกระทรวง ประกาศของรัฐมนตรี และบทบัญญัติอื่นที่เกี่ยวกับ
                การควบคุมการประกอบกิจการโรงงานตามพระราชบัญญัตินี้ รวมถึงจะต้องปฏิบัติตามกฎหมายอื่น
                ที่เกี่ยวข้อง เช่น กฎหมายว่าด้วยการส่งเสริมและรักษาคุณภาพสิ่งแวดล้อม กฎหมายว่าด้วยการผังเมือง เป็นต้น ปัจจุบัน ได้มีการจัดตั้งเขตประกอบการอุตสาหกรรมจำนวน 26 เขต เพื่อให้การพัฒนา
                เขตประกอบการอุตสาหกรรมเป็นไปอย่างมีประสิทธิภาพ <br>
                &emsp;ในการศึกษาครั้งนี้ ทางกรมโรงงานอุตสาหกรรม มีความประสงค์ที่จะจ้างที่ปรึกษา ดำเนินการศึกษาเขตประกอบการทั้ง 8 พื้นที่ ดังนี้ <br>
                &emsp;1. เขตประกอบการอุตสาหกรรมเครือซิเมนต์ไทย จ.สระบุรี <br>
                &emsp;2. เขตประกอบการอุตสาหกรรมสยามอีสเทิร์นอินดัสเตรียลพาร์ค จ.ระยอง <br>
                &emsp;3. เขตประกอบการอุตสาหกรรมกบินทร์บุรี จ.ปราจีนบุรี <br>
                &emsp;4. เขตประกอบการอุตสาหกรรม จี.เค.แลนด์ จ.ระยอง <br>
                &emsp;5. เขตประกอบการอุตสาหกรรมปราจีนอินดัสเตรียลปาร์ค จ.ปราจีนบุรี <br>
                &emsp;6. เขตประกอบการอุตสาหกรรมบริษัท ไออาร์พีซี จำกัด (มหาชน) จ.ระยอง <br>
                &emsp;7. เขตประกอบการอุตสาหกรรมชัยนันท์-บางพลี พาร์คแลนด์ จ.สมุทรปราการ <br>
                &emsp;8. เขตประกอบการอุตสาหกรรมนวนคร จ.นครราชสีมา <br>
                &emsp;จึงมีความประสงค์ที่จะจ้างที่ปรึกษาเพื่อจัดทำระบบสารสนเทศภูมิศาสตร์ (GIS) สำหรับ <br>
                การสนับสนุนส่งเสริมและกำกับดูแลโรงงานอุตสาหกรรมในเขตประกอบการอุตสาหกรรม ยืนยันแนว
                เขตประกอบการอุตสาหกรรมตามที่ได้รับการประกาศ จัดเก็บข้อมูลตำแหน่งโรงงานที่ตั้งใน
                เขตประกอบการอุตสาหกรรมให้ถูกต้องเป็นปัจจุบัน พร้อมทั้งจัดทำโปรแกรมประยุกต์ระบบสารสนเทศภูมิศาสตร์ (GIS Application) โดยสามารถเชื่อมโยงกับระบบฐานข้อมูลโรงงานของกรมฯ อาทิเช่น 
                ข้อมูลวัตถุดิบ ข้อมูลผลิตภัณฑ์ ข้อมูลผลพลอยได้ ข้อมูลวัสดุหรือเศษที่เหลือใช้ ข้อมูลเครื่องจักร ข้อมูลกำลังเครื่องจักร ข้อมูลวัตถุอันตราย ข้อมูลหม้อน้ำ เป็นต้น เพื่อนำไปใช้ประกอบการศึกษาพัฒนาพื้นที่
                เขตประกอบการอุตสาหกรรมในการสนับสนุนส่งเสริมในเรื่องเศรษฐกิจหมุนเวียน (Circular Economy) และการพัฒนาที่ยั่งยืน (Sustainable Development) เป็นต้น
                </p>
							<!-- Author Social links -->
							
						</div>
					</div>
				</div>

        <div class="about-author">
					<h2>วัตถุประสงค์โครงการ</h2>
					<div class="media">
						<!-- About Author -->
						<div class="media-body align-self-center">
							<!-- Author Name -->
		
							  <p>
                &emsp;(1)	เพื่อให้กรมโรงงานอุตสาหกรรมมีเครื่องมือที่สามารถใช้เป็นต้นแบบในการประยุกต์ใช้ระบบสารสนเทศภูมิศาสตร์ (GIS) ในการสนับสนุนส่งเสริมและกำกับดูแลโรงงานอุตสาหกรรมในเขตประกอบการอุตสาหกรรม <br>
                &emsp;(2)	เพื่อยืนยันแนวเขตประกอบการอุตสาหกรรมตามที่ได้รับการประกาศ โดยใช้ระบบสารสนเทศภูมิศาสตร์ (GIS) และจัดเก็บข้อมูลตำแหน่งโรงงานที่ตั้งในเขตประกอบการอุตสาหกรรมให้ถูกต้องเป็นปัจจุบัน <br>
                &emsp;(3)	เพื่อศึกษาวิเคราะห์ศักยภาพของเขตประกอบการอุตสาหกรรม ในการที่จะขยายพื้นที่เพิ่มเติม หรือการขยายประเภทอุตสาหกรรมที่จะส่งเสริมสนับสนุนเพื่อให้สอดคล้อง
                กับแนวคิดของเศรษฐกิจหมุนเวียน (Circular Economy) และการพัฒนาที่ยั่งยืน (Sustainable Development)                
                </p>
							<!-- Author Social links -->
							
						</div>
					</div>
				</div>

        <div class="about-author">
					<h2>ผลผลิตสำคัญของโครงการ (Key Project Outputs)</h2>
					<div class="media">
						<!-- About Author -->
						<div class="media-body align-self-center">
							<!-- Author Name -->
		
							  <p>
                &emsp;ผลการดำเนินงานทั้งหมดซึ่งได้รับการปรับปรุงแก้ไขแล้วอย่างครบถ้วนสมบูรณ์ตามขอบเขตและกิจกรรมของโครงการ ประกอบด้วย<br>
                &emsp;(1)	แผนที่สารสนเทศภูมิศาสตร์ (GIS Map) ที่มีข้อมูลเขตประกอบการอุตสาหกรรมและข้อมูลอื่น ๆ ที่เกี่ยวข้องของพื้นที่ 8 เขตประกอบการอุตสาหกรรม พร้อมทั้งโปรแกรมประยุกต์ระบบสารสนเทศภูมิศาสตร์ (GIS Application) จำนวน 1 ระบบ<br>
                &emsp;(2)	รายงานแนวทางการสนับสนุนส่งเสริมและพัฒนาเขตประกอบการอุตสาหกรรม ตลอดจนเพิ่มขีดความสามารถทางการแข่งขันให้กับโรงงานในเขตประกอบการอุตสาหกรรม 8 พื้นที่ประกอบการอุตสาหกรรม จำนวนเขตประกอบการอุตสาหกรรมละ 5 เล่ม     
                </p>
							<!-- Author Social links -->
							
						</div>
					</div>
				</div>

        <div class="about-author">
					<h2>ระยะเวลาในการดำเนินงาน</h2>
					<div class="media">
						<!-- About Author -->
						<div class="media-body align-self-center">
							<!-- Author Name -->
		
							<p>&emsp;ระยะเวลาดำเนินงาน 8 เดือน ตั้งแต่วันที่ 29 ธันวาคม 2563 ถึง 28 สิงหาคม 2564</p>
							<!-- Author Social links -->
							
						</div>
					</div>
				</div>

        <div class="about-author">
					<h2>ภารกิจของที่ปรึกษาฯ และขอบเขตงาน</h2>
					<div class="media">
						<!-- About Author -->
						<div class="media-body align-self-center">
							<!-- Author Name -->
		
							<p>&emsp;ขอบเขตการศึกษา (Terms of References) โครงการวิเคราะห์ศักยภาพพื้นที่เขตประกอบการอุตสาหกรรมเพื่อการพัฒนาที่ยั่งยืนด้วยระบบ GIS (ภายใต้ค่าใช้จ่ายในการพัฒนาพื้นที่อุตสาหกรรม
                เพื่อรองรับการลงทุน) <br>
                <b>ขอบเขตงานที่จะต้องดำเนินการภายใต้โครงการ</b>
                <img id="myImg" class="w-100" src="<?= $this->basePath('img/TOR.png') ?>" alt="ขอบเขตงานที่จะต้องดำเนินการภายใต้โครงการ">
                <div id="myModal" class="modal">
                  <span class="close">&times;</span>
                  <img class="modal-content" id="img01">
                  <div id="caption"></div>
                </div>
                </p>
							<!-- Author Social links -->
							
						</div>
					</div>
				</div>

        <div class="about-author">
					<h2>ผลลัพธ์ของโครงการ (Project Outcomes)</h2>
					<div class="media">
						<!-- About Author -->
						<div class="media-body align-self-center">
							<!-- Author Name -->
		
							<p>&emsp;(1)	เพื่อให้กรมโรงงานอุตสาหกรรมมีเครื่องมือที่สามารถใช้เป็นต้นแบบการประยุกต์ใช้ระบบสารสนเทศภูมิศาสตร์ (GIS) ในการสนับสนุนส่งเสริมและกำกับดูแลโรงงานอุตสาหกรรมในเขตประกอบการอุตสาหกรรม <br>
                &emsp;(2)	เพื่อยืนยันแนวเขตประกอบการอุตสาหกรรมตามที่ได้รับการประกาศ โดยใช้ระบบสารสนเทศภูมิศาสตร์ (GIS) และจัดเก็บข้อมูลตำแหน่งที่ตั้งโรงงานในเขตประกอบการอุตสาหกรรมให้ถูกต้องเป็นปัจจุบัน <br>
                &emsp;(3)	เพื่อศึกษาวิเคราะห์ศักยภาพของเขตประกอบการอุตสาหกรรม ในการที่จะขยายพื้นที่เพิ่มเติม หรือการขยายประเภทอุตสาหกรรมที่จะส่งเสริมสนับสนุนเพื่อให้สอดคล้องกับแนวคิดของเศรษฐกิจหมุนเวียน (Circular Economy) และการพัฒนาที่ยั่งยืน (Sustainable Development) 
                
                </p>
							<!-- Author Social links -->
							
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!--====  End of Single Article  ====-->

<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="http://www.fictgroup.com/" target="_blank">FICT Associate</a></small class="text-secondary">
  </div>

	
</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <!-- JAVASCRIPTS -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="plugins/google-map/gmap.js"></script>
  
  <script src="js/script.js"></script>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>
</body>

</html>