<?php
$url = $this->basePath();
$templateUrl = $url.'/template';
?>
<!DOCTYPE HTML>
<html>
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>rw</title>
        
        <link rel="icon" href="favicon.ico" type="image/x-icon">


        <!-- Jquery Core Js -->
        <script src="<?php echo $templateUrl?>/plugins/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core Css -->
        <link href="<?php echo $templateUrl?>/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap Core Js -->
        <script src="<?php echo $templateUrl?>/plugins/bootstrap/js/bootstrap.min.js"></script>
        
        

    </head>
     <body>
        <?php echo $this->layout()->content; ?> 
     </body>
</html>

