<!-- 
THEME: Small Apps | Bootstrap App Landing Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/small-apps-free-app-landing-page-template/
DEMO: https://demo.themefisher.com/small-apps/
GITHUB: https://github.com/themefisher/Small-Apps-Bootstrap-App-Landing-Template

Get HUGO Version : https://themefisher.com/products/small-apps-hugo-app-landing-theme/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>GIS กรมโรงงานอุตสาหกรรม</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap App Landing Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Small Apps Template v1.0">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" /> -->

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="plugins/aos/aos.css">

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">

    <style>
      
      #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #myImg:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1200px;
      }
      
      /* Caption of Modal Image */
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation */
      .modal-content, #caption {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media only screen and (max-width: 700px){
        .modal-content {
          width: 100%;
        }
      }
      </style>

</head>

<?php
$fac = $_GET['fac'];
if($fac == 'เขตประกอบการอุตสาหกรรมดับบลิวเอชเอ สระบุรี'){
  $temp = '<section class="post-grid section pt-0" style="padding:0px;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Call to action Community -->
                  <div class="cta-community shadow">
                    <div class="row align-items-center">
                        <div class="col-lg-1 text-center text-lg-left">
                          <div class="content">
                            <p>
                            1.<br>
                            2.<br>
                            3.<br>
                            4.<br>
                            5.<br>
                            6.<br>
                            7.<br>
                            8.<br>
                            9.<br>
                            10.<br>
                            11.<br>
                            12.<br>
                            13.<br>
                            14.<br>
                            15.<br>
                            16.<br>
                            17.<br>
                            18.<br>
                            19.<br>
                            20.<br>
                            21.<br>
                            22.<br>
                            23.<br>
                            24.<br>
                            25.<br>
                            26.<br>
                            27.<br>
                            28.<br>
                            29.<br>
                            30.<br>
                            31.<br>
                            32.<br>
                            33.<br>
                            34.<br>
                            35.<br>
                            36.<br>
                            37.<br>
                            38.<br>
                            39.<br>
                            40.<br>
                            41.<br>
                            42.<br>
                            43.<br>
                            44.<br>
                            45.<br>
                            46.<br>
                            47.<br>
                            48.<br>
                            49.<br>
                            50.<br>
                            51.<br>
                            52.<br>
                            53.<br>
                            54.<br>
                            55.<br>
                            56.<br>
                            57.<br>
                            58.<br>
                            59.<br>
                            60.<br>
                            61.<br>
                            62.<br>
                            63.<br>
                            64.<br>
                            65.<br>
                            66.<br>
                            67.<br>
                            68.<br>
                            69.<br>
                            70.<br>
                            71.<br>
                            72.<br>
                            73.<br>
                            74.<br>
                            75.<br>
                            76.<br>
                            77.<br>
                            78.<br>
                            79.<br>
                            </p>
                          </div>
                        </div>

                        <div class="col-lg-8 text-center text-lg-left">
                          <div class="content">
                            <p>
                            บริษัท ฮิตาชิ ทรานสปอร์ต ซิสเต็มส์ แวนเทค (ประเทศไทย) จำกัด <br>
                            บริษัท ดีแฮ็พเพนนิ่ง จำกัด <br>
                            บริษัท ฮาร์เวสท์ พรีซิชั่น (ประเทศไทย) จำกัด <br>
                            บริษัท อาร์เด็กซ์(ประเทศไทย) จำกัด <br>
                            บริษัท อาซาฮี เซเคย์(ประเทศไทย) จำกัด <br>
                            บริษัท อัลเลโกร ไมโครซิสเต็มส์(ประเทศไทย) จำกัด <br>
                            บริษัท หนองแค โคเจนเนอเรชั่น จำกัด <br>
                            บริษัท สลิค (ประเทศไทย) จำกัด <br>
                            บริษัท สยามอุตสาหกรรมยิปซัม(สระบุรี) จำกัด <br>
                            บริษัท สยามอุตสาหกรรมยิปซัม(สระบุรี) จำกัด <br>
                            บริษัท สยามมิชลิน จำกัด <br>
                            บริษัท สยามมิชลิน จำกัด <br>
                            บริษัท สยามฟูรูกาวา จำกัด <br>
                            บริษัท สยามฟูรูกาวา จำกัด <br>
                            บริษัท สยามฟูรูกาวา จำกัด <br>
                            บริษัท สยามซานิทารีแวร์อินดัสทรี (หนองแค) จำกัด <br>
                            บริษัท สยามไฟเบอร์กลาส จำกัด <br>
                            บริษัท สยาม ฮานะมารูคิ จำกัด <br>
                            บริษัท สยาม เอ็นจีเค เทคโนเซรา จำกัด <br>
                            บริษัท วิลเลรอย แอนด์ บอค (ประเทศไทย) จำกัด <br>
                            บริษัท ริเวอร์โปร์ พัลพ แอนด์ เพเพอร์ จำกัด <br>
                            บริษัท มุโตะ (ประเทศไทย) จำกัด <br>
                            บริษัท มิยาโกะ อินดัสตรี(ประเทศไทย) จำกัด <br>
                            บริษัท มิชลิน อาร์โอเอช จำกัด <br>
                            บริษัท มาสโปร แอมเทค คอร์ปอเรชั่น จำกัด <br>
                            บริษัท ฟูจิโคคิ (ประเทศไทย) จำกัด <br>
                            บริษัท บูห์เล่อร์ (ไทยแลนด์) จำกัด <br>
                            บริษัท อินาเค็น ฟู๊ด (ประเทศไทย) จำกัด <br>
                            บริษัท นิฮอนอิจิ ฟู้ด (ประเทศไทย) จำกัด <br>
                            บริษัท นิทชู โชจิ (ไทยแลนด์) จำกัด <br>
                            บริษัท นิคอน (ประเทศไทย) จำกัด <br>
                            บริษัท นิคอน (ประเทศไทย) จำกัด <br>
                            บริษัท นิเด็ค ค็อมโปเน็นท์ เทคโนโลยี(ไทยแลนด์) จำกัด <br>
                            บริษัท นอริตาเก้ เอสซีจี พลาสเตอร์ จำกัด <br>
                            บริษัท นวพลาสติกอุตสาหกรรม(สระบุรี) จำกัด <br>
                            บริษัท ทีเอสที ซันไรซ์ เซอร์วิส จำกัด <br>
                            บริษัท ทีเอส เทค (ประเทศไทย) จำกัด <br>
                            บริษัท ดีรับเบอร์ โปรดักส์ จำกัด <br>
                            บริษัท ดีเอสจี อินเตอร์เนชั่นแนล (ประเทศไทย) จำกัด (มหาชน) <br>
                            บริษัท ชิบาซากิ ทีบี(ประเทศไทย) จำกัด <br>
                            บริษัท ชิบาคาวะ(ประเทศไทย) จำกัด <br>
                            บริษัท ชินเอ็นเทค จำกัด <br>
                            บริษัท คนอฟ ยิปซั่ม (ประเทศไทย) จำกัด <br>
                            บริษัท การ์เดียนอินดัสทรีส์ คอร์ป จำกัด <br>
                            บริษัท กัลฟ์ เอ็นพีเอ็ม จำกัด <br>
                            บริษัท กัลฟ์ เจพี เอ็นเค2 จำกัด <br>
                            บริษัท ไฮเจ็นเตะ (ไทยแลนด์) จำกัด <br>
                            บริษัท ไอเดค เอเชีย (ไทยแลนด์) จำกัด <br>
                            บริษัท ไทล์เมนท์(ประเทศไทย) คอร์ปอเรชั่น จำกัด <br>
                            บริษัท ไทล์เมนท์ (ประเทศไทย) คอร์ปอเรชั่น จำกัด <br>
                            บริษัท ไทยเรยอน จำกัด(มหาชน) <br>
                            บริษัท ไทยเบเวอร์เรจแคน จำกัด <br>
                            บริษัท ไทย มาลายา กลาส จำกัด <br>
                            บริษัท ไทย มาลายา กลาส จำกัด <br>
                            บริษัท ไดยู ซีท (ประเทศไทย) จำกัด <br>
                            บริษัท โรม เมคะเทค (ประเทศไทย) จำกัด <br>
                            บริษัท โตโต้ (ประเทศไทย) จำกัด <br>
                            บริษัท โตโต้ (ประเทศไทย) จำกัด <br>
                            บริษัท โจฮ์นัน เอฟ เทค(ประเทศไทย) <br>
                            บริษัท โคโลรอบเบีย ไทย จำกัด <br>
                            บริษัท แอร์ ลิควิด(ประเทศไทย) จำกัด <br>
                            บริษัท แม็กซิออน วีลส์ (ประเทศไทย) จำกัด<br>
                            บริษัท เอสซีจีแลนด์สเคป จำกัด <br>
                            บริษัท เอสซีจี รูฟฟิ่ง จำกัด <br>
                            บริษัท เอสซีจี รูฟฟิ่ง จำกัด <br>
                            บริษัท เอสซีจี ซิเมนต์ จำกัด <br>
                            บริษัท เอสซีจี เซรามิกส์ จำกัด (มหาชน) <br>
                            บริษัท เอฟทีเอ็น (สระบุรี) จำกัด <br>
                            บริษัท เอโดะกาว่า โกเซ(ไทยแลนด์) จำกัด <br>
                            บริษัท เวิรล์ด ควอลิตี้ จำกัด <br>
                            บริษัท เวลดิ้ง อลอยส์ (ประเทศไทย) จำกัด <br>
                            บริษัท เรดดี้ คลีน จำกัด <br>
                            บริษัท เซะกิ คอร์ป (ประเทศไทย) จำกัด<br>
                            บริษัท เซกิซุย พลาสติกส์ (ไทยแลนด์) จำกัด <br>
                            บริษัท เซกิซุย-เอสซีจี อินดัสทรี จำกัด <br>
                            บริษัท เจซีวาย เอชดีดี เทคโนโลยี จำกัด <br>
                            บริษัท ไดยู ซีท (ประเทศไทย) จำกัด <br>
                            บริษัท เอสมัลกลาส-อิตาคา (ไทยแลนด์) จำกัด <br>
                            บริษัท สยามอุตสาหกรรมยิปซั่ม(สระบุรี) จำกัด <br>
                            </p>
                          </div>
                        </div>

                        <div class="col-lg-3 text-center text-lg-left mt-4 mt-lg-0">
                          <div class="action-button">
                          <p>
                          -<br>
                          (จ3-42(1)-1/39สค)<br>
                          (ข3-67(7)-10/57สบ)<br>
                          (ข3-57(3)-2/60สบ)<br>
                          (ข3-41(2)-26/57สบ)<br>
                          (ข3-72-13/58สบ)<br>
                          (ข3-88-37/52สบ)<br>
                          (ข3-53(5)-37/56สบ)<br>
                          (ข3-58(1)-67/52สบ)<br>
                          (ข3-63(2)-21/52สบ) <br>
                          (ข3-51-4/55สบ)<br>
                          (ข3-51-5/52สบ)<br>
                          (ข3-74(5)-2/49สบ)<br>
                          (ข3-55-14/55สบ)<br>
                          (ข3-74(5)-2/49สบ)<br>
                          (ข3-55-2/51สบ)<br>
                          (ข3-54-3/51สบ)<br>
                          (ข3-13(2)-5/62สบ)<br>
                          (ข3-56-15/51สบ)<br>
                          (ข3-56-16/51สบ)<br>
                          (ข3-38(2)-1/51สบ)<br>
                          (ข3-41(2)-6/56สบ)<br>
                          (ข3-72-25/56สบ)<br>
                          -<br>
                          (ข3-72-2/55สบ)<br>
                          (ข3-70-3/50สบ)<br>
                          -<br>
                          -<br>
                          (ข3-4(2)-2/64สบ)<br>
                          (ข3-91(1)-11/60สบ)<br>
                          (ข3-82-3/56สบ)<br>
                          (ข3-82-2/57สบ)<br>
                          (ข3-64(13)-21/59สบ)<br>
                          (ข3-48(3)-1/61สบ)<br>
                          (ข3-53(5)-25/51สบ)<br>
                          (ข3-91(1)-9/56สบ)<br>
                          (ข3-77(2)-44/56สบ)<br>
                          (ข3-52(4)-1/50สบ)<br>
                          (ข3-40(2)-6/51สบ)<br>
                          (ข3-61-5/57สบ)<br>
                          (ข3-72-21/56สบ)<br>
                          -<br>
                          (ข3-58(1)-115/56สบ)<br>
                          (ข3-54-1/54สบ)<br>
                          (ข3-88(2)-1/62สบ)<br>
                          (ข3-88-119/56สบ)<br>
                          (ข3-100(5)-4/55สบ)<br>
                          - <br>
                          (ข3-64(2)-9/52สบ)<br>
                          (ข3-74(5)-2/49สบ)<br>
                          (ข3-42(1)-13/51สบ)<br>
                          (ข3-64(1)-13/49สบ)<br>
                          (ข3-54-2/50สบ)<br>
                          (ข3-54-7/57สบ)<br>
                          (ข3-77(2)-4/56สบ)<br>
                          (ข3-72-10/56สบ)<br>
                          (ข3-53(5)-65/62สบ)<br>
                          (ข3-55-2/55สบ)<br>
                          (ข3-77(2)-26/55สบ)<br>
                          -<br>
                          (ข3-89-8/52สบ)<br>
                          (ข3-77(2)-3/51สบ)<br>
                          (ข3-58(1)-71/51สบ)<br>
                          (ข3-58(1)-139/48สบ)<br>
                          (ข3-55-10/50สบ)<br>
                          (ข3-58(3)-2/59สบ)<br>
                          (ข3-55-1/58สบ)<br>
                          (ข3-69-3/55สบ)<br>
                          (ข3-45(1)-4/57สบ)<br>
                          (ข3-87(6)-1/56สบ)<br>
                          (ข3-64(13)-28/63สบ)<br>
                          (ข3-98-6/54สบ)<br>
                          (ข3-72-19/55สบ)<br>
                          (ข3-53(5)-11/56สบ)<br>
                          (ข3-62-7/55สบ)<br>
                          (ข3-72-5/51สบ)<br>
                          (ข3-77(2)-4/56สบ)<br>
                          - <br>
                          (ข3-58(1)-90/51สบ)<br>
                          </p>
                          </div>
                        </div>
                      </div>  	
                    </div>	
                    </div>
                  </div>
                </div>	
              </section>';

            }else if($fac == 'เขตประกอบการอุตสาหกรรมสยามอีสเทิร์นอินดัสเตรียลพาร์ค ระยอง'){
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      1.<br>
                                      2.<br>
                                      3.<br>
                                      4.<br>
                                      5.<br>
                                      6.<br>
                                      7.<br>
                                      8.<br>
                                      9.<br>
                                      10.<br>
                                      11.<br>
                                      12.<br>
                                      13.<br>
                                      14.<br>
                                      15.<br>
                                      16.<br>
                                      17.<br>
                                      18.<br>
                                      19.<br>
                                      20.<br>
                                      21.<br>
                                      22.<br>
                                      23.<br>
                                      24.<br>
                                      25.<br>
                                      26.<br>
                                      27.<br>
                                      28.<br>
                                      29.<br>
                                      30.<br>
                                      31.<br>
                                      32.<br>
                                      33.<br>
                                      34.<br>
                                      35.<br>
                                      36.<br>
                                      37.<br>
                                      38.<br>
                                      39.<br>
                                      40.<br>
                                      41.<br>
                                      42.<br>
                                      43.<br>
                                      44.<br>
                                      45.<br>
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      บริษัท อิโนแอ็ค (ประเทศไทย) จำกัด <br>
                                      บริษัท อาร์พีที ดีซาย แอนด์ แมชชีน จำกัด <br>
                                      บริษัท อัทสุมิเท็ค (ประเทศไทย) จำกัด <br>
                                      บริษัท อัทสุมิเท็ค (ประเทศไทย) จำกัด <br>
                                      บริษัท สยามอีสเทิร์นดินดัสเตรียลพาร์ค จำกัด <br>
                                      บริษัท สยามคานาโมโด้ จำกัด <br>
                                      บริษัท สยามโอคาย่า เคมิคัล จำกัด <br>
                                      บริษัท สยามโกชิ มานูแฟคเชอริ่ง จำกัด <br>
                                      บริษัท สยามเอ็นไวรอนเมนทอลเทคโนโลยี่ จำกัด <br>
                                      บริษัท สยามเอ็นไวรอนเมนทอลเทคโนโลยี่ จำกัด <br>
                                      บริษัท สยามเอ็นไวรอนเมนทอลเทคโนโลยี่ <br>
                                      บริษัท ศูนย์บริการเหล็กสยาม จำกัด (มหาชน) <br>
                                      บริษัท วินแฟงอุตสาหกรรม (ประเทศไทย) จำกัด <br>
                                      บริษัท ลองวิน อุตสาหกรรม (ประเทศไทย) จำกัด <br>
                                      บริษัท ยูเนี่ยนออโตพาร์ทส มานูแฟคเชอริ่ง จำกัด <br>
                                      บริษัท ยามาดะ สมบูรณ์ จำกัด <br>
                                      บริษัท มิตซูบิชิ อิเลคทริค ไทย ออโต้-พาร์ท จำกัด <br>
                                      บริษัท มิตซุย สยาม คอมโพเนนท์ส จำกัด <br>
                                      บริษัท ฟุคุชิมะ อินดัสทรีส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท ปตท. จำกัด (มหาชน) <br>
                                      บริษัท นิปปอน สตีล ไพพ์ (ประเทศไทย) จำกัด <br>
                                      บริษัท นิปปอน สตีล ไพพ์ (ประเทศไทย) จำกัด <br>
                                      บริษัท ซูมิโตโม อีเล็คตริก ไวริ่ง ซิสเต็มส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท คาทาทา อิเลคทริค (ประเทศไทย) จำกัด <br>
                                      บริษัท คาทาทา อิเลคทริค (ประเทศไทย) จำกัด <br>
                                      บริษัท กรีนฟิลด์ เคมีคอล (ประเทศไทย) จำกัด <br>
                                      บริษัท ไอที ฟอร์จิ้ง (ประเทศไทย) จำกัด <br>
                                      บริษัท ไวเออร์ฟอร์ม เอ เอ็น (ไทยแลนด์) จำกัด <br>
                                      บริษัท ไทยยาชิโร จำกัด <br>
                                      บริษัท ไทยชวนแฟง จำกัด <br>
                                      บริษัท ไทยเมอิระ จำกัด <br>
                                      บริษัท ไทยเมอิระ จำกัด <br>
                                      บริษัท ไทย ยาชิโร่ จำกัด <br>
                                      บริษัท ไดโด สิทธิผล จำกัด <br>
                                      บริษัท โรกิ (ประเทศไทย) จำกัด <br>
                                      บริษัท โรกิ (ประเทศไทย) จำกัด <br>
                                      บริษัท โพลีเพล็กซ์ (ประเทศไทย) จำกัด (มหาชน) <br>
                                      บริษัท โพลีเพล็กซ์ (ประเทศไทย) จำกัด (มหาชน) <br>
                                      บริษัท โพลีเพล็กซ์ (ประเทศไทย) จำกัด (มหาชน) <br>
                                      บริษัท โกลว์ เอสพีพี 11 จำกัด <br>
                                      บริษัท โกลว์ เอสพีพี 11 จำกัด <br>
                                      บริษัท แอมคอล อินเตอร์เนชั่นแนล (ไทยแลนด์) จำกัด <br>
                                      บริษัท เอเซียน มารูอิชิ (ประเทศไทย) จำกัด <br>
                                      บริษัท ไดโด้ แมนูแฟคเจอริ่ง (ประเทศไทย) <br>
                                      บริษัท โกลว์ เอสพีพี 11 จำกัด <br>
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-left mt-4 mt-lg-0">
                                    <div class="action-button">
                                    <p>
                                    (ข3-53(5)-21/57รย)<br>
                                    -<br>
                                    (ข3-78(1)-1/38รย)<br>
                                    (ข3-78(1)-1/38รย)<br>
                                    (ข3-90-8/59รย)<br>
                                    -<br>
                                    (ข3-53(5)-1/41รย)<br>
                                    (ข3-78(2)-2/39รย)<br>
                                    (ข3-101-1/41รย) <br>
                                    (ข3-101-1/41รย)<br>
                                    (ข3-90-7/63รย)<br>
                                    (ข3-62-1/38รย)<br>
                                    (ข3-70-3/46รย)<br>
                                    (ข3-70-2/46รย)<br>
                                    (ข3-78(2)-2/50รย)<br>
                                    (ข3-77(2)-2/38รย)<br>
                                    (ข3-72-1/62รย)<br>
                                    (ข3-77(2)-1/38รย)<br>
                                    -<br>
                                    -<br>
                                    (ข3-64(12)-24/58รย)<br>
                                    (ข3-64(12)-24/58รย)<br>
                                    (ข3-77(2)-3/38รย)<br>
                                    (ข3-72-1/40รย)<br>
                                    (ข3-72-1/40รย) <br>
                                    (ข3-42(1)-16/60รย)<br>
                                    (ข3-64(2)-1/39รย)<br>
                                    (ข3-64(2)-26/48รย)<br>
                                    (ข3-77(2)-9/56รย)<br>
                                    (ข3-70-4/46รย)<br>
                                    (ข3-64(3)-1/39รย)<br>
                                    (ข3-64(3)-1/39รย)<br>
                                    (ข3-77(2)-3/40รย)<br>
                                    (ข3-77(2)-1/40รย)<br>
                                    (ข3-77(2)-14/62รย)<br>
                                    (ข3-77(2)-14/62รย)<br>
                                    (ข3-44-5/47รย)<br>
                                    (ข3-44-5/47รย)<br>
                                    (ข3-44-5/47รย)<br>
                                    (ข3-90-5/47รย)<br>
                                    (ข3-88-1/43รย)<br>
                                    (ข3-56-1/41รย)<br>
                                    -<br>
                                    (ข3-100(5)-25/49รย)<br>
                                    (ข3-88-16/49รย)<br>
                                    </p>
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';
            
            }else if($fac == 'เขตประกอบการอุตสาหกรรมกบินทร์บุรี ปราจีนบุรี'){
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      1.<br>
                                      2.<br>
                                      3.<br>
                                      4.<br>
                                      5.<br>
                                      6.<br>
                                      7.<br>
                                      8.<br>
                                      9.<br>
                                      10.<br>
                                      11.<br>
                                      12.<br>
                                      13.<br>
                                      14.<br>
                                      15.<br>
                                      16.<br>
                                      17.<br>
                                      18.<br>
                                      19.<br>
                                      20.<br>
                                      21.<br>
                                      22.<br>
                                      23.<br>
                                      24.<br>
                                      25.<br>
                                      26.<br>
                                      27.<br>
                                      28.<br>
                                      29.<br>
                                      30.<br>
                                      31.<br>
                                      32.<br>
                                      33.<br>
                                      34.<br>
                                      35.<br>
                                      36.<br>
                                      37.<br>
                                      38.<br>
                                      39.<br>
                                      40.<br>
                                      41.<br>
                                      42.<br>
                                      43.<br>
                                      44.<br>
                                      45.<br>
                                      46.<br>
                                      47.<br>
                                      48.<br>
                                      49.<br>
                                      50.<br>
                                      51.<br>
                                      52.<br>
                                      53.<br>
                                      54.<br>
                                      55.<br>
                                      56.<br>
                                      57.<br>
                                      58.<br>
                                      59.<br>
                                      60.<br>
                                      61.<br>
                                      62.<br>
                                      63.<br>
                                      64.<br>
                                      65.<br>
                                      66.
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      บริษัท เค. เอส. เอช.อินดัสทรี (ไทยแลนด์) จำกัด <br>
                                      บริษัท เคทีเค (ประเทศไทย) จำกัด <br>
                                      บริษัท เจ แอนด์ ซี สเปร์เชียล สปริง จำกัด <br>
                                      บริษัท เชาว์ สตีล อินดัสทรี้ จำกัด (มหาชน) <br>
                                      บริษัท เบอร์เจอร์ เพนท์ส (ประเทศไทย) จำกัด <br>
                                      บริษัท เยสคอม คอร์ปอเรชั่น (ประเทศไทย) จำกัด <br>
                                      บริษัท เลียร์ คอร์ปอเรชั่น เซ้าท์อีสท์ เอเชีย จำกัด <br>
                                      บริษัท เอเชี่ยน โฟม เทค จำกัด <br>
                                      บริษัท แมททีเรียล พลาสท์ จำกัด <br>
                                      บริษัท โคล่อน อินดัสตรี้ (ประเทศไทย) จำกัด <br>
                                      บริษัท โบว์แมน อินกรีเดียนส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท โบว์แมน อินกรีเดียนส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท โปรเกรซ ไฮเทค โรเลอร์ จำกัด <br>
                                      บริษัท โปลิโฟมกบินทร์บุรี จำกัด <br>
                                      บริษัท โวสท์อัลพีน เรลเวย์ ซิสเต็มส์ (ไทยแลนด์) จำกัด <br>
                                      บริษัท โฮเอ เมทัล (ประเทศไทย) จำกัด <br>
                                      บริษัท โฮชิน อีเล็คโทรนิคส์ จำกัด <br>
                                      บริษัท ไดโตะ - โอซิม (ประเทศไทย) จำกัด <br>
                                      บริษัท ไทยเมด ไฮเทค จำกัด <br>
                                      บริษัท ไทยซินเนอร์จี้ เวิร์คส์ จำกัด <br>
                                      บริษัท ไทยอี เมลทัล เวิร์คส จำกัด <br>
                                      บริษัท ไวเออร์ฟอร์ม เอ. เอ็น. (ไทยแลนด์) จำกัด <br>
                                      บริษัท ไอซิน ไทย ออโตโมทีฟ คาสติ้ง จำกัด <br>
                                      บริษัท ไฮเออร์ อีเล็คทริค (ประเทศไทย) จำกัด (มหาชน) <br>
                                      บริษัท ไฮแกสเค็ท พลาสติกส์ กรุ๊ป (ประเทศไทย) จำกัด <br>
                                      บริษัท กุลธรพรีเมียร์ จำกัด <br>
                                      บริษัท คาเซ (ไทยแลนด์) จำกัด <br>
                                      บริษัท คุราตะ แมนูแฟคเจอริ่ง (ประเทศไทย) จำกัด <br>
                                      บริษัท จันทร์เจริญ(กบินทร์) จำกัด <br>
                                      บริษัท ซัน ซัน อินดัสเตรียล (1977) จำกัด <br>
                                      บริษัท ซิกซอน สปอร์ต แมนูแฟคเจอริ่ง (ประเทศไทย) จำกัด <br>
                                      บริษัท ซี รับ เทคโนโลยี่ (ประเทศไทย) จำกัด <br>
                                      บริษัท ซีโน่-แปซิฟิค เทรดดิ้ง (ไทยแลนด์) จำกัด <br>
                                      บริษัท ซีฟาร์ (ประเทศไทย) จำกัด <br>
                                      บริษัท ทรอยสยาม จำกัด <br>
                                      บริษัท ทาพาโก้ จำกัด (มหาชน) <br>
                                      บริษัท ที. กรุงไทยอุตสาหกรรม จำกัด (มหาชน) <br>
                                      บริษัท ทีเอสดับบลิว เพลทติ้ง แอนด์ เพ้นท์ติ้ง จำกัด <br>
                                      บริษัท บิลเลี่ยน เมส อินดัสตรี้ จำกัด <br>
                                      บริษัท บี เพาเวอร์ แฟคตอรี่ แอนด์ คอนสตรัคชั่น จำกัด <br>
                                      บริษัท ปราจีน ลาเท็กซ์ <br>
                                      บริษัท พรีเมียร์ โพรดักส์ จำกัด (มหาชน) <br>
                                      บริษัท พรีเมียร์ โพรดักส์ จำกัด (มหาชน) <br>
                                      บริษัท พรีเมียร์ โพรดักส์ จำกัด (มหาชน) <br>
                                      บริษัท พลังงานบริสุทธิ์ จำกัด (มหาชน) <br>
                                      บริษัท พี. เอม. ฟูด จำกัด <br>
                                      บริษัท ฟี-โทรนิค แมนูแฟคเจอริ่ง (ประเทศไทย) จำกัด <br>
                                      บริษัท ฟูจิคูระ อิเล็กทรอนิกส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท ฟูรูกาวา ออร์โตโมทีฟ ซีสเต็มส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท รัสกิน (ประเทศไทย) จำกัด <br>
                                      บริษัท ล็อคอิน อินดัสเทรียล จำกัด <br>
                                      บริษัท ลาฟรันโคนิ ซิเลนเซียโทริ (ไทยแลนด์) จำกัด <br>
                                      บริษัท วาเล็ธ ไฮ เทค คอมโพสิตส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท วาย. เจ. อินดัสทรี จำกัด <br>
                                      บริษัท สมาย คอนเทนเนอร์ อุตสาหกรรม จำกัด <br>
                                      บริษัท สหไทยอาวากระดาษ จำกัด <br>
                                      บริษัท สุรพลซูพรีมฟู้ดส์ จำกัด <br>
                                      บริษัท สุรพลนิชิเรฟู้ดส์ จำกัด <br>
                                      บริษัท อิโนแอ็ค อินดัสตรี้ส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท อิโนแอ็ค อินดัสตรี้ส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท ฮาบิโร (ไทยแลนด์) จำกัด <br>
                                      บริษัท ฮาราชู (ประเทศไทย) จำกัด <br>
                                      บริษัท ฮาว กลาส เทค จำกัด <br>
                                      บริษัท ฮิตาชิ คอนซูมเมอร์ โปรดักส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท ฮิตาชิ ทรานสปอร์ต ซิสเต็ม (ประเทศไทย) จำกัด <br>
                                      บริษัท ฮิตาชิอินดัสเตรียลเทคโนโลยี (ปทท.) จำกัด <br>
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-left mt-4 mt-lg-0">
                                    <div class="action-button">
                                    <p>
                                    (ข3-52(4)-20/60ปจ)<br>
                                    (ข3-64(12)-7/58ปจ)<br>
                                    (ข3-78(2)-2/43ปจ)<br>
                                    (ข3-59-11/62ปจ)<br>
                                    (ข3-45(1)-6/60ปจ)<br>
                                    (ข3-72-1/38ปจ) <br>
                                    (ข3-74(3)-1/62ปจ)<br>
                                    (ข3-53(6)-1/40ปจ)<br>
                                    (ข3-105-9/57ปจ)<br>
                                    (ข3-53(1)-59/55ปจ)<br>
                                    (ข3-10(2)-5/58ปจ)<br>
                                    (ข3-13(2)-9/58ปจ)<br>
                                    (ข3-64(13)-1/45ปจ)<br>
                                    (ข3-53(5)-37/49ปจ)<br>
                                    (ข3-76(2)-1/59ปจ)<br>
                                    (ข3-60-13/59ปจ)<br>
                                    (ข3-74(3)-6/63ปจ)<br>
                                    (ข3-73-1/45ปจ)<br>
                                    (ข3-53(1)-11/60ปจ)<br>
                                    (ข3-77(2)-1/39ปจ)<br>
                                    (ข3-59-17/50ปจ)<br>
                                    (ข3-53(1)-1/44ปจ)<br>
                                    (ข3-77(2)-21/53ปจ)<br>
                                    (3-70-1/39ปจ)<br>
                                    (ข3-71-4/59ปจ)<br>
                                    (3-65-7/59ปจ)<br>
                                    (ข3-53(1)-1/40ปจ)<br>
                                    (ข3-77(2)-30/57ปจ)<br>
                                    (ข3-53(6)-1/41ปจ)<br>
                                    (ข3-47(1)-1/43ปจ)<br>
                                    (ข3-86-3/51ปจ)<br>
                                    (ข3-64(2)-7/56ปจ)<br>
                                    (ข3-10(3)-2/51ปจ)<br>
                                    (ข3-24-1/40ปจ)<br>
                                    (ข3-42(1)-1/40ปจ)<br>
                                    (ข3-53(1)-52/57ปจ)<br>
                                    (ข3-53(1)-37/48ปจ)<br>
                                    (ข3-100(5)-9/56ปจ)<br>
                                    (ข3-63(2)-1/37ปจ)<br>
                                    (ข3-63(2)-17/62ปจ)<br>
                                    (ข3-52(4)-31/60ปจ)<br>
                                    (ข3-32(2)-1/36ปจ)<br>
                                    (ข3-32(2)-1/37ปจ)<br>
                                    (ข3-32(2)-1/38ปจ)<br>
                                    (ข3-47(2)-2/52ปจ)<br>
                                    (ข3-10(3)-1/39ปจ)<br>
                                    (ข3-72-12/57ปจ)<br>
                                    (ข3-72-18/56ปจ)<br>
                                    (ข3-74(3)-7/57ปจ)<br>
                                    (ข3-63(5)-1/44ปจ)<br>
                                    (ข3-64(2)-24/47ปจ)<br>
                                    (ข3-78(2)-3/58ปจ)<br>
                                    (ข3-78(2)-1/43ปจ)<br>
                                    (ข3-39-15/61ปจ)<br>
                                    (ข3-39-15/61ปจ)<br>
                                    (ข3-40(2)-1/39ปจ)<br>
                                    (ข3-4(2)-4/61ปจ)<br>
                                    (ข3-6(2)-1/40ปจ)<br>
                                    (ข3-53(6)-1/63ปจ)<br>
                                    (ข3-44-1/39ปจ)<br>
                                    (ข3-69-1/39ปจ)<br>
                                    (ข3-65-10/56ปจ)<br>
                                    -<br>
                                    (ข3-71-1/40ปจ)<br>
                                    (ข3-71-1/40ปจ)<br>
                                    (ข3-73-1/39ปจ)<br>
                                    </p>
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';
            
            }else if($fac == 'เขตประกอบการอุตสาหกรรมบริษัท ไออาร์พีซี จำกัด (มหาชน) ระยอง'){
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      1.<br>
                                      2.<br>
                                      3.<br>
                                      4.<br>
                                      5.<br>
                                      6.<br>
                                      7.<br>
                                      8.<br>
                                      9.<br>
                                      10.<br>
                                      11.<br>
                                      12.<br>
                                      13.<br>
                                      14.<br>
                                      15.<br>
                                      16.<br>
                                      17.<br>
                                      18.<br>
                                      19.<br>
                                      20.<br>
                                      21.<br>
                                      22.<br>
                                      23.<br>
                                      24.<br>
                                      25.<br>
                                      26.<br>
                                      27.<br>
                                      28.<br>
                                      29.<br>
                                      30.<br>
                                      31.<br>
                                      32.<br>
                                      33.<br>
                                      34.<br>
                                      35.<br>
                                      36.<br>
                                      37.<br>
                                      38.<br>
                                      39.<br>
                                      40.<br>
                                      41.<br>
                                      42.<br>
                                      43.<br>
                                      44.<br>
                                      45.<br>
                                      46.
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      บริษัท อูเบะไฟน์ เคมิคอลส์ (เอเชีย) จำกัด <br>
                                      บริษัท อูเบะไนล่อน (ประเทศไทย) จำกัด <br>
                                      บริษัท อูเบะ แมททีเรียลส์ (ไทยแลนด์) จำกัด <br>
                                      บริษัท อูเบะ เคมิคอลส์ (เอเซีย) จำกัด (มหาชน) <br>
                                      บริษัท อูเบะ เคมิคอลส์ (เอเชีย) จำกัด (มหาชน) <br>
                                      บริษัท ระยองอะเซธธิลีน จำกัด <br>
                                      บริษัท เซเว่น ไวร์ จำกัด <br>
                                      บริษัท อูเบะ เคมิคอลส์ (เอเชีย) จำกัด (มหาชน) <br>
                                      บริษัท ยางสังเคราะห์ไทย จำกัด <br>
                                      บริษัท ทีพีไอ โพลีน จำกัด <br>
                                      บริษัท ไออาร์พีซี จำกัด(มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) (CD1) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไออาร์พีซี คลีน พาวเวอร์ จำกัด <br>
                                      บริษัท ไออาร์พีซี โพลีออล จำกัด <br>
                                      บริษัท ไออาร์พีซี โพลีออล จำกัด <br>
                                      บริษัท ไออาร์พีซี จำกัด (มหาชน) <br>
                                      บริษัท ไอเจน พาวเวอร์เทค จำกัด <br>
                                      บริษัท ไนเตรทไทย จำกัด <br>
                                      บริษัท ไทย เคียววะ ไบโอเทคโนโลยีส์ จำกัด <br>
                                      บริษัท ไดอะโพลีอะคริเลต จำกัด <br>
                                      บริษัท โคเบลโก้ มิลล์คอน สตีล จำกัด <br>
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-left mt-4 mt-lg-0">
                                    <div class="action-button">
                                    <p>
                                    (ข3-42(1)-3/54รย)<br>
                                    (ข3-53(5)-1/45รย)<br>
                                    (ข3-42(1)-8/62รย)<br>
                                    (ข3-102-1/59รย)<br>
                                    (ข3-44-1/39รย)<br>
                                    (ข3-89-4/41 รย)<br>
                                    (ข3-59-5/61รย)<br>
                                    (ข3-44-1/40รย)<br>
                                    (ข3-44-2/40รย)<br>
                                    (ข3-44-1/33รย)<br>
                                    (ข3-42(1)-11/53รย)<br>
                                    (ข3-53(5)-55/51รย)<br>
                                    (ข3-49-1/58 รย)<br>
                                    (ข3-49-1/43รย)<br>
                                    (ข3-49-1/41รย)<br>
                                    (ข3-44-1/59รย)<br>
                                    (ข3-42(1)-4/41รย)<br>
                                    (ข3-42(1)-3/41รย)<br>
                                    (ข 3-101-1/35 รย)<br>
                                    (ข3-49-1/43รย)<br>
                                    (ข3-49-2/41รย)<br>
                                    (ข3-42(1)-3/41รย)<br>
                                    (ข3-48(6)-1/45รย)<br>
                                    (ข3-49-2/41รย)<br>
                                    (ข3-42(1)-4/55รย)<br>
                                    (ข3-42(1)-3/41รย)<br>
                                    (ข3-53(5)-55/51รย)<br>
                                    (ข3-42(1)-1/41รย)<br>
                                    (ข 3-42(1)-2/41รย)<br>
                                    (ข3-50(4)-1/41รย)<br>
                                    (ข3-53(5)-56/59รย)<br>
                                    (ข3-44-1/34รย)<br>
                                    (ข3-44-2/34 รย)<br>
                                    (ข3-101-1/35รย)<br>
                                    (ข3-44-4/59รย)<br>
                                    (ข3-44-1/25รย)<br>
                                    (ข 3-90-4/50 รย)<br>
                                    (ข3-88(2)-91/57รย)<br>
                                    (ข3-42(1)-1/37รย)<br>
                                    (ข3-44-2/43รย)<br>
                                    (ข3-101-2/53รย)<br>
                                    (ข3-73-7/61รย)<br>
                                    (ข3-42(1)-1/39รย)<br>
                                    (ข3-42(1)-9/62รย)<br>
                                    (ข3-44-1/36รย)<br>
                                    (ข3-59-10/57รย)<br>
                                    </p>
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';
            
            }else if($fac == 'เขตประกอบการอุตสาหกรรมชัยนันท์-บางพลี พาร์คแลนด์ สมุทรปราการ'){
              $temp =  '<section class="post-grid section pt-0" style="padding:0px;">
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <!-- Call to action Community -->
                                <div class="cta-community shadow">
                                  <div class="row align-items-center">
                                    <div class="col-lg-1 text-center text-lg-left">
                                      <div class="content">
                                        <p>
                                        <br>
                                        1.<br>
                                        2.<br>
                                        3.<br>
                                        4.<br>
                                        5.<br>
                                        6.<br>
                                        7.<br>
                                        8.<br>
                                        9.<br>
                                        10.<br>
                                        11.<br>
                                        12.<br>
                                        13.<br>
                                        14.<br>
                                        15.<br>
                                        16.<br>
                                        17.<br>
                                        18.<br>
                                        19.<br>
                                        20.<br>
                                        21.<br>
                                        22.<br>
                                        23.<br>
                                        24.<br>
                                        25.<br>
                                        26.<br>
                                        27.<br>
                                        28.<br>
                                        29.<br>
                                        30.<br>
                                        31.<br>
                                        32.<br>
                                        33.<br>
                                        34.<br>
                                        35.<br>
                                        36.<br>
                                        37.<br>
                                        38.<br>
                                        39.<br>
                                        40.<br>
                                        41.<br>
                                        42.<br>
                                        43.<br>
                                        44.<br>
                                        45.<br>
                                        46.<br>
                                        47.<br>
                                        48.<br>
                                        49.<br>
                                        50.<br>
                                        51.<br>
                                        52.<br>
                                        53.<br>
                                        54.<br>
                                        55.<br>
                                        56.<br>
                                        57.<br>
                                        58.<br>
                                        59.<br>
                                        60.<br>
                                        61.<br>
                                        62.<br>
                                        63.<br>
                                        64.<br>
                                        65.<br>
                                        66.<br>
                                        67.<br>
                                        68.<br>
                                        69.<br>
                                        70.<br>
                                        71.<br>
                                        72.<br>
                                        73.<br>
                                        74.<br>
                                        75.<br>
                                        76.<br>
                                        77.<br>
                                        <br>
                                        
                                        1.<br>
                                        2.<br>
                                        3.<br>
                                        4.<br>
                                        5.<br>
                                        6.<br>
                                        7.<br>
                                        8.<br>
                                        9.<br>
                                        10.<br>
                                        11.<br>
                                        12.<br>
                                        13.<br>
                                        14.<br>
                                        15.<br>
                                        16.<br>
                                        17.<br>
                                        18.<br>
                                        19.<br>
                                        20.<br>
                                        21.<br>
                                        22.<br>
                                        23.<br>
                                        24.<br>
                                        25.<br>
                                        26.<br>
                                        27.<br>
                                        28.<br>
                                        29.<br>
                                        30.<br>
                                        31.<br>
                                        32.<br>
                                        33.<br>
                                        34.<br>
                                        35.<br>
                                        36.<br>
                                        37.<br>
                                        38.<br>
                                        39.<br>
                                        40.<br>
                                        41.<br>
                                        42.<br>
                                        43.<br>
                                        44.<br>
                                        45.
                                        </p>
                                      </div>
                                    </div>
            
                                    <div class="col-lg-8 text-center text-lg-left">
                                      <div class="content">
                                        <p>
                                        <b>บริษัท</b> <br>
                                        บริษัท ฮาวี ลอจิสติกส์ (ประเทศไทย) จำกัด <br>
                                        บริษัท อีโค อินดัสเตรียล แอนด์ เอ็กซ์พอร์ต จำกัด <br>
                                        บริษัท อาร์มาทูร่า เทค จำกัด <br>
                                        บริษัท ออลเทค ไบโอเทคโนโลยี คอร์ปอเรชั่น จำกัด <br>
                                        บริษัท อริยะ แมนูแฟคเจอริ่ง (ไทยแลนด์) จำกัด <br>
                                        บริษัท หงส์เซิ่น เอ็มบรอยเดอรี่ จำกัด <br>
                                        บริษัท สุเอซ เซอร์คูล่า พอลิเมอร์ (ประเทศไทย) จำกัด <br>
                                        บริษัท สยาม อิชิคาวะ เมทัลส์ จำกัด <br>
                                        บริษัท สยาม ฟาสเทนเนอร์ อินดัสตรี จำกัด <br>
                                        บริษัท สแกนเนีย กรุ๊ป (ประเทศไทย) จำกัด <br>
                                        บริษัท สแกนเนีย แมนูแฟคเจอริ่ง (ประเทศไทย) จำกัด <br>
                                        บริษัท วีมา เอ็นไวรอนเม็นทอล เทคโนโลยีส์ จำกัด <br>
                                        บริษัท รูเมก้า (ประเทศไทย) จำกัด <br>
                                        บริษัท ยู-วิน (ไทยแลนด์) จำกัด <br>
                                        บริษัท มอนเต้ บิ๊ก ดรัม (ประเทศไทย) จำกัด <br>
                                        บริษัท ฟูจิ ซีล เอนจิเนียริ่ง จำกัด <br>
                                        บริษัท ฟานุคคี แดรี่ จำกัด <br>
                                        บริษัท ฟอร์มิ่ง พลาสติก อินดัสเทรียล จำกัด <br>
                                        บริษัท ฟลูริด้า กรุ๊ป (ประเทศไทย) จำกัด <br>
                                        บริษัท พีจีไอ เมทอลส์อินดัสตรี้ (ประเทศไทย) จำกัด <br>
                                        บริษัท พีเอฟเอ็ม เอเชีย แปซิฟิก จำกัด <br>
                                        บริษัท พีเคเอ็ม เทรดดิ้ง (ประเทศไทย) จำกัด <br>
                                        บริษัท พรีซิชั่น เอ็นจิเนียริ่ง ซิสเต็ม แอนด์ โซลูชั่น จำกัด <br>
                                        บริษัท ผลพูนสิน จำกัด <br>
                                        บริษัท บีอาร์อี คันโตะ (ประเทศไทย) จำกัด <br>
                                        บริษัท บาจา อิเล็กทรอนิกส์ เทคโนโลยี (ประเทศไทย) จำกัด <br>
                                        บริษัท บลาโลบา (ไทยแลนด์) จำกัด <br>
                                        บริษัท นางาอิงิเคน(ไทยแลนด์) จำกัด <br>
                                        บริษัท นากาโนะ ฮิดากะ (ประเทศไทย) จำกัด <br>
                                        บริษัท ธนชาภา โลจิสติกส์ จำกัด <br>
                                        บริษัท ทีซีเอช เทคโนโลยี แมนูแฟคเตอริ่ง จำกัด <br>
                                        บริษัท ที-เจพีซี จำกัด <br>
                                        บริษัท ทาคาฮาชิ เมทัล อินดัสตรีส์ (ประเทศไทย) จำกัด <br>
                                        บริษัท ทาคาระ ฟู๊ดส์ จำกัด <br>
                                        บริษัท ทอมโบว์ (ประเทศไทย) จำกัด <br>
                                        บริษัท ท็อป เคมีคอลส์ (ไทยแลนด์) จำกัด <br>
                                        บริษัท ซิมไบโอ (ไทยแลนด์) จำกัด <br>
                                        บริษัท ซาทิส อิเล็คทริค (ประเทศไทย) จำกัด <br>
                                        บริษัท ซันซุย เค็นเซ็ตซึ จำกัด <br>
                                        บริษัท ซันชายน์ เอ็นจิเนียริ่ง โปรไฟลส์ (ไทยแลนด์) จำกัด <br>
                                        บริษัท ซัคชั่น กรุ๊ป (ประเทศไทย) จำกัด <br>
                                        บริษัท ชิซุ อิเลคทริค (ประเทศไทย) จำกัด <br>
                                        บริษัท ชัยนันท์-บางพลี พาร์คแลนด์ จำกัด <br>
                                        บริษัท จิ่วเหอไทย จำกัด <br>
                                        บริษัท จัสโป (ประเทศไทย) จำกัด <br>
                                        บริษัท คาร์เพนเตอร์ แอนด์ แพทเตอร์สัน (เอเชีย) จำกัด <br>
                                        บริษัท คอสเม็ก เอ็นจิเนียริ่ง (ไทยแลนด์) จำกัด <br>
                                        บริษัท ครอฟท์ ฟู้ดส์ จำกัด <br>
                                        บริษัท ไลท์อัพ ครีเอชั่น จำกัด <br>
                                        บริษัท ไลท์ แอนด์ โฮป เอ็นเนอร์จี้ จำกัด <br>
                                        บริษัท ไพร์ม สแตนเลส สยาม จำกัด <br>
                                        บริษัท ไทย ฮาโซ จำกัด <br>
                                        บริษัท ไทโย เทคโนโลยี อินดัสตรี (ประเทศไทย) จำกัด <br>
                                        บริษัท ไทโย เทคโนโลยี อินดัสตรี (ประเทศไทย) จำกัด <br>
                                        บริษัท ไทโย เทคโนโลยี อินดัสตรี (ประเทศไทย) จำกัด <br>
                                        บริษัท โอเอชเค ไฮย่า (ประเทศไทย) จำกัด <br>
                                        บริษัท โมริโมโตะ (ไทยแลนด์) จำกัด <br>
                                        บริษัท โนดะ (ไทยแลนด์) จำกัด <br>
                                        บริษัท โคบายาชิ คานากาตะ (ไทยแลนด์) จำกัด <br>
                                        บริษัท แฮม-เล็ต (ไทยแลนด์) จำกัด <br>
                                        บริษัท แอบโซลูท คาร์บอน จำกัด<br>
                                        บริษัท แม็กซิส แมนูแฟคเจอริ่ง (ไทยแลนด์) จำกัด <br>
                                        บริษัท เอสเปรสโซ่ เพอร์เฟกต์ จำกัด <br>
                                        บริษัท เอส. เอส. อิมปอร์ต เอ็กปอร์ต อินเตอร์เนชั่นแนล จำกัด <br>
                                        บริษัท เอส แอนด์ วี อิมพอร์ต แอนด์ เอ็กพอร์ต จำกัด <br>
                                        บริษัท เอส เอ็น จี ทาปิโอก้า จำกัด <br>
                                        บริษัท เองเจิลซีดส์ จำกัด <br>
                                        บริษัท เอเวอร์ไบรท์ โคลทส์ แฮงค์เกอร์ (ประเทศไทย) จำกัด <br>
                                        บริษัท เอเวลีน แคร์ (ประเทศไทย) จำกัด <br>
                                        บริษัท เฟรชเชอร์ คิทเช่น จำกัด <br>
                                        บริษัท เพเทนเนอร์ เอเชีย จำกัด <br>
                                        บริษัท เซริโอเทค (ประเทศไทย) จำกัด <br>
                                        บริษัท เจ แอนด์ ซี แพ็คเกจจิ้ง จำกัด <br>
                                        บริษัท เคามาร์กราฟ อินเตอร์เนชั่นแนล (ไทยแลนด์) จำกัด <br>
                                        บริษัท เคอีเอฟ (ประเทศไทย) จำกัด <br>
                                        บริษัท เคเอ็นแอล แมนูแฟคเจอริ่ง จำกัด <br>
                                        บริษัท เคเคที ทูลส์ จำกัด <br>

                                        <b>คลังสินค้า</b><br>
                                        คลังสินค้าบริษัท อาร์ วาย ยู โลจิสติกส์ จำกัด<br>
                                        คลังสินค้าบริษัท สหกฤษ แวร์เฮ้าส์ จำกัด<br>
                                        คลังสินค้าบริษัท สยาม แวร์เฮาส์ซิ่ง จำกัด<br>
                                        คลังสินค้าบริษัท สปอร์ตส เอ็นจิเนียริ่ง แอนด์ รีครีเอชั่น เอเซีย จำกัด<br>
                                        คลังสินค้าบริษัท วิน-วิน แฟซิลิตี้ จำกัด<br>
                                        คลังสินค้าบริษัท วายซีเอช (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท รีนุช โลจิสติกส์ จำกัด<br>
                                        คลังสินค้าบริษัท ฟิกซ์ สตาร์ เอ็นเนอร์จี้ จำกัด<br>
                                        คลังสินค้าบริษัท ฟาซิล (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท บี.ซี.เอส แฟคตอรี่ จำกัด<br>
                                        คลังสินค้าบริษัท ทีสมาร์ท โลจิสติกส์ (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท ที.เอส. คอมเมอร์เชียลเทรด จำกัด<br>
                                        คลังสินค้าบริษัท ดีเอชแอล ซัพพลายเชน (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท ดีเอชแอล ซัพพลายเชน (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท ดีเอชแอล ซัพพลายเชน (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท ดีเอชแอล ซัพพลายเชน (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท ดิวตี้ฟรี สยาม จำกัด<br>
                                        คลังสินค้าบริษัท ซี-ลักซ์ เอเชีย จำกัด<br>
                                        คลังสินค้าบริษัท ซันโนฮาชิ ฟาสเท็นนิ่ง เทคโนโลยี (ไทยแลนด์) จำกัด<br>
                                        คลังสินค้าบริษัท จีโอดีส ทรานสปอร์ต ไทย จำกัด<br>
                                        คลังสินค้าบริษัท จาโกต้า บราเดอร์ส เทรดดิ้ง จำกัด<br>
                                        คลังสินค้าบริษัท จอห์น เดียร์ (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท คิตากาว่า อิเล็คทรอนิกส์ (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท คาสเซิล กรุ๊ป อินเตอร์ เนชั่นแนล จำกัด<br>
                                        คลังสินค้าบริษัท คาร์-โอ-ไลเนอร์ เอแพค ดิสทริบิวชั่น เซ็นเตอร์ จำกัด<br>
                                        คลังสินค้าบริษัท ไฮเชน โลจิสติกส์ (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท ไอ แพคสยาม จำกัด<br>
                                        คลังสินค้าบริษัท ไซ-อาร์กัส จำกัด<br>
                                        คลังสินค้าบริษัท โอเวอร์แลนด์ โทเทิล โลจิสติกส์ (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท โลจิสติกา บีเคเค จำกัด<br>
                                        คลังสินค้าบริษัท โกลบอล โลจิสติกส์ โปรเกรส จำกัด<br>
                                        คลังสินค้าบริษัท แอ็กเซลเล้นท์ อินเตอร์เนชั่นแนล (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท แม่โขงริเวอร์ไทย-มัม จำกัด<br>
                                        คลังสินค้าบริษัท แปซิฟิค อินเตอร์-เฟรท(ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท เอสพีดี อิเลคทริค ไบซิเคิล (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท เอสพี ทรานส์ จำกัด<br>
                                        คลังสินค้าบริษัท เอส เอส เค พี โลจิสติกส์ จำกัด<br>
                                        คลังสินค้าบริษัท เอฟไอทีที จำกัด<br>
                                        คลังสินค้าบริษัท เอ็กซ์ปิไดเตอร์ส (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท เอเซีย อินเตอร์เนชั่นแนล โลจิสติคส์ จำกัด<br>
                                        คลังสินค้าบริษัท เวสปิอาริโอ (ประเทศไทย) จำกัด<br>
                                        คลังสินค้าบริษัท เพอรี่ ฟอร์มเวิร์ค แอนด์ แสคฟโฟลดิ้ง (ไทยแลนด์) จำกัด<br>
                                        คลังสินค้าบริษัท เพอร์เฟค คอมพาเนียน กรุ๊ป จำกัด<br>
                                        คลังสินค้าบริษัท เบสท์ โกลบอล โลจิสติกส์ จำกัด<br>
                                        คลังสินค้าบริษัท เบลฟอร์ (ประเทศไทย) จำกัด<br>
                                        </p>
                                      </div>
                                    </div>
            
                                    <div class="col-lg-3 text-center text-lg-left mt-4 mt-lg-0">
                                      <div class="action-button">
                                      <p>
                                      
                                      (ข3-92-15/63สป)<br>
                                      (ข3-53(9)-2/60สป)<br>
                                      (ข3-73-10/62สป)<br>
                                      (ข3-15(1)-4/58สป)<br>
                                      (ข3-68-1/63สป)<br>
                                      (ข2-23(4)-1/64สป)<br>
                                      (ข3-53(5)-33/63สป)<br>
                                      (ข3-105-27/63สป) <br>
                                      (ข3-64(2)-7/62สป)<br>
                                      (ข3-70-32/61สป)<br>
                                      (ข3-70-33/61สป)<br>
                                      (ข3-77(2)-16/57สป)<br>
                                      (ข3-64(13)-7/56สป)<br>
                                      (ข3-8(1)-30/59สป)<br>
                                      (ข3-39-4/63สป)<br>
                                      (ข3-73-3/61สป)<br>
                                      (ข3-5(5)-1/62สป)<br>
                                      (ข3-71-12/63สป)<br>
                                      (ข3-73-6/61สป)<br>
                                      (ข3-106-5/62สป) <br>
                                      (ข3-68-4/63สป)<br>
                                      (ข3-2(1)-5/63สป)<br>
                                      (ข3-95(1)-221/58สป)<br>
                                      (ข3-11(1)-5/63สป)<br>
                                      (ข3-95(1)-56/63สป)<br>
                                      (ข3-72-14/62สป)<br>
                                      (ข3-83-1/56สป)<br>
                                      (ข3-41(2)-24/57สป)<br>
                                      (ข3-100(4)-1/57สป)<br>
                                      (ข3-2(2)-1/63สป)<br>
                                      (ข3-60-2/60สป)<br>
                                      (ข3-67(2)-2/59สป)<br>
                                      (ข3-77(2)-25/63สป)<br>
                                      (ข3-13(2)-10/55สป)<br>
                                      (ข3-64(12)-19/61สป)<br>
                                      (ข3-48(3)-1/62สป)<br>
                                      (ข3-91(1)-2/60สป) <br>
                                      (ข3-72-17/56สป)<br>
                                      (ข3-63(2)-9/63สป)<br>
                                      (ข3-53(5)-87/58สป)<br>
                                      (ข3-64(9)-4/62สป)<br>
                                      (ข2-64(13)-2/63สป)<br>
                                      (ข3-101-4/59สป) <br>
                                      (ข3-11(5)-2/63สป)<br>
                                      (ข3-86-1/58สป)<br>
                                      (ข3-61-11/56สป)<br>
                                      (ข3-67(8)-3/57สป)<br>
                                      (ข3-12(8)-2/62สป)<br>
                                      (ข3-74(1)-2/63สป)<br>
                                      (ข3-71-6/63สป)<br>
                                      (ข3-64(11)-10/63สป)<br>
                                      (ข3-40(2)-5/55สป)<br>
                                      (ข3-100(1)-5/61สป) <br>
                                      (ข3-100(1)-1/56สป)<br>
                                      (ข3-53(5)-174/61สป)<br>
                                      (ข3-77(1)-5/62สป)<br>
                                      (ข3-64(13)-57/61สป)<br>
                                      (ข3-67(7)-3/57สป)<br>
                                      (ข3-41(2)-14/58สป)<br>
                                      (ข3-64(8)-1/62สป)<br>
                                      (ข3-77(2)-32/56สป)<br>
                                      (ข3-41(2)-19/59สป)<br>
                                      (ข3-73-2/60สป)<br>
                                      (ข3-106-37/58สป)<br>
                                      (ข3-8(2)-8/61สป)<br>
                                      (ข3-13(2)-5/63สป)<br>
                                      (ข3-84(1)-2/59สป)<br>
                                      (ข3-64(9)-2/59สป)<br>
                                      (ข3-40(2)-5/62สป)<br>
                                      (ข3-8(1)-21/60สป)<br>
                                      (ข3-53(4)-53/63สป)<br>
                                      (ข3-64(13)-9/57สป)<br>
                                      (ข3-53(4)-49/62สป)<br>
                                      (ข3-41(1)-6/63สป)<br>
                                      (ข3-52(4)-2/59สป)<br>
                                      (ข3-72-21/54สป)<br>
                                      (ข3-67(6)-1/58สป)<br>
                                      <br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -<br>
                                      -
                                      </p>
                                      </div>
                                    </div>
                                  </div>  	
                                </div>	
                              </div>
                            </div>
                          </div>	
                        </section>';    
                        
            }else if($fac == 'เขตประกอบการอุตสาหกรรมนวนคร นครราชสีมา'){
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      1.<br>
                                        2.<br>
                                        3.<br>
                                        4.<br>
                                        5.<br>
                                        6.<br>
                                        7.<br>
                                        8.<br>
                                        9.<br>
                                        10.<br>
                                        11.<br>
                                        12.<br>
                                        13.<br>
                                        14.<br>
                                        15.<br>
                                        16.<br>
                                        17.<br>
                                        18.<br>
                                        19.<br>
                                        20.<br>
                                        21.<br>
                                        22.<br>
                                        23.
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      บริษัท นวนคร จำกัด (มหาชน) <br>
                                      บริษัท สยามซานิทารีฟิตติ้งส์ จำกัด <br>
                                      บริษัท สยาม ฟูโกกุ จำกัด <br>
                                      บริษัท สยาม ฟูโกกุ จำกัด <br>
                                      บริษัท สยาม ฟูโกกุ จำกัด <br>
                                      บริษัท ยูนิออน เซอิมิซึ (ไทยแลนด์) จำกัด <br>
                                      บริษัท นิสเซ อิเล็กทริค (ประเทศไทย) จำกัด <br>
                                      บริษัท นิปปอน เอ็กซ์เพรส โลจิสติกส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท นาคากาวา ซังเกียว (ไทยแลนด์) จำกัด <br>
                                      บริษัท นาคากาวา ซังเกียว (ไทยแลนด์) จำกัด <br>
                                      บริษัท ธนบุรีอ๊อกซิเย็น จำกัด <br>
                                      บริษัท ชิปโป อาซาฮีโมลด์ส (ประเทศไทย) จำกัด <br>
                                      บริษัท คอนโด ไกรน์ดิ้ง แมชชีน (ไทยแลนด์) จำกัด <br>
                                      บริษัท ไทยมิตซูวา จำกัด (มหาชน) <br>
                                      บริษัท โทชิน เทคโนโลยี (ประเทศไทย) จำกัด <br>
                                      บริษัท แคนนอน ไฮ-เทค (ประเทศไทย) จำกัด <br>
                                      บริษัท แคนนอน ไฮ-เทค (ประเทศไทย) จำกัด <br>
                                      บริษัท เอ็มคลีน เทคโนโลยี (ประเทศไทย) จำกัด <br>
                                      บริษัท เอ็มเอ็มไอ พรีซิชั่น แอสเซมบลิ (ไทยแลนด์) จำกัด <br>
                                      บริษัท เอ็นอีพี อสังหาริมทรัพย์และอุตสาหกรรม จำกัด <br>
                                      บริษัท เอ.แอล.เอ็ม.ที. (ประเทศไทย) จำกัด <br>
                                      บริษัท เวอร์เท็กซ์ อินเตอร์เนชั่นแนล (ไทยแลนด์) จำกัด <br>
                                      บริษัท เพ็ทฟอร์ม (ไทยแลนด์) จำกัด 
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-left mt-4 mt-lg-0">
                                    <div class="action-button">
                                    <p>
                                    (ข3-90-4/51นม)<br>
                                    (ข3-64(8)-4/56นม)<br>
                                    (ข3-52(4)-1/56นม)<br>
                                    (ข3-52(4)-1/56นม)<br>
                                    (ข3-52(4)-1/56นม)<br>
                                    (ข3-64(6)-3/58นม)<br>
                                    (ข3-74(2)-1/56นม)<br>
                                    -<br>
                                    (ข3-77(2)-55/57นม)<br>
                                    (ข3-77(2)-61/55นม)<br>
                                    (ข3-91(2)-4/60นม)<br>
                                    (ข3-67(7)-12/56นม)<br>
                                    (ข3-67(2)-7/57นม)<br>
                                    (ข3-72-19/62นม)<br>
                                    (ข3-72-16/57นม)<br>
                                    (ข3-72-28/54นม)<br>
                                    (ข3-72-28/54นม)<br>
                                    (ข3-53(4)-49/63นม)<br>
                                    (ข3-69-6/50นม)<br>
                                    (ข3-53(4)-28/55นม)<br>
                                    (ข3-67(7)-7/55นม)<br>
                                    (ข3-72-11/51นม)<br>
                                    (ข3-53(4)-45/55นม)
                                    </p>
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';  
            
            }else if($fac == 'เขตประกอบการอุตสาหกรรม จี.เค. แลนด์ ระยอง'){
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      1.<br>
                                      2.<br>
                                      3.<br>
                                      4.<br>
                                      5.<br>
                                      6.<br>
                                      7.
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      บริษัท จี.เค.แลนด์ จำกัด <br>
                                      บริษัท จี.เค.แลนด์ จำกัด <br>
                                      บริษัท คาวาซากิ มอเตอร์ เอ็นเตอร์ไพรส์ (ประเทศไทย) จำกัด <br>
                                      บริษัท ไทยอาซาฮี เดนโซ่ จำกัด <br>
                                      บริษัท ไทยสเปเชี่ยลแก๊ส จำกัด <br>
                                      บริษัท แปซิฟิค ออโต้พาร์ท (ไทยแลนด์) จำกัด <br>
                                      บริษัท เชี่ยวชาญ อินดัสทรี่ (1989) จำกัด <br>
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-left mt-4 mt-lg-0">
                                    <div class="action-button">
                                    <p>
                                    (ข3-101-1/40รย)<br>
                                    (ข3-90-1/40รย)<br>
                                    (ข3-78(1)-1/40รย)<br>
                                    (ข3-78(2)-1/43รย)<br>
                                    (ข3-91(2)-12/57รย)<br>
                                    (ข3-64(2)-1/62รย)<br>
                                    (ข3-77(2)-7/61รย)<br>
                                    </p>
                                    
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';  
            
            }else{
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      ไม่มีข้อมูล
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                                    <div class="action-button">
                                    
                                    
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';  
            }
            ?>


<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">

    <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
        <div class="container">
            <a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="<?= $this->basePath('img/logo1.png') ?>" style="width: 64px;" alt="logo"></a><a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="img/logo-text.png" style="width: 200px;" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/') ?>">หน้าหลัก</a>
                    </li>
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/news') ?>">ข่าวสาร</a>
                    </li>
                   		
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">ผลการศึกษา
                      <span><i class="ti-angle-down"></i></span>
                      </a>
                    <!-- Dropdown list -->
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="<?= $this->basePath('/results') ?>">ผลการศึกษาปี 2564</a></li>
                      <li><a class="dropdown-item" href="<?= $this->basePath('/results2566') ?>">ผลการศึกษาปี 2566</a></li>

                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!--================================
=            Page Title            =
=================================-->
<section class="company-fun-facts section" style="padding-bottom: 0px;">
	<div class="container">
		<div class="row">
			
		</div>
		<div class="row">		
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/target?fac='.$fac) ?>">
					<i class="ti-target"></i>
					<h3>อุตสาหกรรมเป้าหมาย</h3>
					</a>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/nontarget?fac='.$fac) ?>">
					<i class="ti-na"></i>
					<h3>อุตสาหกรรมห้ามตั้ง</h3>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/factory?fac='.$fac) ?>">
					<i class="ti-home"></i>
					<h3>โรงงานในเขตประกอบการ</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>โรงงานในเขตประกอบการ</h1>
				<h4><?php echo $fac ?><h4>
				<!-- Page Description -->
				
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--======================================
=            Featured Article            =
=======================================-->


<!--====  End of Featured Article  ====-->

					
          <?php
							echo $temp;
					?>
				


<!--============================
=            Footer            =
=============================-->
<footer>
	<div class="text-center bg-dark py-4">
	  <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="http://www.fictgroup.com/" target="_blank">FICT Associate</a></small class="text-secondary">
	</div>
  
	  
  </footer>
  
  
	<!-- To Top -->
	<div class="scroll-top-to">
	  <i class="ti-angle-up"></i>
	</div>
	
	<!-- JAVASCRIPTS -->
	<script src="plugins/jquery/jquery.min.js"></script>
	<script src="plugins/bootstrap/bootstrap.min.js"></script>
	<script src="plugins/slick/slick.min.js"></script>
	<script src="plugins/fancybox/jquery.fancybox.min.js"></script>
	<script src="plugins/syotimer/jquery.syotimer.min.js"></script>
	<script src="plugins/aos/aos.js"></script>
	<!-- google map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
	<script src="plugins/google-map/gmap.js"></script>
	
	<script src="js/script.js"></script>
  
	<script>
	  // Get the modal
	  var modal = document.getElementById("myModal");
	  
	  // Get the image and insert it inside the modal - use its "alt" text as a caption
	  var img = document.getElementById("myImg");
	  var modalImg = document.getElementById("img01");
	  var captionText = document.getElementById("caption");
	  img.onclick = function(){
		modal.style.display = "block";
		modalImg.src = this.src;
		captionText.innerHTML = this.alt;
	  }
	  
	  // Get the <span> element that closes the modal
	  var span = document.getElementsByClassName("close")[0];
	  
	  // When the user clicks on <span> (x), close the modal
	  span.onclick = function() { 
		modal.style.display = "none";
	  }
	  </script>
  </body>

  
  </html>