<div class="card">
    <div class="header">
        <h2>
            <?= $this->translate('group') ?>
            <small></small>
        </h2>
        <ul class="header-dropdown m-r--5 hidden-print">
            <li data-toggle="modal" data-target="#add-modal">
                <a href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="body">
        <form>
            <div class="row justify-content-md-center">
                <div class="col-sm-8"></div>
                <div class="col-sm-4 offset-sm-4">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">search</i>
                        </span>
                        <div class="form-line">
                            <input type="text" name="search" id="search" class="form-control" placeholder="<?= $this->translate('search') ?>" value="<?php echo $this->search; ?>">
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="50">#</th>
                    <th><?= $this->translate('name') ?></th>
                    <th width="50"></th>
                </tr>
            </thead>
            <tbody>
                <?php
                $no = ($this->number * $this->page) - $this->number;
                foreach ($this->paginator as $row) :
                    $no++;
                ?>
                    <tr>
                        <td>
                            <?php echo $no; ?>
                        </td>
                        <td><?php echo $this->escapeHtml($row->user_group_name); ?></td>
                        <th>

                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">

                                        <li><a href="javascript:edit(<?= $row->user_group_id ?>)" class=" waves-effect waves-block"><i class="material-icons">edit</i> <?= $this->translate('edit') ?></a></li>
                                        <li><a href="javascript:remove(<?= $row->user_group_id ?>);" class=" waves-effect waves-block"><i class="material-icons">delete</i> <?= $this->translate('delete') ?></a></li>
                                    </ul>
                                </li>
                            </ul>

                        </th>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

        <?php
        echo $this->paginationControl(
            $this->paginator,
            'sliding',
            'partial/paginator.phtml',
            array(
                'route' => 'admin',
                'action' => 'group',
                'search' => $this->search
            )
        );
        ?>
    </div>
</div>

<form id="fm-edit">
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><?= $this->translate('edit'); ?></h4>
                </div>
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="user_group_name" id="user_group_name" placeholder="<?= $this->translate('group name'); ?>" required>

                                </div>
                            </div>
                        </div>
                    </div>
                    <h4><?= $this->translate('permission'); ?></h4>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th width="100"></th>
                                <th width="100"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <?= $this->translate('administrator') ?>
                                </td>
                                <td>
                                    <input type="checkbox" name="admin" id="checkbox_admin" class="chk-col-light-blue" value="1" />
                                    <label for="checkbox_admin">&nbsp;</label>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <?= $this->translate('edit layer') ?>
                                </td>
                                <td>
                                    <input type="checkbox" name="edit_layer" id="checkbox_edit_layer" class="chk-col-light-blue" value="1" />
                                    <label for="checkbox_edit_layer">&nbsp;</label>
                                </td>
                                <td>

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <?= $this->translate('layers') ?>
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="padding: 0px;">

                                    <div id="layer-box" class="p-l-20"></div>

                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success waves-effect font-upper" onClick="save()"><?= $this->translate('save'); ?></button>
                    <button type="button" class="btn btn-link waves-effect font-upper" data-dismiss="modal"><?= $this->translate('close'); ?></button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var groupId;

    function edit(id) {

        groupId = id;
        $.post('<?= $this->url('admin', ['action' => 'groupinfo']) ?>', {
            'group_id': id
        }, function(res) {

            // console.log(res);

            var json = JSON.parse(res);
            // console.log(json);
            // console.log(permission);

            var permission = JSON.parse(json.user_group_permission);
            console.log(permission);

            var admin = "";
            var editLayer = "";
            var subcontractor = "";
            if (typeof permission.admin !== "undefined") {
                admin = permission.admin;
            }

            if (typeof permission.edit_layer !== "undefined") {
                editLayer = permission.edit_layer;
            }

            if (typeof permission.subcontractor !== "undefined") {
                subcontractor = permission.subcontractor;
            }

            $('#checkbox_admin').prop('checked', admin);
            $('#checkbox_edit_layer').prop('checked', editLayer);
            $('#checkbox_subcontractor').prop('checked', subcontractor);

            $('#user_group_name').val(json.user_group_name);

            // console.log(json.group_layers);

            var html = '';
            for (var index in json.group_layers) {
                html += '- ' + json.group_layers[index].layer_group_name;
                for (var i in json.group_layers[index].layers) {
                    var layer = json.group_layers[index].layers[i];
                    html += '<div>';
                    html += '<input name="layers[]" value="' + layer.layer_id + '" type="checkbox" id="checkbox_layer_' + layer.layer_name + '" class="chk-col-light-blue" ' + layer.checked + '/>';
                    html += '<label for="checkbox_layer_' + layer.layer_name + '" >' + layer.layer_name + '</label>';
                    html += '</div> ';
                }
            }

            $('#layer-box').html(html);
            $('#edit-modal').modal("show");

        });

    }

    function save() {

        var data = $('#fm-edit').serialize();
        data += '&group_id=' + groupId;

        $.post('<?= $this->url('admin', ['action' => 'editgroup']) ?>', data, function(res) {
            console.log(res);
            $('#edit-modal').modal('hide')

        });
    }
</script>