<div class="card">
    <div class="header">
        <h2>
            <?= $this->translate('log') ?>
            <small></small>
        </h2>
    </div>
    <div class="body">
        <form>
            <div class="row justify-content-md-center">
                <div class="col-sm-8"></div>
                <div class="col-sm-4 offset-sm-4">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">search</i>
                        </span>
                        <div class="form-line">
                            <input type="text" name="search" id="search" class="form-control" placeholder="<?= $this->translate('search') ?>" value="<?php echo $this->search; ?>">
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="50">#</th>
                    <th><?= $this->translate('type') ?></th>
                    <th><?= $this->translate('detail') ?></th>
                    <th><?= $this->translate('time') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                $no = ($this->number * $this->page) - $this->number;
                foreach ($this->paginator as $row) :
                    $no++;
                ?>
                    <tr>
                        <td>
                            <?php echo $no; ?>
                        </td>
                        <td><?php echo $this->escapeHtml($row->log_type); ?></td>
                        <td><?php echo $this->escapeHtml($row->log_message); ?></td>
                        <td><?php echo $this->escapeHtml($row->log_date); ?></td>

                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

        <?php
        echo $this->paginationControl(
            $this->paginator,
            'sliding',
            'partial/paginator.phtml',
            array(
                'route' => 'admin',
                'action' => 'log',
                'search' => $this->search
            )
        );
        ?>
    </div>
</div>